<table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="table table-striped table-bordered table-hover" show-filter="false">
  <thead>
    <tr>
      <th class="text-center">
        <!-- <input type="checkbox" ng-click="vm.applyCheckAll()" ng-model="vm.checkAll"> -->
      </th>
      <th>Username</th>
      <th>Enabled</th>
      <th>Status</th>
      <th>CreateDate</th>
      <th>Attributes</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in vm.userList">
      <td class="text-center">
        <input type="checkbox" ng-model="user.check"></input>
      </td>
      <td>{{user.Username}}</td>
      <td>{{(user.Enabled)?"Enabled":"Disabled"}}</td>
      <td>{{user.UserStatus}}</td>
      <td>{{user.UserCreateDate}}</td>
      <td>
        <li ng-repeat="attribute in user.Attributes">
          {{attribute.Name}}: {{attribute.Value}}
        </li>
      </td>
      <td>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.edit(user)"><i class="fa fa-paste"></i> Edit</button>
      </td>
    </tr>
</table>

