<div class="profile-element" uib-dropdown>
	<img alt="image" class="img-circle" src="/assets/img/profile_small.jpg"/>
	<a uib-dropdown-toggle href>
		<span class="clear">
			<span class="block m-t-xs">
				<strong class="font-bold">{{vm.fullname}}</strong>
			</span>
			<span class="text-muted text-xs block">Developer<b class="caret"></b></span>
		</span>
	</a>
	<ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
		<li><a ui-sref="my.profile" ng-click="vm.profile()">Profile</a></li>
		<li><a ui-sref="my.contacts">Contacts</a></li>
		<li><a ui-sref="my.inbox">Mailbox</a></li>
		<li class="divider"></li>
		<li><a ng-click="vm.logout()">Logout</a></li>
	</ul>
</div>
<div class="logo-element">
	NM+
</div>
