<div class="ibox relPin">
	<div class="ibox-title">
		<i class="fa fa-chevron-left m-t-sm m-r-md" style="font-size:24px" ng-click="vm.back()"></i>
		<h3 class="inlineBlock">  {{vm.pkg.Package}} 설정</h3>
	</div>
	<div class="ibox-content">
		<label class="restoreBtn">
			<input type="file" class="ng-isolate-scope" fileread="vm.pickedFile" on-read="vm.onFileSelect">
			<b>설정파일</b>
		</label>
		<uib-tabset>
				<uib-tab heading="{{vm.heading[key]}}" ng-repeat="(key, value) in vm.heading">
						<div class="panel-body">
							<angular-jsoneditor ng-model="vm.pkgConfig[key]" options="vm.options"></angular-jsoneditor>
						</div>
				</uib-tab>
		</uib-tabset>
		<div class="ibox-footer clearfix">
			<button class="btn btn-primary pull-right" ng-click="vm.update()">적용</button>
		</div>
	</div>
</div>