<div class="scene-modal-top clearfix text-align-right">
	<div class="input-group search">
			<input type="text" class="form-control" />
	</div>
	<button class="cancel btn btn-white" ng-click="vm.close()">X</button>
</div>
<div class="scene-modal-content clearfix">
	<div class="col-md-9">
		<ul class="list-unstyled scene-modal-add-component">
			<li class="row">
				<div class="col-sm-2"><b>포맷</b></div>
				<div class="col-sm-4"><b>이름</b></div>
				<div class="col-sm-2"><b>크기</b></div>
				<div class="col-sm-2"><b>올린날짜</b></div>
				<div class="col-sm-2"><b>수정한 날짜</b></div>
			</li>
			<li class="row">
				<div class="col-sm-2"><i class="fa fa-folder f-s-xl"></i></div>
				<div class="col-sm-4">PRODUCT1</div>
				<div class="col-sm-2">--</div>
				<div class="col-sm-2">--</div>
				<div class="col-sm-2">--</div>
			</li>
			<li class="row">
				<div class="col-sm-2"><i class="fa fa-file f-s-xl"></i></div>
				<div class="col-sm-4">file1</div>
				<div class="col-sm-2">192kb</div>
				<div class="col-sm-2">2017.04.18</div>
				<div class="col-sm-2">2017.04.19</div>
			</li>
		</ul>
	</div>
	<div class="col-md-3 gray-bg">
		<div class="scene-modal-content-img">
			<img src="/assets/img/p1.jpg" alt="img1"/>
		</div>
		<p>p1.jpg</p>
		<ul class="list-unstyled scene-modal-content-desc-list">
			<li>
				<b>만든날짜</b> <span>2017.01.03</span>
			</li>
			<li>
				<b>수정한날짜</b> <span>2017.02.03</span>
			</li>
			<li>
				<b>컨텐츠포함</b> <span>영상1,이미지2</span>
			</li>
			<li>
				<b>크기</b> <span>1GB</span>
			</li>
			<li>
				<b>위치</b> <span>00:30:00</span>
			</li>
		</ul>
	</div>
</div>
<div class="scene-modal-footer row">
	<div class="col-md-9">

	</div>
	<div class="col-md-3">
		<div class="scene-modal-content-btn">
			<button class="btn btn-lg btn-success">불러오기</button>
		</div>
	</div>
</div>
