<div class="listMenu">
	<button type="button" name="button" class="btn changeIndexBtn" ng-click="vm.changeIndex()">순서변경적용</button>
	<ul class="list-unstyled clearfix" ui-sortable ng-model="vm.configs">
		<li class="col-sm-6 col-lg-3" ng-repeat="theme in vm.configs track by $index" ng-class="{applyTheme: vm.useDefaultId===theme.id}">
			<div class="cardBox">
				<div class="cardBox-img">
					<img ng-src="{{theme.thumbnail}}">
				</div>
				<div class="cardBox-desc clearfix">
					<h4>{{theme.id}}</h4>
					<div class="pull-right">
						<button class="btn btn-danger" type="button" ng-click="vm.removeTheme($index)">제거</button>
						<button class="btn btn-success" type="button" ng-click="vm.updateTheme($index)">수정</button>
						<button class="btn btn-info" type="button" ng-click="vm.applyTheme(theme)" ng-hide="vm.useDefaultId===theme.id">적용</button>
					</div>
				</div>
			</div>
		</li>
		<li class="col-sm-6 col-lg-3">
			<div class="cardBox createTheme">
				<div class="cardBox-img">
					<a>
						<i class="fa fa-plus-circle"></i>
						<b class="f-s-lg text-info">새 테마 추가</b>
					</a>
					<span class="btnArea">
						<button type="button" ng-click="vm.addTheme()" class="btn btn-primary">새로 만들기</button>
						<button type="button" ng-click="vm.uploadTheme()" class="btn btn-info">업로드 하기</button>
					</span>
				</div>
			</div>
			<div class="createTheme mobile">
				<a ng-click="vm.addTheme()()"><i class="fa fa-plus-circle"></i></a>
			</div>
		</li>
	</ul>
</div>
