<div class="row wrapper page-heading">
		<h2>
			모드
		</h2>
		<ol class="breadcrumb">
			<li>장비 전환 모드</li>
		</ol>
</div>
<div class="wrapper wrapper-content animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<ui-view options="vm.options"></ui-view>
			</div>
		</div>
	</div>
</div>
