<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">계정 삭제</h4>
    </div>
    <form role="submit" ng-submit="vm.delete()">
        <div class="modal-body">
            <p>
                <strong>삭제한 유저는 복구할 수 없습니다.</strong><br/>
                유저를 삭제하시려면 'delete'를 입력해 주세요.
            </p>
            <input class="form-control" ng-model="vm.confirm">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="vm.cancel()">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>

