<div class="col-md-12">
	<div class="ibox">
		<div class="ibox-title relPin">
			<div class="clearfix">
						<div class="input-group">
							<input type="text" placeholder="템플릿 이름" class="form-control"/>
						</div>
					</div>
					<div class="addScene-func-btns">
							<button class="btn btn-white"><i class="fa fa-search-plus"></i></button>
							<button class="btn btn-success"><i class="fa fa-download"></i></button>
					</div>
		</div>
		<div class="ibox-content">
			<div class="row">
				<div class="col-md-4">
					<div class="sceneLayer">
						<img src="/assets/img/p1.jpg" alt="img1"/>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label>배경</label>
						<div class="input-group">
						  <input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-white" ng-click="vm.add()">불러오기</button>
							</span>
						</div>
						<span>1000 x 1000 사이즈에 최적화되어 있습니다, jpg, png, bmp 지원</span>
					</div>
					<div class="form-group">
						<label>로고</label>
						<div class="input-group">
						  <input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-white" ng-click="vm.add()">불러오기</button>
							</span>
						</div>
						<span>1000 x 1000 사이즈, png 에 최적화되어 있습니다, jpg, png, bmp 지원</span>
					</div>
					<div class="form-group">
						<label>동영상</label>
						<div class="input-group">
						  <input type="text" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-white" ng-click="vm.add()">불러오기</button>
							</span>
						</div>
						<span>1000 x 1000 사이즈, mp4 에 최적화되어 있습니다, jpg, png, bmp 지원</span>
					</div>
					<div class="textAngularArea">
						<text-angular ng-model="htmlVariable"></text-angular>
					</div>
					<div class="form-group">
						<label>전환이펙트</label>
						  <select class="form-control">
						  	<option>깜빡이기</option>
								<option>페이드 아웃</option>
								<option>페이드 인</option>
						  </select>
					</div>
				</div>
			</div>
		</div>
		<div class="ibox-footer text-align-right">
				<button class="btn btn-lg btn-white" ng-click="vm.preview()">미리보기</button>
				<button class="btn btn-lg btn-success">저장하기</button>
		</div>
	</div>
</div>
