<div class="inmodal">
  <div class="modal-header">
    <!-- <i class="fa fa-laptop modal-icon"></i> -->
    <h4 class="modal-title">Create New User</h4>
    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
  </div>
  <form role="submit" ng-submit="vm.createUser()">
    <div class="modal-body">
      <p><strong>Input user attributes</strong></p>
      <p><strong>User Type: {{vm.manager?'Manager':'User'}}</strong></p>
      <div class="form-group">
        <label>Username</label>
        <input placeholder="Username" class="form-control" required="" ng-model="vm.username">
      </div>
      <div class="form-group">
        <label>Temporary Password</label>
        <input type="password" placeholder="Password" class="form-control" required="" ng-model="vm.password">
      </div>
      <div class="form-group">
        <label>Name</label>
        <input placeholder="Name" class="form-control" ng-model="vm.attributes.name" required="">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input placeholder="Email" class="form-control" ng-model="vm.attributes.email" required="">
      </div>
      <div class="form-group" ng-hide="vm.manager">
        <label>Type</label>
        <select class="form-control m-b" name="customer" ng-model="vm.attributes.type">
            <option ng-repeat="type in vm.typeList">{{type}}</option>
        </select>
      </div>
      <div class="form-group" ng-hide="vm.manager">
        <label>Customer</label>
        <select class="form-control m-b" name="customer" ng-model="vm.attributes.customer">
            <option ng-repeat="customer in vm.customerList">{{customer.name}}</option>
        </select>
      </div>
      <div class="form-group" ng-hide="vm.manager">
        <label>Permission</label>
        <div class="row">
          <div class="col-md-3">
            <input placeholder="Prefix" class="form-control" value="{{vm.attributes.customer}}_" ng-disabled="true">
          </div>
          <div class="col-md-9">
            <input placeholder="Permission" class="form-control" ng-model="vm.attributes.permission">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>