<div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
					<h3>비밀번호 변경</h3>
				</div>
				<form role="form" ng-submit="vm.changePassword()">
					<div class="ibox-content">
						<div class="form-group">
							<label>현재 비밀번호</label>
							<input type="password" required="" placeholder="현재 비밀번호" class="form-control" ng-model="vm.oldPassword">
						</div>
						<div class="form-group">
							<label>새 비밀번호</label>
							<input type="password" required="" placeholder="새 비밀번호" class="form-control" ng-model="vm.newPassword">
						</div>
						<div class="form-group">
							<label>비밀번호 확인</label>
							<input type="password" required="" placeholder="비밀번호 확인" class="form-control" ng-model="vm.confirmPassword">
						</div>
						<br/>
					</div>
					<div class="ibox-footer clearfix">
						<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
							<strong>변경</strong>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
