<div class="scene-modal-top clearfix">
	<span class="moveBtn">
		<button class="btn btn-white">&lt;</button>
		<button class="btn btn-white">&gt;</button>
	</span>
	<button class="cancel btn btn-white" ng-click="vm.close()">X</button>
</div>
<div class="scene-modal-content clearfix">
	<div class="col-sm-5">
		 <div class="scene-modal-content-img">
			 <img src="/assets/img/p1.jpg" alt="image1" />
		 </div>
	</div>
	<div class="col-sm-7">
		<div class="scene-modal-content-desc">
		 <h3>Consulting</h3><span>버전 : 3.5.6</span><br/>
		 <p>coplyright 2012-2016 Consulting Theme by <span class="text-info">nemoux</span>. All rights reserved</p>
		 <button class="btn scene-tempBtn">중도저장</button>
		 <ul class="list-unstyled scene-modal-content-desc-list">
			 <li>
				 <b>제작 날짜</b> <span>2017.01.23</span>
			 </li>
			 <li>
				 <b>수정 날짜</b> <span>2017.01.23</span>
			 </li>
			 <li>
				 <b>컨텐츠</b> <span>영상 1 , 이미지 2</span>
			 </li>
			 <li>
				 <b>용량</b> <span>1GB</span>
			 </li>
			 <li>
			 <b>재생시간</b> <span>00:30:00</span>
			 </li>
		 </ul>
		</div>
		<div class="scene-modal-content-btn">
			<button class="btn btn-info">삭제하기</button>
			&nbsp;
			<button class="btn btn-success">수정하기</button>
		</div>
	</div>
</div>
