<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>이메일 인증</h5>
  </div>
  <div class="ibox-content text-center" ng-show="vm.emailVerified">
    <label>인증 완료</label>
  </div>
  <form role="form" ng-submit="vm.verifyEmail()">
    <div class="ibox-content" ng-hide="vm.emailVerified">
      <div class="form-group">
        <label>코드</label>
        <div class="input-group">
          <input class="form-control" ng-model="vm.code" style="width:95%">
          <div class="input-group-btn">
            <button class="btn btn-block btn-info" type="button" ng-click="vm.sendVerificationCode()">
              <strong>코드 전송</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ibox-footer">
      <div class="clearfix">
        <button class="btn btn-info pull-right" type="submit" ng-hide="vm.emailVerified">
          <strong>인증</strong>
        </button>
      </div>
    </div>
  </form>
</div>
