<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Verify Email</h5>
  </div>
  <div class="ibox-content" ng-show="vm.emailVerified">
    <label>Already verified</label>
  </div>
  <div class="ibox-content" ng-hide="vm.emailVerified">
    <button class="btn btn-block btn-primary btn-outline m-t-n-xs" type="submit" ng-click="vm.sendVerificationCode()">
      <strong>Send Code</strong>
    </button>
    <form role="form" ng-submit="vm.verifyEmail()">
      <div class="form-group">
        <label>Code</label>
        <input placeholder="Verification Code" class="form-control" ng-model="vm.code">
      </div>
      <div>
        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
          <strong>Submit</strong>
        </button>
      </div>
      <br/>
    </form>
  </div>
</div>