<div class="packageIndex">
  <uib-tabset active="vm.active">
    <uib-tab heading="{{tab.title}}" select="vm.select(tab.value)" ng-repeat="tab in vm.tabs">
    </uib-tab>
    <pkg-list ng-if="vm.resolve.index" resolve="vm.resolve"></pkg-list>
  </uib-tabset>
</div>
