<div class="inmodal">
  <div class="modal-header">
    <h4 class="modal-title">폴더 생성</h4>
  </div>
  <form role="submit" >
    <div class="modal-body">
      <div class="form-group">
        <label>폴더명</label>
        <input type="text" placeholder="이름" class="form-control" ng-model="vm.folderName">
        <span class="text-danger" ng-show="vm.error">{{vm.error}}</span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">취소</button>
      <button type="submit" class="btn btn-primary" ng-click="vm.mkdir()">생성</button>
    </div>
  </form>
</div>
