<div class="ibox clearfix backupbox">
	<div class="col-md-4">
		<div class="progressBox">
			<ul class="list-unstyled">
				<li>
					<span class="number ">1</span>
					<h4>데이터 선택</h4>
					<p>백업하고자 하는 파일을 선택합니다.</p>
				</li>
				<li>
					<span class="number checked">2</span>
					<h4>데이터의 위치 선택</h4>
					<p>자신이 백업하고자 하는 데이터의 위치를 선택합니다.</p>
				</li>
				<li>
					<span class="number">3</span>
					<h4>기기 선택</h4>
					<p>클라우드 경우 클라우드 내부 기기를 선택합니다.</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8">
		<div class="ibox-title">
			<h3>백업하려는 위치</h3>
			<span class="text-navy">백업하려는 위치를 선택하십시오</span>
		</div>
		<div class="ibox-content clearfix">
			<div ng-show="$root.SNOW_MODE === 'local'" class="col-xs-6 text-center f-s-xl ">
				<input type="radio" id="backupUsb" name="backupDir" class="inputBtn" ng-model="vm.options.dest" ng-value="'usb'" />
				<label for="backupUsb" class="choiceBtn" ng-class="{checked:vm.options.dest==='usb'}">
				<i class="fa fa-usb f-s-xl m-t-md"></i>
				<h4 class="p-h-md">USB</h4>
			</label>
			</div>
			<div ng-show="$root.SNOW_MODE === 'cloud'" class="col-xs-6 text-center f-s-xl ">
				<input type="radio" id="backupLocal" name="backupDir" class="inputBtn" ng-model="vm.options.dest" ng-value="'local'" />
				<label for="backupLocal" class="choiceBtn" ng-class="{checked:vm.options.dest==='local'}">
				<i class="fa fa-download f-s-xl m-t-md"></i>
				<h4 class="p-h-md">다운로드</h4>
			</label>
			</div>
			<div class="col-xs-6 text-center f-s-xl ">
				<input type="radio" id="backupServer" name="backupDir" class="inputBtn" ng-model="vm.options.dest" ng-value="'cloud'" ng-disabled="$root.SNOW_MODE === 'local' && !vm.network.status" />
				<label for="backupServer" class="choiceBtn" ng-class="{checked:vm.options.dest==='cloud'}">
				<i class="fa fa-cloud f-s-xl m-t-md"></i>
				<h4 class="p-h-md">클라우드</h4>
				<span class="text-warning f-s-sm" ng-hide="$root.SNOW_MODE !== 'local' || vm.network.status">인터넷 연결이 필요합니다</span>
			</label>
			</div>
		</div>
		<div class="ibox-footer clearfix">
			<button class="btn btn-step pull-left m-t-sm m-b-sm" type="submit" ui-sref="backup.1">
			<strong>이전</strong>
		</button>
			<button class="btn btn-step pull-right m-t-sm m-b-sm" type="submit" ui-sref="backup.3" ng-disabled="!vm.options.dest" ng-show="$root.SNOW_MODE === 'local' && vm.options.dest === 'usb'">
			<strong>다음</strong>
		</button>
			<button class="btn btn-step pull-right m-t-sm m-b-sm" type="submit" ng-click="vm.confirmBackup()" ng-disabled="!vm.options.dest" ng-hide="$root.SNOW_MODE === 'local' && vm.options.dest === 'usb'">
			<strong>백업</strong>
		</button>
		</div>
	</div>
</div>
