<div class="row relPin">
	<label class="uploadThemeFile">
		<input type="file" class="ng-isolate-scope" fileread="vm.pickedFile" on-read="vm.onFileSelect" accept=".json">
		<strong>파일 불러오기</strong>
	</label>

	<div class="row" services="vm.services" layers="vm.layers">
		<div class="col-md-12">
			<uib-tabset>
				<uib-tab heading="UI모드">
					<div class="ibox">
						<div class="ibox-title">
							<div class="row clearfix">
								<span class="btn-group pull-right applyBtns">
									<button class="btn btn-danger" ui-sref="theme.themeList" type="button">취소</button>
									<button class="btn btn-info" type="submit" ng-click="vm.addTheme()">적용</button>
								</span>
							</div>
						</div>
						<div class="ibox-content">
							<ul class="list-unstyled">
								<li ng-repeat="theme in vm.files" class="uploadThemeList clearfix">
									<div class="row">
										<div class="input-group">
											<input type="text" value="테마이름" class="themeName" ng-model="theme.id" placeholder="테마 이름" />
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<h4 class="addTheme-layers-title">레이어 설정</h4>
											<ul class="addTheme-layers list-unstyled" ui-sortable ng-model="theme.layers">
												<li class="clearfix addTheme-layers-layer" ng-repeat="layer in theme.layers">
													<span class="f-s-lg text-info">{{layer.id}}</span>
													<span class="btn-group pull-right">
														<button class="btn btn-sm btn-info" ng-click="vm.editLayer($index)">설정</button>
														<button class="btn btn-sm btn-danger" ng-click="vm.removeLayer($index)">제거</button>
													</span>
												</li>
											</ul>
											<add-theme-add-layer services="vm.services" layers="vm.layers"></add-theme-add-layer>
										</div>
										<div class="col-md-6">
											<div class="row m-b">
												<div class="col-sm-6">
													<h4 class="addTheme-layers-title">디폴트 레이어 아이디</h4>
													<div class="clearfix">
														<div class="input-group">
															<span class="input-group-btn"><span class="btn btn-default">디폴트</span></span>
															<select class="form-control" ng-model="theme.defaultLayerId" placeholder="디폴트 레이어 아이디">
													<option ng-repeat="layer in theme.layers" ng-model="layer.id">{{layer.id}}</option>
												</select>
														</div>
													</div>
												</div>
												<div class="col-sm-6">
													<h4 class="addTheme-layers-title">풀스크린 레이어 아이디</h4>
													<div class="clearfix">
														<div class="input-group">
															<span class="input-group-btn"><span class="btn btn-default">풀스크린</span></span>
															<select class="form-control" ng-model="theme.fullscreenLayerId" placeholder="풀스크린 레이어 아이디">
													<option ng-repeat="layer in theme.layers" ng-model="layer.id">{{layer.id}}</option>
												</select>
														</div>
													</div>
												</div>
											</div>
											<h4 class="addTheme-layers-title">서비스 설정</h4>
											<ul class="addTheme-layers list-unstyled" ng-model="theme.services">
												<li class="clearfix addTheme-layers-layer" ng-repeat="service in theme.services">
													<span class="f-s-lg text-info">{{service.pkgname}}</span>
													<span class="text-info">(타입 : {{service.group}}, 레이어 : {{service.layerId}})</span>
													<span class="btn-group pull-right">
														<button class="btn btn-sm btn-info" ng-click="vm.editBg($index)">설정</button>
														<button class="btn btn-sm btn-danger"ng-click="vm.removeBg($index)">제거</button>
													</span>
													<span class="addAttr text-info pull-right" ng-if="service.layer != ''">레이어 설정 : {{service.layer}}</span>
												</li>
											</ul>
											<add-theme-add-bg services="vm.services" layers="vm.layers"></add-theme-add-bg>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</uib-tab>
				<uib-tab heading="JSON모드">
					<div class="ibox white-bg">
						<div class="ibox-content">
							<angular-jsoneditor ng-model="vm.files" options="vm.options"></angular-jsoneditor>
						</div>
						<div class="clearfix">
							<div class="ibox-footer clearfix">
								<span class="btn-group pull-right">
										<button class="btn btn-danger" ui-sref="theme.themeList" type="button">취소</button>
										<button class="btn btn-info" ng-click="vm.addTheme_json()">적용</button>
									</span>
							</div>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
				<div class="mobile ibox-footer">
					<span class="btnArea">
						<button type="button" name="button" class="tabBtn" ui-sref="theme.themeList" >취소</button>
						<button type="button" name="button" class="tabBtn" ng-click="vm.addTheme()">적용</button>
					</span>
				</div>
		</div>
	</div>
