<div class="homeMenu">
	<div class="row wrapper page-heading">
		<h2>NEMOUX</h2>
	</div>
	<div class="wrapper-content animated fadeIn">
		<div class="row">
			<div class=" clearfix ">
				<history ng-hide="$root.SNOW_MODE === 'local'"></history>
				<home-cloud></home-cloud>
				<home-local></home-local>
			</div>
		</div>
	</div>
</div>
