<div class="ibox-title">
    <h5>비밀번호 변경</h5>
</div>
<div class="ibox-content">
    <!-- <p>Sign in today for more expirience.</p> -->
    <form role="form" ng-submit="vm.changePassword()">
        <div class="form-group">
            <label>현재 비밀번호</label>
            <input type="password" placeholder="현재 비밀번호" class="form-control" required="" ng-model="vm.oldPassword">
        </div>
        <div class="form-group">
            <label>새 비밀번호</label>
            <input type="password" placeholder="새 비밀번호" class="form-control" required="" ng-model="vm.newPassword">
        </div>
        <div class="form-group">
            <label>비밀번호 확인</label>
            <input type="password" placeholder="비밀번호 확인" class="form-control" required="" ng-model="vm.confirmPassword">
        </div>
    </form>
</div>
<div class="ibox-footer">
  <div class="clearfix">
      <button class="btn btn-info pull-right" type="submit"><strong>변경</strong></button>
  </div>
</div>
