<div class="row wrapper page-heading">
	<h2>componentStroage</h2>
	<ol class="breadcrumb">
		<li></li>
	</ol>
</div>
<div class="wrapper-content animated fadeIn">
	<div class="row">
		<div class="col-md-12">
			<s3-browser options="vm.options"></s3-browser>
		</div>
	</div>
</div>
