<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>User management</h5>
    <!-- <div ibox-tools></div> -->
  </div>
  <div class="ibox-content">
    <div>
      <button type="button" class="btn btn-primary" ng-click="vm.togglePool()">Toggle Pool: {{vm.manager?'Manager':'User'}}</button>
    </div>
    <button type="button" class="btn btn-primary" ng-click="vm.openCreateUserModal()">Create</button>
    <button type="button" class="btn btn-success" ng-click="vm.confirmUser()">Confirm</button>
    <button type="button" class="btn btn-danger" ng-click="vm.openDeleteUserModal()">Delete</button>
    <button type="button" class="btn btn-success" ng-click="vm.enableUser()">Enable</button>
    <button type="button" class="btn btn-danger" ng-click="vm.disableUser()">Disable</button>
    <button type="button" class="btn btn-warning" ng-click="vm.resetPassword()">Reset Password</button>
    <user-list user-list="vm.userList" on-changed="vm.listUsers()"></user-list>
    
  </div>
</div>