<div class="scene-modal-top">
	<h4>미리보기</h4>
	<button class="cancel btn btn-white" ng-click="vm.close()">X</button>
</div>
<div class="scene-modal-content">
		<div class="scene-modal-content-img">
			<img src="/assets/img/p1.jpg" alt="img1"/>
		</div>
</div>
