<div>
	<div class="row">
		<div class="col-lg-12" ng-repeat="sink in vm.sinks">
			<div class="audio ibox">
				<div class="ibox-title clearfix">
					<div class="inlineBlock">
						<h3 class="inlineBlock">{{sink.desc}}</h3>
						<!-- <button class="btn btn-primary btn-xs" ng-click='vm.toggleEdit(sink)'>수정</button> -->
					</div>
					<!-- <div class="inlineBlock" ng-show='sink.editing'>
						<input type="text" title="updateName" name="updateName"/>
						<button class="btn btn-primary btn-xs">완료</button>
					</div> -->
				</div>
				<div class="ibox-content clear">
					<div class="col-md-6 m-t-lg m-b-lg clearfix">
						<div class="col-xs-2 m-t-md text-center">
							<label>
								<i class="fa f-s-xl fa-volume-up text-success" ng-hide="sink.mute" style="cursor:pointer"></i>
								<i class="fa f-s-xl fa-volume-off" ng-show="sink.mute"style="cursor:pointer"></i>
								<input type="checkbox" class="inputBtn" ng-click="vm.toggleMute(sink)">
							</label>
						</div>
						<div class="col-xs-8 audioCtrl">
							    <rzslider rz-slider-model="sink.slider.value"	rz-slider-options="sink.slider.options"></rzslider>
						</div>

						<!-- <p class="circleBtn text-center">
							<label for="chck">
								<input type="checkbox" id="chck" name="mute">
								<span class="cir"></span>
							</label>
							<strong>MUTE</strong>
						</p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
