<div ng-click="vm.back()">
  <i class="fa fa-arrow-left"></i>
  <label>{{vm.directory | directoryFilter:(vm.indexPrefix)}}</label>
</div>
<div class="row" ng-show="vm.directory">
  <div class="col-lg-12">
    <!-- Folders in directory -->
    <div class="file-box" ng-repeat="folder in vm.objects.CommonPrefixes">
      <div class="file" uib-dropdown>
        <span class="corner"></span>
        <div class="icon relPin" ng-click="vm.enterFolder(folder.Prefix)">
          <span class="f-s-lg"><i class="fa fa-folder f-s-xxl"></i></span>
        </div>
          <div class="file-name" uib-dropdown-toggle>
            <a>
              {{folder.Prefix | directoryFilter:vm.directory}}
            </a>
          </div>
          <ul uib-dropdown-menu class="m-t-xs">
            <li><a ng-click="vm.deleteFile(folder.Prefix)">Delete</a></li>
          </ul>
      </div>
    </div>
    <!-- Files in directory -->
    <div class="file-box" ng-repeat="file in vm.objects.Contents">
      <div class="file" uib-dropdown>
        <span class="corner"></span>
        <div class="icon relPin">
          <label class="fileChoice">
            <input type="checkbox" title="fileChoice" class="abs-l-t" ng-model="file.check">
            <span class="f-s-lg"><i class="fa fa-file f-s-xxl"></i></span>
          </label>
        </div>
          <div class="file-name" uib-dropdown-toggle>
            <a>
              {{file.Key | directoryFilter:vm.directory}}
              <br/>
              <small>Last Modified: {{file.LastModified.toString().slice(0, 24)}}</small>
            </a>
          </div>
          <ul uib-dropdown-menu class="m-t-xs">
            <li><a ng-click="vm.downloadFile(file)">DownLoad</a></li>
            <li class="divider"></li>
            <li><a ng-click="vm.deleteFile(file.Key)">Delete</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
