<div class="row wrapper page-heading">
		<h2>
			빅데이터
		</h2>
		<ol class="breadcrumb">
			<li>
				빅데이터
			</li>
		</ol>
</div>
<div class="wrapper-content">
	<div class="row">
		<div class="col-md-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-btn">
										<span class="btn">날짜</span>
									</span>
									<input type="text" placeholder="2017.04.12 ~ 2017.04.16" class="form-control"/>
									<span class="input-group-btn">
										<button class="btn btn-info"><i class="fa fa-calendar"></i></button>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-btn">
										<span class="btn">기기</span>
									</span>
									<select class="form-control" placeholder="레이어 지정" >
										<option>NEMO1</option>
										<option>NEMO1</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-btn">
										<span class="btn">리스트</span>
									</span>
									<select class="form-control" placeholder="레이어 지정" >
										<option>NEMO1</option>
										<option>NEMO1</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-btn">
										<span class="btn">SCENE</span>
									</span>
									<select class="form-control" placeholder="레이어 지정" >
										<option>SCENE1</option>
										<option>SCENE2</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="col-md-6">
			<div class="ibox">
				<div class="ibox-title relPin">
					<h4>passer.dwell.rate</h4>
					<span class="bigdata-box-btns">
						<a><i class="fa fa-files-o" aria-hidden="true"></i></a>
						&nbsp;
						<a><i class="fa fa-print" aria-hidden="true"></i></a>
					</span>
				</div>
				<div class="ibox-content" style="height:421px">
					<iframe src="https://search-nemosnow-monitor-xpxg3folghbwv4id6kvvr7xorq.ap-northeast-2.es.amazonaws.com/_plugin/kibana/app/kibana#/visualize/edit/realtime_cpu_avg_load?embed=true&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(colors:('swKey:apple_korea_000003:+50th+percentile+of+cpuCoreNum':%23967302),legendOpen:!t)),vis:(aggs:!((enabled:!t,id:'2',params:(customInterval:'2h',extended_bounds:(),field:time,interval:m,min_doc_count:1),schema:segment,type:date_histogram),(enabled:!t,id:'3',params:(field:cpuCoreNum),schema:metric,type:max),(enabled:!t,id:'4',params:(filters:!((input:(query:(query_string:(analyze_wildcard:!t,query:'swKey:banana_yellow_000001'))),label:''))),schema:group,type:filters),(enabled:!t,id:'1',params:(field:cpuAvgLoad),schema:metric,type:max)),listeners:(),params:(addLegend:!t,addTimeMarker:!t,addTooltip:!t,defaultYExtents:!f,interpolate:linear,legendPosition:right,mode:overlap,scale:linear,setYExtents:!t,shareYAxis:!t,smoothLines:!f,times:!(),yAxis:(max:5,min:0)),title:realtime_cpu_avg_load,type:area))" height="380" width="680"></iframe>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="ibox">
				<div class="ibox-title relPin">
					<h4>count by dwell time, viwer distance</h4>
					<span class="bigdata-box-btns">
						<a><i class="fa fa-files-o" aria-hidden="true"></i></a>
						&nbsp;
						<a><i class="fa fa-print" aria-hidden="true"></i></a>
					</span>
				</div>
				<div class="ibox-content" style="height:421px">
					<iframe src="https://search-nemosnow-monitor-xpxg3folghbwv4id6kvvr7xorq.ap-northeast-2.es.amazonaws.com/_plugin/kibana/app/kibana#/visualize/edit/realtime_disk_load?embed=true&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(field:diskRioSec),schema:metric,type:max),(enabled:!t,id:'2',params:(customInterval:'2h',extended_bounds:(),field:time,interval:m,min_doc_count:1),schema:segment,type:date_histogram),(enabled:!t,id:'3',params:(field:diskWioSec),schema:metric,type:max),(enabled:!t,id:'4',params:(filters:!((input:(query:(query_string:(analyze_wildcard:!t,query:'swKey:banana_yellow_000001'))),label:''))),schema:group,type:filters)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,legendPosition:right,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:realtime_disk_load,type:line))" height="380" width="680"></iframe>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="ibox">
				<div class="ibox-title relPin">
					<h4>gender,male age,femalw age ratio by dwell</h4>
					<span class="bigdata-box-btns">

						<a><i class="fa fa-files-o" aria-hidden="true"></i></a>
						&nbsp;
						<a><i class="fa fa-print" aria-hidden="true"></i></a>
					</span>
				</div>
				<div class="ibox-content" style="height:421px">
					<iframe src="https://search-nemosnow-monitor-xpxg3folghbwv4id6kvvr7xorq.ap-northeast-2.es.amazonaws.com/_plugin/kibana/app/kibana#/visualize/edit/realtime_disk_load?embed=true&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(field:diskRioSec),schema:metric,type:max),(enabled:!t,id:'2',params:(customInterval:'2h',extended_bounds:(),field:time,interval:m,min_doc_count:1),schema:segment,type:date_histogram),(enabled:!t,id:'3',params:(field:diskWioSec),schema:metric,type:max),(enabled:!t,id:'4',params:(filters:!((input:(query:(query_string:(analyze_wildcard:!t,query:'swKey:banana_yellow_000001'))),label:''))),schema:group,type:filters)),listeners:(),params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,legendPosition:right,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:realtime_disk_load,type:line))" height="380" width="680"></iframe>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="ibox">
				<div class="ibox-title relPin">
					<h4>male, female</h4>
					<span class="bigdata-box-btns">
						<a><i class="fa fa-files-o" aria-hidden="true"></i></a>
						&nbsp;
						<a><i class="fa fa-print" aria-hidden="true"></i></a>
					</span>
				</div>
				<div class="ibox-content" style="height:421px">
					<iframe src="https://search-nemosnow-monitor-xpxg3folghbwv4id6kvvr7xorq.ap-northeast-2.es.amazonaws.com/_plugin/kibana/app/kibana#/visualize/edit/realtime_cpu_avg_load?embed=true&_g=()&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(vis:(colors:('swKey:apple_korea_000003:+50th+percentile+of+cpuCoreNum':%23967302),legendOpen:!t)),vis:(aggs:!((enabled:!t,id:'2',params:(customInterval:'2h',extended_bounds:(),field:time,interval:m,min_doc_count:1),schema:segment,type:date_histogram),(enabled:!t,id:'3',params:(field:cpuCoreNum),schema:metric,type:max),(enabled:!t,id:'4',params:(filters:!((input:(query:(query_string:(analyze_wildcard:!t,query:'swKey:banana_yellow_000001'))),label:''))),schema:group,type:filters),(enabled:!t,id:'1',params:(field:cpuAvgLoad),schema:metric,type:max)),listeners:(),params:(addLegend:!t,addTimeMarker:!t,addTooltip:!t,defaultYExtents:!f,interpolate:linear,legendPosition:right,mode:overlap,scale:linear,setYExtents:!t,shareYAxis:!t,smoothLines:!f,times:!(),yAxis:(max:5,min:0)),title:realtime_cpu_avg_load,type:area))" height="380" width="680"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
