<!--CLOUD Mode-->
<div class="ibox">
	<div class="ibox-title">
		<h3>클라우드 모드입니다.</h3>
	</div>
	<div class="ibox-content text-center">
		<span class="f-s-xl text-success">클라우드 모드에서는 <br/>클라우드 앱에 접속하여 {{(vm.target)?(vm.target + ' '):''}}기능을 관리하십시오</span><br/><br/>
		<a href="#" title="cloudApp" class="f-s-lg">https://www.nemoux.com</a>
	</div>
</div>