<div class="p-lg text-center loginscreen animated fadeIn">
  <div ng-show="vm.network.status">
		<h3>기기 인증</h3>
		<form class="m-t" role="form" ng-submit="vm.request()">
      <span class="text-danger" ng-show="vm.error">{{vm.error}}<br/></span>
			<p class="form-group" ng-hide="vm.pending">
				<label for="swId">소프트웨어 키</label><br/>
				<input type="text" id="swId" class="form-control" placeholder="소프트웨어 키" ng-model="vm.swKey"/>
			</p>
      <div ng-show="vm.pending">
        <label>인증을 기다리고 있습니다...</label><br/>
        <span>관리 페이지에서 수락을 눌러주세요.</span><br/>
        <span class="text-warning">인증이 완료되면 기기가 재시작됩니다.</span>
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" ng-hide="vm.pending">인증 요청</button>
    </form>
  </div>
  <div class="text-center" ng-hide="vm.network.status">
    <h3>인터넷이 연결 오류</h3>
    <p class="text-warning">인터넷을 연결해주세요</p>
  </div>
</div>
