<div class="row">
  <div class="col-md-3">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="file-manager">
          <input type="file" fileread="vm.pickedFiles"></input>
          <button class="btn btn-primary btn-block" ng-click="vm.uploadFile()">Upload File</button>
          <button class="btn btn-primary btn-block" ng-click="vm.createFolder()">Create Folder</button>
          <button class="btn btn-primary btn-block" ng-click="vm.downloadFiles()">Download Files</button>
          <div class="hr-line-dashed"></div>
          <h5>Index</h5>
          <ul class="folder-list" style="padding: 0">
            <li ng-repeat="index in vm.indexList">
              <a ng-click="vm.select(index)">
                <i class="fa fa-folder"></i>
                {{index.Prefix | directoryFilter:(vm.indexPrefix)}}
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 animated fadeInRight">
    <s3-file-list bucket="vm.bucket" index="vm.selectedIndex" index-prefix="vm.indexPrefix" directory="vm.directory" refresh="vm.refreshList" download-checked-files="vm.downloadFiles"></s3-file-list>
  </div>
</div>
