<div ng-show="vm.pkgIndex">
  <label>{{vm.pkgIndex.name}}</label>
  <div>
    <button type="button" class="btn btn-sm btn-primary" ng-click="vm.add()">Add</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="vm.remove()">Remove</button>
  </div>
  <div>
    <p class="text-right" ng-click="vm.refreshDevices()"><i class="fa fa-refresh"></i></p>
    <label>Devices</label>
    <li ng-repeat="device in vm.devicePackageStatus">
      {{device.name}}: {{device.hasPkgIndex}}
    </li>
  </div>
</div>
<div class="text-center" ng-hide="vm.pkgIndex">
  <label>Please Select Package Indexx</label>
</div>