<div class="modal-body text-center">
	<span class="f-s-xl"><i class="fa fa-check-circle-o f-s-xxl"></i></span>
	<pre>{{vm.content}}</pre>
</div>
<div class="modal-footer">
	<div class="input-group-btn">
		<button class="btn btn-warning" ng-click="vm.close()">
			<strong>확인</strong>
		</button>
	<div>
</div>
