<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>
			Devices
		</h2>
		<ol class="breadcrumb">
			<li>Devices</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<device-management></device-management>
		</div>
		<div class="col-lg-12">
			<pkg-index-management></pkg-index-management>
		</div>
	</div>
</div>
