<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Change password</h5>
  </div>
  <div class="ibox-content">
    <!-- <p>Sign in today for more expirience.</p> -->
    <form role="form" ng-submit="vm.changePassword()">
      <div class="form-group">
        <label>Current Password</label>
        <input type="password" placeholder="Current Password" class="form-control" required="" ng-model="vm.oldPassword">
      </div>
      <div class="form-group">
        <label>New Password</label>
        <input type="password" placeholder="New Password" class="form-control" required="" ng-model="vm.newPassword">
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" placeholder="Confirm Password" class="form-control" required="" ng-model="vm.confirmPassword">
      </div>
      <div>
        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
          <strong>Submit</strong>
        </button>
      </div>
      <br/>
    </form>
  </div>
</div>