<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">파일 업로드</h4>
	</div>
	<form ng-submit="vm.uploadFile()">
		<div class="modal-body">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-btn">
				<label class="btn uploadComponentFile">
					<input type="file" class="ng-isolate-scope" fileread="vm.pickedFile" />
					<span>파일 선택</span>
					</label>
					</span>
					<input type="text" readonly value="{{vm.pickedFile.name}}" class="form-control text-info" />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-warning" ng-click="vm.close()">취소</button>
			<button class="btn btn-info" type="submit">업로드</button>
		</div>
	</form>
</div>
