<div class="modal-header">
	<h3>서비스 앱 수정</h3>
</div>
<div class="modal-body">
	<form>
			<div class="form-group">
				<div class="input-group m-b-sm">
					<span class="input-group-btn">
						<label class="btn btn-default" style="width:85px;">배경 이름</label>
					</span>
					<select type="text" class="form-control" ng-model="vm.editBg.pkgname">
						<option ng-repeat="pkg in vm.pkgs" ng-value="pkg.Package" ng-hide="pkg.view.installed === 'not installed'">{{pkg.Package}}</option>
					</select>
	      </div>
				<div class="input-group m-b-sm">
					<span class="input-group-btn">
					<span class="btn btn-default" style="width:85px;">타입</span>
					</span>
					<select type="text" class="form-control" ng-model="vm.editBg.group">
						<option ng-value="'background'">background</option>
						<option ng-value="'splashscreen'">splashscreen</option>
						<option ng-value="'screensaver'">screensaver</option>
					</select>
				</div>
				<div class="input-group m-b-sm">
					<span class="input-group-btn">
					<span class="btn btn-default" style="width:85px;">레이어</span>
					</span>
					<select type="text" class="form-control" ng-model="vm.editBg.layerId">
						<option ng-value=""> </option>
						<option ng-repeat="layer in vm.layers" ng-value="layer.id">{{layer.id}}</option>
					</select>
				</div>
				<div class="input-group m-b-sm">
					<span class="input-group-btn">
						<label class="btn btn-default" style="width:85px;">너비</label>
					</span>
	        <input class="form-control" type="text" ng-model="vm.editBg.width">
	      </div>
				<div class="input-group m-b-sm">
					<span class="input-group-btn">
						<label class="btn btn-default" style="width:85px;">높이</label>
					</span>
	        <input class="form-control" type="text" ng-model="vm.editBg.height">
	      </div>
				<div class="input-group m-b-sm">
					<span class="input-group-btn">
						<label class="btn btn-default" style="width:85px;">X좌료</label>
					</span>
	        <input class="form-control" type="text" ng-model="vm.editBg.x">
	      </div>
				<div class="input-group m-b-sm">
					<span class="input-group-btn">
						<label class="btn btn-default" style="width:85px;">Y좌표</label>
					</span>
	        <input class="form-control" type="text" ng-model="vm.editBg.y">
	      </div>
			</div>
			<div class="form-group">
				<div class="relPin p-h-xs">
					<h4>params 추가(옵셥)</h4>
					<button class="btn btn-sm btn-info addParams" type="button" ng-click="vm.addParams()"><b>+</b></button>
				</div>
				<ul class="list-unstyled">
					<li class="relPin" ng-repeat="param in vm.params">
						<div class="input-group">
							<span class="input-group-btn">
								<input class="btn btn-default cursorDefault" type="text" placeholder="key 값" ng-model="param.key"/>
							</span>
							<input type="text" class="form-control" placeholder="value 값" ng-model="param.value"/>
							<span class="input-group-btn">
								<button class="btn btn-danger" type="button" ng-click="vm.delParams($index)">X</button>
							</span>
						</div>
					</li>
			</div>
	</form>
</div>
<div class="modal-footer clearfix">
	<span class="text-danger pull-left" ng-show="vm.errorMessage">{{vm.errorMessage}}</span>
	<div class="input-group-btn">
		<button class="btn btn-warning" ng-click="vm.close()">
			<strong>취소</strong>
		</button>
		<button class="btn btn-success" ng-click="vm.edit()">
			<strong>확인</strong>
		</button>
	<div>
</div>
