<div class="ibox clearfix backupbox">
		<div class="col-md-4">
			<div class="progressBox">
				<ul class="list-unstyled">
					<li>
						<span class="number ">1</span>
						<h4>데이터 선택</h4>
						<p>백업하고자 하는 파일을 선택합니다.</p>
					</li>
					<li>
						<span class="number">2</span>
						<h4>데이터의 위치 선택</h4>
						<p>자신이 백업하고자 하는 데이터의 위치를 선택합니다.</p>
					</li>
					<li>
						<span class="number checked">3</span>
						<h4>기기 선택</h4>
						<p>클라우드 경우 클라우드 내부 기기를 선택합니다.</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-8">
			<div class="ibox-title">
				<h3>백업하려는 위치</h3>
				<span class="text-navy">백업하려는 USB를 하나만 선택하십시오</span>
			</div>
			<div class="ibox-content">
				<h4 class="text-warning" ng-show="vm.usbs.length === 0">연결된 USB를 찾을 수 없습니다.</h4>
				<h4 class="text-info" ng-show="vm.options.target.logs" ng-hide="vm.usbs.length === 0">
			백업 할 데이터 -
			<span ng-show="vm.options.target.configs">앱 설정 : &lt; 1 MB</span>
			<span ng-show="vm.options.target.configs && vm.options.target.logs"> | </span>
			<span ng-show="vm.options.target.logs">로그 데이터 : {{vm.logSizeMB || '&lt; 1'}}MB</span>
		</h4>
				<div class="f-s-lg hoverEffect clearfix" ng-repeat="usb in vm.usbs">
					<div class="col-sm-2">
						<input type="radio" id="backupUsb" name="backupUsb" class="inputBtn" ng-model="vm.selected" ng-value="usb" ng-disabled="!usb.view.enough" />
						<label for="backupUsb" class="labelBtn p-w-sm pull-left text-center label_radio"><!--issue : input id label for change-->
					<i class="fa fa-usb f-s-xl m-t-lg"></i>
					<h4 class="p-h-sm">{{usb.model}}</h4>
				</label>
					</div>
					<div class="col-sm-10 multiUsb--dataBar relPin">
						<span class="abs-left-top">총 용량 : {{usb.view.total}}MB</span>
						<label for="backupUsb">
					<uib-progress max="usb.view.total">
						<uib-bar value="usb.view.used">
							  {{usb.view.used}}MB
						</uib-bar>
						<!-- Set log bar size to 2.5% if it's percentage is to small -->
						<uib-bar value="(vm.logSizeMB > usb.view.total / 80)?vm.logSizeMB:usb.view.total / 80" type="{{(usb.view.enough)?'success':'danger'}}" ng-show="vm.options.target.logs">
							<span ng-show="vm.logSizeMB > usb.view.total / 80">{{vm.logSizeMB}}MB</span>
						</uib-bar>
					</uib-progressbar>
				</label>
						<span class="text-warning" ng-hide="usb.view.enough">용량이 얼마 남지 않았습니다.</span>
					</div>
				</div>
			</div>
			<div class="ibox-footer clearfix">
				<button class="btn btn-step pull-left m-t-sm m-b-sm" type="submit" ui-sref="backup.2">
			<strong>이전</strong>
		</button>
				<button class="btn btn-step pull-right m-t-sm m-b-sm" type="submit" ng-click="vm.confirmBackup()" ng-disabled="!vm.selected">
			<strong>백업</strong>
		</button>
			</div>
		</div>
	</div>
