<!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
<input style="display:none" autocomplete="false" type="text" name="fakeusernameremembered"/>
<input style="display:none" autocomplete="false" type="password" name="fakepasswordremembered"/>
<!-- fake fields end -->
<div class="p-lg text-center loginscreen animated fadeIn">
  <div>
    <div>
      <h1 class="logo-name">NM</h1>
    </div>
    <h3>Welcome to NEMO-UX</h3>
    <p>
      NEMO-UX는 사용자들에게 미래지향적인 사용자 경험을 제공해드립니다.
    </p>
    <br/>
    <span class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</span>
    <form class="m-t" role="form" ng-submit="vm.login()" ng-show="$root.SNOW_MODE === 'cloud' || $root.SNOW_MODE === 'local'">
      <div class="form-group">
        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
        <input style="display:none" autocomplete="false" type="text" name="fakeusernameremembered"/>
        <input class="form-control" autocomplete="false" placeholder="Username" required="" ng-model="vm.username">
      </div>
      <div class="form-group">
        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
        <input style="display:none" autocomplete="false" type="password" name="fakepasswordremembered"/>
        <input type="password" autocomplete="false" class="form-control" placeholder="Password" required="" ng-model="vm.password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="vm.pendingLogin">Login</button>
      </div>
      <!-- <div ng-if="$root.SNOW_MODE === 'cloud'">
        <a ng-click="vm.pendingLogin || vm.forgotPassword()"><small>Forgot password?</small></a>
        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <a class="btn btn-sm btn-white btn-block" ng-click="vm.registerModal()" ng-disabled="vm.pendingLogin">Create an account</a>
      </div> -->
    </form>
    <div class="usbLogin" ng-show="$root.SNOW_MODE === 'usb'">
      <span class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</span>
      <span class="text-info" ng-hide="vm.errorMessage">앱설정이 보관된 디렉토리 내부의 .nemo확장자 파일을 업로드하세요.</span>
      <div class="form-group">
        <input type="file" fileread="vm.pickedFile" class="form-control" accept=".nemo">
        <button type="button" class="btn-full btn-primary" name="button" ng-click="vm.login()">앱설정 불러오기</button>
      </div>
    </div>
  </div>
</div>
