<div uib-dropdown>
  <a uib-dropdown-toggle href>
    <span class="clear">
      <span class="text-muted text-xs block">Change Status<b class="caret"></b></span>
    </span>
  </a>
  <ul uib-dropdown-menu class="m-t-xs">
    <li ng-repeat="status in vm.statusList"><a ng-click="vm.changeThingStatus(status)">{{status}}</a></li>
  </ul>
</div>