<div class="ibox listList">
	<ul class="list-unstyled">
		<li>
			<div class="ibox-content clearfix content-pth-indexListTitle">
				<div class="col-md-3"><p>리스트</p></div>
				<div class="col-md-6"><p>설명</p></div>
				<div class="col-md-3"></div>
			</div>
		</li>
		<li class="relPin contentList metismenu" ng-repeat="list in vm.lists" ng-class-odd="'gray-bg'">
			<form role="form" ng-submit="vm.update($index, list)">
				<div class="ibox-content clearfix">
					<div class="col-md-3">
            <i class="fa fa-television m-t-sm" style="font-size:60px;"></i>
					</div>
					<div class="col-md-6">
            <h4>{{list.name}}</h4>
						<input type="text" class="form-control m-t-xs" value="/" ng-model="content.src" ng-change="vm.checkSlash(list)" ng-show="vm.selected === list"/>
            <p class="list-desc" ng-hide="vm.selected === list">컴퍼넌트 수 : {{list.length}}<br>
              <span class="first">제작날짜 : {{list.productDate}}</span>
              <span>수정날짜 : {{list.updateDate}}</span>
              <span>총 용량:{{list.size}}</span>
              <span>재생시간 : {{list.runtime}}</span>
            </p>
					</div>
					<div class="col-md-3 content-path-indexConfig m-t-sm text-center">
            <button type="button" class="btn btn-info">출력하기</button><br>
						<span class="a-group">
							<a class="text info" ng-click="vm.listUpdate()"><i class="fa fa-pencil-square-o"></i></a>
							<a class="text-danger" ng-click="vm.confirmRemove($index)"><i class="fa fa-trash"></i></a>
						</span>

					</div>
				</div>
				<div class="clearfix m-t-sm collapse" ng-class="{in: vm.selected === list}">
					<div class="col-md-8">
						<div class="m-tm-sm" style="text-align:right">
							<button class="btn btn-white" type="button" style="width:60px" ng-click="vm.configUpdate(list)">취소</button>
							<button class="btn btn-primary" type="submit" style="width:60px; margin-left:10px;">저장</button>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</form>
		</li>
	</ul>
</div>
