<!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
<input style="display:none" autocomplete="false" type="text" name="fakeusernameremembered"/>
<input style="display:none" autocomplete="false" type="password" name="fakepasswordremembered"/>
<!-- fake fields end -->
<div class="p-lg text-center loginscreen animated fadeIn">
  <div>
    <div>
      <h1 class="logo-name">NM</h1>
    </div>
    <h3>Welcome to NEMO-UX</h3>
    <p>
      NEMO-UX는 사용자들에게 미래지향적인 사용자 경험을 제공해드립니다.
    </p>
    <br/>
    <span class="text-danger" ng-show="vm.errorMessage">{{vm.errorMessage}}</span>
    <form class="m-t" role="form" ng-submit="vm.login()">
      <div class="form-group">
        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
        <input style="display:none" autocomplete="false" type="text" name="fakeusernameremembered"/>
        <input class="form-control" autocomplete="false" placeholder="Username" required="" ng-model="vm.username">
      </div>
      <div class="form-group">
        <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
        <input style="display:none" autocomplete="false" type="password" name="fakepasswordremembered"/>
        <input type="password" autocomplete="false" class="form-control" placeholder="Password" required="" ng-model="vm.password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary block full-width m-b" ng-disabled="vm.pendingLogin">Login</button>
      </div>
    </form>
  </div>
</div>
