<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Delete user</h5>
  </div>
  <div class="ibox-content">
    <button class="btn btn-block btn-danger m-t-n-xs" ng-click="vm.openDropOutModal()">
      <strong>Delete user account</strong>
    </button>
  </div>
</div>