<div class="ibox">
  <div class="ibox-title">
    <h3>Packages management</h3>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-xs-3" ng-repeat="index in vm.indexList">
        <p ng-click="vm.selectIndex(index)">
          <input type="radio" id="autoIP" name="pkgIndex" ng-model="vm.index" ng-value="index"/>
          <label for="pkgIndex">
            {{index}}
          </label>
        </p>
      </div>
    </div>
    <table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="table table-striped table-bordered table-hover" show-filter="false">
      <thead>
        <tr>
          <th class="text-center">
            <!-- <input type="checkbox" ng-click="vm.applyCheckAll()" ng-model="vm.checkAll"> -->
          </th>
          <th>Name</th>
          <th>Maintainer</th>
          <th>Size(Byte)</th>
          <th>Version</th>
          <th>Depends</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pkg in vm.packageList">
          <td class="text-center">
            <input type="checkbox" ng-model="pkg.check"></input>
          </td>
          <td>{{pkg.Package}}</td>
          <td>{{pkg.Maintainer}}</td>
          <td>{{pkg.Size}}</td>
          <td>{{pkg.Version}}</td>
          <td>{{pkg.Depends}}</td>
          <td>{{pkg.Description}}</td>
          <td>
            <button class="btn btn-info btn-xs" type="button" ng-click="vm.update($index)"><i class="fa fa-pencil-square-o"></i>update</button>
            <button class="btn btn-danger btn-xs" type="button" ng-click="vm.delete($index)"><i class="fa fa-trash-o"></i> Delete</button>
          </td>
        </tr>
    </table>

  </div>
</div>
