<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>
			Packages
		</h2>
		<ol class="breadcrumb">
			<li>Packages</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<ui-view resolve="vm.resolve"></ui-view>
		</div>
	</div>
</div>
