<div class="ibox relPin">
	<div class="ibox-title pc-title">
		<div class="row m-b">
			<div class="col-md-4">
				<h4>
					<span class="m-l-md">요일</span>
				</h4>
			</div>
			<div class="col-md-7">
				<div class="col-md-4">
					<h4>시작</h4>
				</div>
				<div class="col-md-4">
					<h4>종료</h4>
				</div>
				<div class="col-md-4">
					<h4>재시작</h4>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
	<ul class="list-unstyled" style="margin-bottom:0">
		<li class="ibox-content powerTimer-content" ng-class-odd="'gray-bg'" ng-repeat="timer in vm.timers">
			<div class="row m-t-sm">
				<div class="col-md-4 week"  ng-show="timer.week">
					<h5 class="mobile-title">요일</h5>
					<div>
						<label class="checkbox-cube" ng-repeat="day in vm.weekdays track by $index">
							<input type="checkbox" class="checkbox-cube-input" ng-change="vm.setCheckbox($index, timer.week[$index])" ng-model="timer.week[$index]" ng-disabled="day.value && !timer.week[$index]"/>
							<span class="checkbox-cube-span" ng-class="{'checkbox-cube-input-disabled':(day.value && !timer.week[$index])}">{{day.name}}</span>
						</label>
					</div>
				</div>
				<div class="col-md-4 week" ng-hide="timer.week">
					<h5 class="mobile-title">날짜</h5>
					<div class="clearfix">
						<input type="text" class="timePick-span" ng-model="timer.year"/>
						<input type="text" class="timePick-span" ng-model="timer.month"/>
						<input type="text" class="timePick-span" ng-model="timer.day"/>
					</div>
				</div>
				<div class="col-md-7 timerCtrl">
					<div class="col-md-4">
						<h5 class="mobile-title">시작</h5>
						<div class="btn-group timePick" uib-dropdown auto-close="outsideClick">
							<span type="button" class="timePick-span" ng-class="{'timePick-span-disabled': !timer.powerOn}" uib-dropdown-toggle>
								<pre class="timePick-time">{{timer.powerOn | date:'shortTime' }}</pre>
							</span>
							<button type="button" class="btn timePick-btn" ng-class="{'timePick-btn-disabled': !timer.powerOn}" ng-click="vm.toggleTimer(timer, 'powerOn')">
								<i class="fa fa-clock-o"></i>
								<span class="sr-only">Split button!</span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
								<li role="menuitem">
									<div uib-timepicker ng-model="timer.powerOn" hour-step="1" minute-step="10" show-meridian="true"></div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<h5 class="mobile-title">종료</h5>
						<div class="btn-group timePick" uib-dropdown auto-close="outsideClick">
							<span type="button" class="timePick-span" ng-class="{'timePick-span-disabled': !timer.powerOff}" uib-dropdown-toggle>
								<pre class="timePick-time">{{timer.powerOff | date:'shortTime' }}</pre>
							</span>
							<button type="button" class="btn timePick-btn" ng-class="{'timePick-btn-disabled': !timer.powerOff}" ng-click="vm.toggleTimer(timer, 'powerOff')">
								<i class="fa fa-clock-o"></i>
								<span class="sr-only">Split button!</span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
								<li role="menuitem">
									<div uib-timepicker ng-model="timer.powerOff" hour-step="1" minute-step="10" show-meridian="true"></div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						<h5 class="mobile-title">재시작</h5>
						<div class="btn-group timePick" uib-dropdown auto-close="outsideClick">
							<span type="button" class="timePick-span" ng-class="{'timePick-span-disabled': !timer.reboot}" uib-dropdown-toggle>
								<pre class="timePick-time">{{timer.reboot | date:'shortTime' }}</pre>
							</span>
							<button type="button" class="btn timePick-btn" ng-class="{'timePick-btn-disabled': !timer.reboot}" ng-click="vm.toggleTimer(timer, 'reboot')">
								<i class="fa fa-clock-o"></i>
								<span class="sr-only">Split button!</span>
							</button>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
								<li role="menuitem">
									<div uib-timepicker ng-model="timer.reboot" hour-step="1" minute-step="10" show-meridian="true"></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<div class="timePick-trash">
						<span class="text-danger" ng-click="vm.removeTimer($index)">
							삭제
						</span>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="ibox-title text-center p-h-md" ng-hide="vm.timers.length > 7">
		<button class="btn btn-white timePick-add" ng-click="vm.addWeekTimer()">+요일 추가</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn btn-white timePick-add" ng-click="vm.addDateTimer()">+날짜 추가</button>
	</div>
	<button class="btn timePick-apply" type="submit" ng-click="vm.apply()">
		<strong>적용</strong>
	</button>
</div>
