<div class="ibox clearfix backupbox">
	<div class="col-md-4">
		<div class="progressBox">
			<ul class="list-unstyled">
				<li>
					<span class="number checked">1</span>
					<h4>데이터 선택</h4>
					<p>백업하고자 하는 파일을 선택합니다.</p>
				</li>
				<li>
					<span class="number">2</span>
					<h4>데이터의 위치 선택</h4>
					<p>자신이 백업하고자 하는 데이터의 위치를 선택합니다.</p>
				</li>
				<li>
					<span class="number">3</span>
					<h4>기기 선택</h4>
					<p>클라우드 경우 클라우드 내부 기기를 선택합니다.</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8">
			<div class="ibox-title">
				<h3>백업하려는 데이터</h3>
				<span class="text-navy">백업하려는 데이터를 선택하십시오
					<strong class="text-success" ng-hide="vm.localApis.mode === 'cloud'">(중복선택 가능)</strong>
				</span>
				<span class="text-danger" ng-show="vm.localApis.mode === 'cloud'">(클라우드 모드에서는 앱 설정만 선택 가능합니다)</strong></span>
			</div>
			<div class="ibox-content clearfix">
				<div class="col-xs-6 text-center f-s-xl">
					<input type="checkbox" id="appData" name="backupData" class="inputBtn" ng-model="vm.options.target.configs"/>
					<label for="appData" class="choiceBtn" ng-class="{checked:vm.options.target.configs}">
						<i class="fa fa-cog f-s-xxl m-t-md"></i>
						<h4 class="p-h-md">앱설정 파일</h4>
					</label>
				</div>
				<div class="col-xs-6 text-center f-s-xl">
					<input type="checkbox" id="logData" name="backupData" class="inputBtn"  ng-model="vm.options.target.logs" ng-disabled="$root.SNOW_MODE === 'cloud' || vm.localApis.mode === 'cloud'"/>
					<label for="logData" class="choiceBtn relPin" ng-class="{checked:vm.options.target.logs}">
						<i class="fa fa-database f-s-xxl m-t-md"></i>
						<h4 class="p-h-md">로그 데이터</h4>
						<span class="text-warning noti" ng-show="$root.SNOW_MODE === 'cloud' || vm.localApis.mode === 'cloud'">주기적으로 백업됩니다</span>
					</label>
				</div>
			</div>
			<div class="ibox-footer clearfix">
				<button class="btn btn-step pull-right" type="submit" ng-click="vm.next()" ng-disabled="!vm.options.target.configs && !vm.options.target.logs">
					<strong>다음</strong>
				</button>
			</div>
	</div>
</div>
