<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h3 class="powercontrol-h3">장비 선택</h3>
	</div>
	<div class="row">
		<ul class="list-unstyled col-md-2 powercontrol-func">
			<li ng-click="vm.boot()"><strong><i class="fa fa-power-off"></i>&nbsp&nbsp&nbsp켜기</strong></li>
			<li ng-click="vm.confirmReboot()"><strong><i class="fa fa-repeat"></i>&nbsp&nbsp&nbsp재시작</strong></li>
			<li ng-click="vm.confirmShutdown()"><strong><i class="fa fa-times"></i>&nbsp&nbsp&nbsp종료</strong></li>
			<!-- Currently useless -->
			<!--<li ng-click="vm.confirmCancel()"><strong><i class="fa fa-ban"></i>&nbsp&nbsp&nbsp명령 취소</strong></li>-->
		</ul>
		<ul class="list-unstyled col-md-10" ng-show="vm.backupList.length !== 0">
			<li class="powercontrol-title">
				<div class="deviceList-title">
					<input type="checkbox" ng-model="vm.all" ng-click="vm.selectAll()" class="powerSelectDeviceBtn" ng-class="{active:device.device.connected}"></input>
					<span>기기 이름<span>
				</div>
				<span>ON/OFF</span>
			</li>
			<li ng-click="vm.toggle(device)" ng-repeat="device in vm.deviceList" ng-class-odd="'gray-bg'">
				<div class="deviceList clearfix">
				<label>
					<input type="checkbox" ng-model="device.check" class="powerSelectDeviceBtn"></input>
					<span class="text-info" ng-show="device.device.connected"><i class="fa fa-television"></i></span>
					<span class="text-muted" ng-hide="device.device.connected"><i class="fa fa-television"></i></span>
					&nbsp&nbsp
					<span>{{device.device.name}}</span>
					<span class="pull-right">
						<span class="text-info text-center" ng-show="device.device.connected"><i class="fa fa-power-off" aria-hidden="true"></i></span>
						<span class="text-muted text-center" ng-hide="device.device.connected"><i class="fa fa-power-off" aria-hidden="true"></i></span>
					<span>
				</label>
			</div>
			</li>
		</ul>

	</div>
</div>
