<div class="wrapper-content clearfix animated fadeIn">
	<label class="uploadThemeFile">
		<input type="file" class="ng-isolate-scope" fileread="vm.pickedFile" on-read="vm.onFileSelect" accept=".json">
		<strong>파일 불러오기</strong>
	</label>

	<div class="row">
		<div class="col-md-12 shellComponent">

			<uib-tabset active="activePill">
				<uib-tab heading="UI모드">
					<div class="ibox">
						<div class="ibox-title addShell-title brown-bg clearfix shellCtrl relPin">
							<div class="input-group">
								<input type="text" ng-model="vm.shell.id" placeholder="쉘 아이디" class="form-control">
							</div>
							<span class="btnArea">
							<button type="button" name="button" class="btn btn-danger" ng-click="vm.back()"><i class="fa fa-times f-s-lg" aria-hidden="true"></i></button>
							<button type="button" name="button" class="btn btn-info" ng-click="vm.apply()"><i class="fa fa-download f-s-lg" aria-hidden="true"></i></button>
						</span>
						</div>
						<div class="shellObj clearfix">
							<uib-tabset active="activePill" vertical="true" type="pills">

								<uib-tab index="0" heading="디스플레이 레이아웃" uib-tooltip="기기에 연결된 다수의 디스플레이의 배치를 정의합니다.">

									<div class="shellObj-props">
										<ul class="list-unstyled">
											<li ng-repeat="screens in vm.shell.screens" class="shellList">
												<div class="clearfix shellList-title">
													<strong>디스플레이 레이아웃({{screens.screenid}})</strong>
													<span class="pull-right a-group">
													<a class="text info" ng-click="isCollapsed = !isCollapsed">설정</a>
													<a class="text-danger" ng-click="vm.confirmRemoveScreen($index)">삭제</a>
												</span>
												</div>
												<div uib-collapse="!isCollapsed" class="shellList-desc">
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">노드아이디</span></span>
														<input type="number" class="form-control" ng-model="screens.nodeid" min="0">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">스크린아이디</span></span>
														<input type="number" class="form-control" ng-model="screens.screenid" min="0">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">x좌표</span></span>
														<input type="number" class="form-control" ng-model="screens.x">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">y좌표</span></span>
														<input type="number" class="form-control" ng-model="screens.y">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">너비</span></span>
														<input type="number" class="form-control" ng-model="screens.width" min="0">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">높이</span></span>
														<input type="number" class="form-control" ng-model="screens.height" min="0">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">리프레쉬</span></span>
														<input type="number" class="form-control" ng-model="screens.refresh">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">스코프</span></span>
														<select class="form-control" ng-model="screens.scope">
														<option ng-value=true>true</option>
														<option ng-value=false>false</option>
													</select>
													</div>
												</div>
											</li>
										</ul>
										<div class="shellObj-props-addProp">
											<h3>속성 추가</h3>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">노드아이디&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.screens.nodeid}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.screen.nodeid" min="0">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">스크린아이디&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.screens.screenid}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.screen.screenid" min="0">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">x좌표&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.screens.x}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.screen.x">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">y좌표&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.screens.y}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.screen.y">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">너비&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.screens.width}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.screen.width" min="0">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">높이&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.screens.height}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.screen.height" min="0">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">리프레쉬&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.screens.refresh}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.screen.refresh">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">스코프&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.screens.refresh}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<select class="form-control" ng-model="vm.screen.scope">
												<option ng-value=true>true</option>
												<option ng-value=false>false</option>
											</select>
											</div>
											<div class="addProp">
												<button type="button" class="btn btn-info" ng-click="vm.addScreen()">추가하기</button>
											</div>
										</div>
									</div>
								</uib-tab>

								<uib-tab index="1" heading="터치" uib-tooltip=" 기기에 연결된 다수의 터치패널의 배치를 스크린을 기준으로 정의합니다.">

									<div class="shellObj-props">
										<ul class="list-unstyled">
											<li ng-repeat="inputs in vm.shell.inputs" class="shellList">
												<div class="clearfix shellList-title">
													<strong>터치({{inputs.screenid}})</strong>
													<span class="pull-right a-group">
													<a class="text info" ng-click="isCollapsed = !isCollapsed">설정</a>
													<a class="text-danger" ng-click="vm.confirmRemoveInput($index)">삭제</a>
												</span>
												</div>
												<div uib-collapse="!isCollapsed" class="shellList-desc">
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">노드아이디</span></span>
														<input type="number" class="form-control" ng-model="inputs.nodeid">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">스크린아이디</span></span>
														<input type="number" class="form-control" ng-model="inputs.screenid">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">데브노드</span></span>
														<input type="text" class="form-control" ng-model="inputs.devnode">
													</div>
												</div>
											</li>
										</ul>
										<div class="shellObj-props-addProp">
											<h3>속성 추가</h3>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">노드아이디&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.inputs.nodeid}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.input.nodeid">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">스크린아이디&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.inputs.screenid}}"  class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.input.screenid">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">데브노드</span></span>
												<input type="text" class="form-control" ng-model="vm.input.devnode">
											</div>
											<div class="addProp">
												<button type="button" class="btn btn-info" ng-click="vm.addInput()">추가하기</button>
											</div>
										</div>
									</div>
								</uib-tab>

								<uib-tab index="2" heading="풀스크린" uib-tooltip="실행중인 어플리케이션을 특정 위치에 특정 크기로 보여주기 위한 제스처 또는 미러링을 정의합니다. ">

									<div class="shellObj-props">
										<ul class="list-unstyled">
											<li ng-repeat="fullscreens in vm.shell.fullscreens" class="shellList">
												<div class="clearfix shellList-title">
													<strong>풀스크린({{fullscreens.id}})</strong>
													<span class="pull-right a-group">
													<a class="text info" ng-click="isCollapsed = !isCollapsed">설정</a>
													<a class="text-danger" ng-click="vm.confirmRemoveFullscreen($index)">삭제</a>
												</span>
												</div>
												<div uib-collapse="!isCollapsed" class="shellList-desc">
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">아이디</span></span>
														<input type="text" class="form-control" ng-model="fullscreens.id">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">타입</span></span>
														<select class="form-control" ng-model="fullscreens.type">
														<option>normal</option>
														<option>pick</option>
														<option>pitch</option>
													</select>
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">포커스</span></span>
														<select class="form-control" ng-model="fullscreens.focus">
														<option>all</option>
													</select>
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">고정</span></span>
														<select class="form-control" ng-model="fullscreens.fixed">
														<option ng-value=true>true</option>
														<option ng-value=false>false</option>
													</select>
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">소스 x좌표</span></span>
														<input type="number" class="form-control" ng-model="fullscreens.source.x">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">소스 y좌표</span></span>
														<input type="number" class="form-control" ng-model="fullscreens.source.y">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">소스 너비</span></span>
														<input type="number" class="form-control" ng-model="fullscreens.source.width" min="0">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">소스 높이</span></span>
														<input type="number" class="form-control" ng-model="fullscreens.source.height" min="0">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">목적지 x좌표</span></span>
														<input type="number" class="form-control" ng-model="fullscreens.destination.x">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">목적지 y좌표</span></span>
														<input type="number" class="form-control" ng-model="fullscreens.destination.y">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">목적지 너비</span></span>
														<input type="number" class="form-control" ng-model="fullscreens.destination.width" min="0">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">목적지 높이</span></span>
														<input type="number" class="form-control" ng-model="fullscreens.destination.height" min="0">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">목적지 회전</span></span>
														<input type="number" class="form-control" ng-model="fullscreens.destination.rotation">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">목적지 타겟</span></span>
														<input type="text" class="form-control" ng-model="fullscreens.destination.target">
													</div>
												</div>
											</li>
										</ul>
										<div class="shellObj-props-addProp">
											<h3>속성 추가</h3>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">아이디&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.id}}"class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="text" class="form-control" ng-model="vm.fullscreen.id">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">타입&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.type}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<select class="form-control" ng-model="vm.fullscreen.type">
										<option>normal</option>
										<option>pick</option>
										<option>pitch</option>
									</select>
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">포커스&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.focus}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<select class="form-control" ng-model="vm.fullscreen.focus">
										<option>all</option>
									</select>
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">고정&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.fixed}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<select class="form-control" ng-model="vm.fullscreen.fixed">
										<option ng-value=true>true</option>
										<option ng-value=false>false</option>
									</select>
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">소스 x좌표&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.x}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.fullscreen.source.x">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">소스 y좌표&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.y}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.fullscreen.source.y">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">소스 너비&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.width}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.fullscreen.source.width">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">소스 높이&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.height}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.fullscreen.source.height">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">목적지 x좌표&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.x}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.fullscreen.destination.x">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">목적지 y좌표&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.y}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.fullscreen.destination.y">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">목적지 너비&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.width}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.fullscreen.destination.width">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">목적지 높이&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.height}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.fullscreen.destination.height">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">목적지 회전&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.rotation}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.fullscreen.destination.rotation">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">목적지 타겟&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.fullscreens.target}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="text" class="form-control" ng-model="vm.fullscreen.destination.target">
											</div>
											<div class="addProp">
												<button type="button" class="btn btn-info" ng-click="vm.addFullscreen()">추가하기</button>
											</div>
										</div>
									</div>
								</uib-tab>


								<uib-tab index="3" heading="어플리케이션 창" uib-tooltip="실행중인 앱의 최대, 최소 창 크기를 정의합니다.">

									<div class="shellObj-props">
										<div class="shellList-desc--windows">
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">최소너비</span></span>
												<input type="number" class="form-control" ng-model="vm.shell.window.minimum.width" min="0">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">최소높이</span></span>
												<input type="number" class="form-control" ng-model="vm.shell.window.minimum.height" min="0">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">최대너비</span></span>
												<input type="number" class="form-control" ng-model="vm.shell.window.maximum.width" min="0">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">최대높이</span></span>
												<input type="number" class="form-control" ng-model="vm.shell.window.maximum.height" min="0">
											</div>
										</div>
									</div>
								</uib-tab>

								<uib-tab index="4" heading="스크린샷" uib-tooltip="스크린샷의 경로와 주기를 설정합니다.">

									<div class="shellObj-props">
										<div class="shellList-desc--windows">
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">인터벌&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.screenshot.interval}}" class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.shell.screenshot.interval">
											</div>
										</div>
									</div>
								</uib-tab>

								<uib-tab index="5" heading="시스템 서비스" uib-tooltip="FINE 플랫폼을 사용하기 위해서 필수적으로 필요한 백그라운드 프로그램을 정의합니다.">

									<div class="shellObj-props">
										<ul class="list-unstyled">
											<li ng-repeat="daemons in vm.shell.daemons" class="shellList">
												<div class="clearfix shellList-title">
													<strong>시스템 서비스({{daemons.id}})</strong>
													<span class="pull-right a-group">
													<a class="text info" ng-click="isCollapsed = !isCollapsed">설정</a>
													<a class="text-danger" ng-click="vm.confirmRemoveDaemon($index)">삭제</a>
												</span>
												</div>
												<div uib-collapse="!isCollapsed" class="shellList-desc">
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">아이디</span></span>
														<input type="text" class="form-control" ng-model="daemons.id">
													</div>
													<div class="input-group">
														<span class="input-group-btn"><span class="btn btn-white">경로</span></span>
														<input type="text" class="form-control" ng-model="daemons.path">
													</div>
												</div>
											</li>
										</ul>
										<div class="shellObj-props-addProp">
											<h3>속성 추가</h3>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">아이디&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.daemons.id}}"class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="text" class="form-control" ng-model="vm.daemon.id">
											</div>
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">경로&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.daemons.path}}"class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="text" class="form-control" ng-model="vm.daemon.path">
											</div>
											<div class="addProp">
												<button type="button" class="btn btn-info" ng-click="vm.addDaemon()">추가하기</button>
											</div>
										</div>
									</div>
								</uib-tab>
								<uib-tab index="6" heading="스크린세이버" uib-tooltip="일정시간동안 사용자들이 사용하지 않으면 화면 보호기가 나온다.">

									<div class="shellObj-props">
										<div class="shellList-desc--windows">
											<div class="input-group">
												<span class="input-group-btn"><span class="btn btn-white">타임아웃&nbsp;&nbsp;&nbsp;<i uib-tooltip="{{vm.tooltips.screensaver.timeout}}"class="fa fa-info-circle" aria-hidden="true"></i></span></span>
												<input type="number" class="form-control" ng-model="vm.shell.screensaver.timeout" min="0">
											</div>
										</div>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
				</uib-tab>
				<uib-tab heading="JSON모드">
					<div class="ibox white-bg">
						<div class="ibox-content">
							<angular-jsoneditor ng-model="vm.shell_json" options="vm.options"></angular-jsoneditor>
						</div>
						<div class="clearfix">
							<div class="ibox-footer clearfix">
								<span class="btn-group pull-right">
										<button class="btn btn-danger" ui-sref="shell.shellList" type="button">취소</button>
										<button class="btn btn-info" ng-click="vm.addShell_json()">적용</button>
									</span>
							</div>
						</div>
					</div>
				</uib-tab>
			</uib-tabset>
			<div class="mobile ibox-footer">
				<span class="btnArea">
				<button type="button" name="button" class="tabBtn" ng-click="vm.back()">취소</button>
				<button type="button" name="button" class="tabBtn" ng-click="vm.apply()">적용</button>
			</span>
			</div>
		</div>
	</div>
</div>
