<div class="ibox">
  <div class="ibox-title">
    <h3 class="p-w-md">Packages management</h3>
  </div>
  <div class="ibox-content">
    <div class="p-w-md">
        <div class="input-group">
          <label class="input-group-addon">
            <span>패키지 파일</span>
          </label>
          <input type="file" fileread="vm.pickedFiles" class="form-control"></input>
        </div>
        <br>
        <div class="input-group">
          <label for="pkgIndex"ng-repeat="index in vm.indexList">
            <input type="radio" id="autoIP" name="pkgIndex" ng-model="vm.index" ng-value="index" class="form-inline"/>
            <span>{{index}}</span>
          </label>
        </div>
    </div>
  </div>
  <div class="ibox-footer">
    <div class="input-group-btn">
      <button class="btn btn-primary" ng-click="vm.uploadFile()">Upload File</button>
    </div>
  </div>
</div>
