<div class="row relPin">
	<div class="col-md-12">
		<uib-tabset>
			<uib-tab heading="UI모드">
				<div class="ibox">
					<div class="ibox-title">
						<div class="row">
							<div class="col-md-6">
								<div class="input-group">
									<input type="text" value="테마이름" class="themeName" ng-model="vm.id" placeholder="테마 이름" />
								</div>
							</div>
							<div class="col-md-6 clearfix applyBtns">
								<span class="btn-group pull-right">
										<button class="btn btn-danger" ui-sref="theme.themeList" type="button">취소</button>
										<button class="btn btn-info" type="submit" ng-click="vm.addTheme()">적용</button>
									</span>
							</div>
						</div>
					</div>
					<div class="ibox-content">
						<div class="mobile-tab-header">
							<button type="button" name="button" class="tabBtn" ng-click="vm.tabOpen('layer')">레이어</button>
							<button type="button" name="button" class="tabBtn" ng-click="vm.tabOpen('default')">디폴트레이어</button>
							<button type="button" name="button" class="tabBtn" ng-click="vm.tabOpen('fullscreen')">풀스크린레이어</button>
							<button type="button" name="button" class="tabBtn" ng-click="vm.tabOpen('service')">서비스</button>
						</div>
						<div class="row">

							<div class="col-md-6">

								<div class="mobile-tab-content" ng-class="{open:vm.mobileTabLayer}">
									<h4 class="addTheme-layers-title">레이어 설정</h4>
									<ul class="addTheme-layers list-unstyled" ui-sortable ng-model="vm.layers">
										<li class="clearfix addTheme-layers-layer" ng-repeat="layer in vm.layers">
											<span class="f-s-lg text-info">{{layer.id}}</span>
											<span class="a-group pull-right">
													<a class="text-info" ng-click="vm.editLayer($index)">설정</a>
													<a class="text-danger" ng-click="vm.removeLayer($index)">제거</a>
												</span>
										</li>
									</ul>
									<add-theme-add-layer services="vm.services" layers="vm.layers"></add-theme-add-layer>
								</div>

							</div>
							<div class="col-md-6">


								<div class="row m-b">

									<div class="mobile-tab-content" ng-class="{open:vm.mobileTabDefault}">
										<div class="col-sm-6">
											<h4 class="addTheme-layers-title">디폴트 레이어 아이디</h4>
											<div class="clearfix">
												<div class="input-group">
													<span class="input-group-btn"><span class="btn btn-default">디폴트</span></span>
													<select class="form-control" ng-model="vm.defaultLayerId" placeholder="디폴트 레이어 아이디">
													<option ng-repeat="layer in vm.layers" ng-model="layer.id">{{layer.id}}</option>
												</select>
												</div>
											</div>
										</div>
									</div>

									<div class="mobile-tab-content" ng-class="{open:vm.mobileTabFullscreen}">
										<div class="col-sm-6">
											<h4 class="addTheme-layers-title">풀스크린 레이어 아이디</h4>
											<div class="clearfix">
												<div class="input-group">
													<span class="input-group-btn"><span class="btn btn-default">풀스크린</span></span>
													<select class="form-control" ng-model="vm.fullscreenLayerId" placeholder="풀스크린 레이어 아이디">
													<option ng-repeat="layer in vm.layers" ng-model="layer.id">{{layer.id}}</option>
												</select>
												</div>
											</div>
										</div>
									</div>

								</div>

								<div class="mobile-tab-content" ng-class="{open:vm.mobileTabService}">
									<h4 class="addTheme-layers-title">서비스 설정</h4>
									<ul class="addTheme-layers list-unstyled" ng-model="vm.services">
										<li class="clearfix addTheme-layers-layer" ng-repeat="service in vm.services">
											<span class="f-s-lg text-info">{{service.pkgname}}</span>
											<span class="text-info">(타입 : {{service.group}}, 레이어 : {{(service.layerId===undefined ||service.layerId===null)? '지정안됨':service.layerId}}) </span>
											<span class="btn-group pull-right">
													<button class="btn btn-sm btn-info" ng-click="vm.editBg($index)">설정</button>
													<button class="btn btn-sm btn-danger"ng-click="vm.removeBg($index)">제거</button>
												</span>
											<span class="addAttr text-info pull-right" ng-if="service.layer != ''">레이어 설정 : {{service.layer}}</span>
										</li>
									</ul>
									<add-theme-add-bg services="vm.services" layers="vm.layers"></add-theme-add-bg>
								</div>

							</div>


						</div>
					</div>
				</div>
			</uib-tab>
			<uib-tab heading="JSON모드">
				<div class="ibox white-bg">
					<div class="ibox-content">
						<angular-jsoneditor ng-model="vm.theme_json" options="vm.options"></angular-jsoneditor>
					</div>
					<div class="clearfix">
						<div class="ibox-footer clearfix">
							<span class="btn-group pull-right">
									<button class="btn btn-danger" ui-sref="theme.themeList" type="button">취소</button>
									<button class="btn btn-info" ng-click="vm.addTheme_json()">적용</button>
								</span>
						</div>
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
		<div class="mobile ibox-footer">
			<span class="btnArea">
				<button type="button" name="button" class="tabBtn" ui-sref="theme.themeList" >취소</button>
				<button type="button" name="button" class="tabBtn"  ng-click="vm.addTheme()">적용</button>
			</span>
		</div>
	</div>
</div>
