<!--Local Mode-->
<div class="ibox">
	<div class="ibox-title relPin">
		<!-- <add-content contents="vm.contents" device-list="vm.deviceList" prefix-filter="vm.prefixFilterResolve" on-add="vm.refresh()"></add-content> -->
		<h3>동기화 폴더 관리</h3>
		<div class="content-path-addIndex">
			<a class="content" ng-click="vm.add()"><i class="fa fa-inbox"></i> 동기화 폴더 추가</a>
		</div>
	</div>
	<ol class="list-unstyled">
		<li>
			<div class="ibox-content clearfix content-pth-indexListTitle">
				<div class="col-md-4">닉네임</div>
				<div class="col-md-4">동기화폴더</div>
				<div class="col-md-4"></div>
			</div>
		</li>

		<li class="relPin contentList metismenu" ng-repeat="content in vm.contents track by content.name" ng-class-odd="'gray-bg'">
			<form role="form" ng-submit="vm.update($index, content)">
				<div class="ibox-content clearfix">
					<div class="col-md-4">
						<h4>{{content.name}}</h4>
					</div>
					<div class="col-md-4">
						<p class="m-t-sm" ng-hide="vm.selected === content">{{content.src}}</p>
						<input type="text" class="form-control m-t-xs" value="/" ng-model="content.src" ng-change="vm.checkSlash(content)" ng-show="vm.selected === content"/>
					</div>
					<div class="col-md-4 content-path-indexConfig">
						<a class="text info" ng-click="vm.configUpdate(content)">설정</a>
						<a class="text-danger" ng-click="vm.confirmRemove($index)" ng-hide="content.name === 'default'">중지</a>
						<a class="text-warning" ng-show="content.name === 'default'" uib-tooltip="default 컨텐츠는 중지가 안됩니다.">중지</a>
					</div>
				</div>
				<div class="clearfix m-t-sm collapse" ng-class="{in: vm.selected === content}">
					<div class="col-md-8">
						<div class="m-b-sm" style="text-align:right">
							<button class="btn btn-white" type="button" style="width:60px" ng-click="vm.configUpdate(content)">취소</button>
							<button class="btn btn-primary" type="submit" style="width:60px; margin-left:10px;">저장</button>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</form>
		</li>

	</ol>
</div>
