<div class="inmodal">
  <div class="modal-header">
    <h4 class="modal-title">{{vm.title}}</h4>
    <small class="font-bold">{{vm.subTitle}}</small>
  </div>
  <div class="modal-body">
    <angular-jsoneditor ng-model="vm.data" options="vm.options"></angular-jsoneditor>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.update()">Edit</button>
    <button type="button" class="btn btn-white" ng-click="vm.close()">Cancel</button>
  </div>
</div>