<div class="backupMenu">
	<div class="row wrapper page-heading">
		<h2>
			백업
		</h2>
		<ol class="breadcrumb">
			<li ng-repeat="breadcrumb in vm.breadcrumbs.slice(0, vm.breadcrumb.length - 1)">
				{{breadcrumb}}
			</li>
			<li class="active">
				<strong>{{vm.breadcrumbs[vm.breadcrumbs.length - 1]}}</strong>
			</li>
		</ol>
	</div>
	<div>
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="row">
				<div class="mobile-tab-header">
					<button type="button" name="button" class="tabBtn" ng-click="vm.tabOpen('backup')">백업하기</button>
					<button type="button" name="button" class="tabBtn" ng-click="vm.tabOpen('content')">백업파일관리</button>
				</div>
				<div class="mobile-tab-content" ng-class="{open:vm.backupComp}">
					<div class="col-lg-12">
						<ui-view resolve="vm.resolve" options="vm.options"></ui-view>
					</div>
				</div>
				<div class="mobile-tab-content" ng-class="{open:vm.contentBrowse}">
					<div class="col-lg-12">
						<backup-data></backup-data>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
