<div class="p-lg text-center loginscreen">
  <div>
    <div>
      <h1 class="logo-name">NM+</h1>
    </div>
    <h3>Confirm User</h3>
    <p>Verify your account via emailed code</p>
    <form class="m-t" role="form">
      <div class="form-group">
        <input class="form-control" placeholder="Username" required="" ng-model="vm.username" ng-disabled="vm.usernameDisable">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Verification code" required="" ng-model="vm.code">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" ng-click="vm.confirm()">Verify</button>
      <a ng-click="vm.resendConfirmationCode()"><small>Resend email</small></a>
    </form>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>
