<div class="ibox">
	<ul class="list-unstyled ibox-content">
		<li class="ethernet m-t-md">
			<ul class="list-unstyled">
				<li class="row m-b-md ethernet relPin" ng-repeat="ifce in vm.ifces">
					<a ng-click="vm.selectIfce(ifce)" class="clearfix">
						<div class="col-md-1">
							<img src="/assets/img/ethernet-ethernet-off-icon.png" alt="ethernet" class="img-sm m-t-sm" />
						</div>
						<div class="col-md-11 p-h-sm">
							<strong>{{ifce.device}}</strong>
						</div>
						<!-- TODO: add status -->
						<div class="abs-left-top" ng-show="ifce.state === 'connected'"> 연결됨 </div>
						<div class="abs-left-top" ng-show="ifce.state === 'disconnected'"> 연결되지 않음 </div>
						<div class="abs-left-top" ng-show="ifce.state === 'unavailable'"> 사용 불가 </div>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
