<div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-title relPin">
					<h3>네트워크</h3>
					<p class="abs-left-top circleBtn text-center">
						<label for="networkCheck">
							<input type="checkbox" id="networkCheck" ng-model="vm.onSwitch" ng-click="vm.toggleNetwork()">
							<span class="cir" ng-class="{left: !vm.onSwitch, right: vm.onSwitch}"></span>
						</label>
						<strong>{{vm.onSwitch?'on':'off'}}</strong>
					</p>
				</div>
				<div class="ibox-content clearfix text-center " ng-show="vm.on && vm.onSwitch">
					<div class="col-sm-6 b-r setMode relPin" id="Ethernet" ng-class="{setmode_active: vm.mode === 'ethernet'}">
						<a title="Ethernet" ng-click="vm.setMode('ethernet')" class="p-h-md">
							<h3>Ethernet</h3>
						</a>
					</div>
					<div class="col-sm-6 setMode relPin" id="wifi" ng-class="{setmode_active: vm.mode === 'wifi'}">
						<a title="wifi" ng-click="vm.setMode('wifi')" class="p-h-md">
							<h3>Wi-Fi</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<ethernet-list selected="vm.selectedEthernet" resolve="vm.resolveEthernet" ifces="vm.ifces.ethernet" ng-if="vm.on && vm.onSwitch && vm.mode === 'ethernet'"></ethernet-list>
			<wifi-list selected-wifi="vm.selectedWifi" selected-ifce="vm.selectedWifiIfce" ifces="vm.ifces.wifi" ng-if="vm.on && vm.onSwitch && vm.mode === 'wifi'"></wifi-list>
		</div>
		<div class="col-lg-6">
			<ul class="list-unstyled">
				<ethernet-detail ifce="vm.selectedEthernet" ng-if="vm.on && vm.onSwitch && vm.mode === 'ethernet'"></ethernet-detail>
				<wifi-detail wifi="vm.selectedWifi" ifce="vm.selectedWifiIfce" ng-if="vm.on && vm.onSwitch && vm.mode === 'wifi'"></wifi-detail>
			</ul>
		</div>
	</div>
</div>
