<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h4>{{vm.device.name}}</h4>
  </div>
  <div id="ibox" class="ibox-content">
    <div id="images" class="relPin" ng-style="vm.canvasStyle"> 
      <img ng-show="screenshot.thumbnail.image" ng-src="{{screenshot.thumbnail.image}}" ng-repeat="screenshot in vm.screenshots" ng-click="vm.openImage(screenshot.screenshot)"
      ng-style="screenshot.thumbnail.style" alt="{{screenshot.screenshot.width + 'x' + screenshot.screenshot.height}}" title="{{screenshot.screenshot.width + 'x' + screenshot.screenshot.height}}"></img>
    </div>
    <!-- <div>
      <span ng-show="vm.image">시간: {{vm.date}}</span>
    </div> -->
    <span ng-show="vm.screenshots.length === 0">{{vm.errorMessage}}</br></span>
  </div>
  <div class="ibox-footer">
    <div class="row">
      <div class="col-md-4">
        <!-- <button class="btn btn-block btn-primary" ng-click="vm.download()"><i class="fa fa-cloud-download"></i> 다운로드</button> -->
      </div>
      <div class="col-md-4">
        <button class="btn btn-block btn-info" ng-click="vm.fetch()"><i class="fa fa-refresh"></i> 새로고침</button>
      </div>
      <div class="col-md-4">
        <!-- <button class="btn btn-block btn-info" ng-click="vm.calculate()"><i class="fa fa-expand"></i> 큰 이미지</button> -->
      </div>
    </div>
  </div>
</div>