<div class="deviceIP">
  <div class="ibox relPin">
    <div class="ibox-content">
      <ul class="list-unstyled">
        <li ng-repeat="device in vm.deviceList">
          <h4>{{device.name}}</h4>
          <ul class="list-unstyled">
            <li ng-repeat="ip in device.ipAddress.ipaddrs">
              {{ip}}
            </li>
            <li ng-show="!device.ipAddress.ipaddrs">Disconnected</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
