<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Delete User Account</h4>
    </div>
    <div class="modal-body">
        <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="vm.cancel()">Close</button>
        <button type="button" class="btn btn-danger" ng-click="vm.delete()">Delete</button>
    </div>

</div>

