<div class="ibox">
  <div class="ibox-title">
    <h4>패키지 업로드</h4>
  </div>
  <div class="ibox-content">
    <form>
      <fieldset class="input-group m-b">
        <h4>업로드파일</h4>
          <label class="form-control">
            <input type="file" multiple fileread="vm.pickedFiles" />
          </label>
      </fieldset>
      <fieldset class="input-group m-b">
        <h4>패키지 카테고리</h4>
        <label class="radio-inline"><input type="radio" name="optradio" ng-model="vm.dest" ng-value="'system'">시스템</label>
        <label class="radio-inline"><input type="radio" name="optradio" ng-model="vm.dest" ng-value="'shell'">플랫폼</label>
        <label class="radio-inline"><input type="radio" name="optradio" ng-model="vm.dest" ng-value="'theme'">테마</label>
        <label class="radio-inline"><input type="radio" name="optradio" ng-model="vm.dest" ng-value="'application'">어플리케이션</label>
      </fieldset>
    </form>
  </div>
  <div class="ibox-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.upload()">업로드하기</button>
  </div>
</div>
