<div class="contentMenu">
	<div class="row wrapper page-heading">
		<h2>
			컨텐츠
		</h2>
		<ol class="breadcrumb">
			<li class="active">
				<a href="index.html"><strong>컨텐츠</strong></a>
			</li>
		</ol>
	</div>
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="mobile-tab-header">
			<button type="button" name="button" class="tabBtn" ng-click="vm.tabOpen('index')">동기화폴더 추가</button>
			<button type="button" name="button" class="tabBtn" ng-click="vm.tabOpen('content')">컨텐츠 관리</button>
		</div>
		<div class="mobile-tab-content" ng-class="{open:vm.addIndex}">
			<div class="row">
				<div class="col-lg-12">
					<content-path on-refresh="vm.refresh()" ng-if="$root.SNOW_MODE === 'cloud' && vm.options.indexPrefix"></content-path>
					<content-path ng-if="$root.SNOW_MODE === 'usb'"></content-path>
				</div>
			</div>
		</div>
		<div class="mobile-tab-content" ng-class="{open:vm.contentBrowse}">
			<s3-browser options="vm.options" ng-if="$root.SNOW_MODE === 'cloud' && vm.options.indexPrefix"></s3-browser>
			<usb-browser ng-if="$root.SNOW_MODE === 'usb'"></usb-browser>
		</div>
	</div>
</div>
