<div class="middle-box text-center loginscreen">
  <div>
    <div>
      <h1 class="logo-name">NM+</h1>
    </div>
    <h3>Forgot Password</h3>
    <p>Reset your password via emailed code</p>
    <form class="m-t" role="form">
      <div class="form-group">
        <input class="form-control" placeholder="Verification code" required="" ng-model="vm.code">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="New Password" required="" ng-model="vm.newPassword">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" ng-click="vm.resetPassword()" ng-disabled="vm.pending">Reset Password</button>
    </form>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>