<ion-popover-view>
	<ion-content>
		<ion-list>
			<ion-item class="item-icon-right" ng-repeat="type in actionTypes" ng-click="selectPopoverActionType(type)">
				{{$index + 1}}. {{type.name}}
				<i class='icon ion-ios-checkmark-empty' ng-show="type.value == action.type"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-popover-view>
