<ion-popover-view>
	<ion-content>
		<ion-list>
			<ion-item class="item-icon-right" ng-repeat="item in popoverArgs.items" ng-click="selectPopover(item)">
				{{$index + 1}}. {{item[popoverArgs.nattr]}}
				<i class='icon ion-ios-checkmark-empty' ng-hide="true"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-popover-view>
