<ion-popover-view>
	<ion-content>
		<ion-list>
			<ion-item class="item-icon-right" ng-repeat="item in $root.allShellGroups" ng-click="selectPopoverGroup(item)">
				{{$index + 1}}. {{item.name}}
				<i class='icon ion-ios-checkmark-empty' ng-show="item.id == action.group"></i>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-popover-view>
