<div class="p-lg text-center loginscreen animated">
    <div>
        <div>

            <h1 class="logo-name">NM+</h1>

        </div>
        <h3>Register to NM+</h3>
        <p>Create account to see it in action.</p>
        <form class="m-t" role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="" ng-model="vm.username">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" required="" ng-model="vm.fullname">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required="" ng-model="vm.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="" ng-model="vm.password">
            </div>
            <div class="form-group">
                <div class="checkbox i-checks"><label> <input type="checkbox" ng-model="vm.policyCheck"><i></i> Agree the terms and policy </label></div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" ng-click="vm.register()">Register</button>

            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" ng-click="vm.loginModal()">Login</a>
        </form>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>
