<div class="shellMenu">
	<div class="row wrapper page-heading">
		<h2>화면</h2>
		<ol class="breadcrumb">
			<li ng-repeat="breadcrumb in vm.breadcrumbs.slice(0, vm.breadcrumb.length - 1)">
				{{breadcrumb}}
			</li>
			<li class="active">
				<strong>{{vm.breadcrumbs[vm.breadcrumbs.length - 1]}}</strong>
			</li>
		</ol>
	</div>
	<div class="wrapper-content clearfix animated fadeIn">
		<div class="row">
			<div class="col-md-12">
				<deny-cloud-mode target="'쉘'" ng-show="$root.SNOW_MODE === 'local' && vm.localApis.mode === 'cloud'"></deny-cloud-mode>
				<ui-view resolve="vm.resolve" ng-if="$root.SNOW_MODE === 'cloud' || vm.localApis.mode === 'local'"></ui-view>
			</div>
		</div>
	</div>
</div>
