<div class="row border-bottom">
	<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header header">
			<a href="index.html" title="logo">
				<img src="/assets/img/logo.png" class="img-logo"/>
			</a>
		</div>
		<div class="navbar-header mob-gnb-btn">
			<span minimaliza-sidebar></span>
		</div>
		<ul class="nav navbar-top-links navbar-right clearfix">
			<li uib-dropdown class="pull-right">
				<a class="count-info" href uib-dropdown-toggle>
					<i class="fa fa fa-power-off f-s-xl "></i>
				</a>
				<ul uib-dropdown-menu class="animated fadeIn m-t-xs list-unstyled">
					<li><a ng-click="vm.logout()"><i class="fa fa fa-sign-out f-s-lg"></i> 로그아웃</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
