<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Customer management</h5>
    <!-- <div ibox-tools></div> -->
  </div>
  <div class="ibox-content">
    <button type="button" class="btn btn-primary" ng-click="vm.openModal('createCustomer')">Create</button>
    <button type="button" class="btn btn-danger" ng-click="vm.openDeleteCustomerModal()">Delete</button>
    <customer-list customer-list="vm.customerList" on-changed="vm.scanCustomer()"></customer-list>
  </div>
</div>