<div class="ibox clearfix">
	<div class="ibox-title">
		<h3>USB 업데이트</h3>
	</div>
	<div class="ibox-content clearfix">
		<div class="col-md-6 b-r">
			<ul class="restorationList list-unstyled">
				<li class="hoverEffect p-h-xs">
					<p class="circleBtn text-center">
						<label for="c-2-f-1">
						<input type="checkbox" id="c-2-f-1" name="mute" ng-model="vm.runOnBoot.content" ng-disabled="vm.usbs.length === 0">
						<span class="cir" ng-class="{left: !vm.runOnBoot.content, right: vm.runOnBoot.content}"></span>
					</label>
					<span class="f-s-lg">컨텐츠</span>
							<span ng-show="vm.usbStatus.view.contents.count === 0">
								데이터 갯수 : <span class="text-success">0개</span>
								데이터 크기 : <span class="text-success">0MB</span>
							</span>
							<span ng-hide="vm.usbStatus.view.contents.count === 0">
								데이터 갯수 : <span class="text-success">{{vm.usbStatus.view.contents.count}}개</span>
								데이터 크기 : <span class="text-success">{{vm.usbStatus.view.contents.size || '&lt; 1'}}MB</span>
							</span>
					</p>
				</li>
				<li class="hoverEffect p-h-xs">
					<p class="circleBtn text-center">
						<label for="c-2-f-2">
							<input type="checkbox" id="c-2-f-2" name="mute" ng-model="vm.runOnBoot.package" ng-disabled="vm.usbs.length === 0">
							<span class="cir" ng-class="{left: !vm.runOnBoot.package, right: vm.runOnBoot.package}"></span>
						</label>
						<span class="f-s-lg">패키지</span>
						<span ng-show="vm.usbStatus.view.packages.count === 0">
							데이터 갯수 : <span class="text-success">0개</span>
							데이터 크기 : <span class="text-success">0MB</span>
						</span>
						<span ng-hide="vm.usbStatus.view.packages.count === 0">
							데이터 갯수 : <span class="text-success">{{vm.usbStatus.view.packages.count}}개</span>
							데이터 크기 : <span class="text-success">{{vm.usbStatus.view.packages.size || '&lt; 1'}}MB</span>
						</span>
					</p>
				</li>
				<li class="hoverEffect p-h-xs">
					<p class="circleBtn text-center">
						<label for="c-2-f-3">
							<input type="checkbox" id="c-2-f-3" name="mute" ng-model="vm.runOnBoot.config" ng-disabled="vm.usbs.length === 0">
							<span class="cir" ng-class="{left: !vm.runOnBoot.config, right: vm.runOnBoot.config}"></span>
						</label>
						<span class="f-s-lg">설정 파일</span>
						<span ng-show="vm.usbStatus.view.config.count === 0">
							데이터 갯수 : <span class="text-success">0개</span>
							데이터 크기 : <span class="text-success">0MB</span>
						</span>
						<span ng-hide="vm.usbStatus.view.config.count === 0">
							데이터 갯수 : <span class="text-success">{{vm.usbStatus.view.config.count}}개</span>
							데이터 크기 : <span class="text-success">{{vm.usbStatus.view.config.size || '&lt; 1'}}MB</span>
						</span>
					</p>
				</li>
			</ul>
			<span class="text-warning f-s-lg" ng-show="vm.usbs.length === 0">USB연결이 되어있지 않습니다.<br/> USB를 연결해주세요</span>
		</div>
		<div class="col-md-6">
			<h3>로컬 용량</h3>
			<div>
				<p class="mob_localData">
					{{vm.graph.labels[0]}} : {{vm.graph.data[0]}}MB<br/>
					{{vm.graph.labels[1]}} : {{vm.graph.data[1]}}MB<br/>
					{{vm.graph.labels[2]}} : {{vm.graph.data[2]}}MB<br/>
					{{vm.graph.labels[3]}} : {{vm.graph.data[3]}}MB<br/>
					{{vm.graph.labels[4]}} : {{vm.graph.data[4]}}MB
				</p>
				<canvas id="pie" class="chart chart-pie" chart-data="vm.graph.data" chart-labels="vm.graph.labels" chart-options="vm.graph.options"></canvas>
			</div>
		</div>
	</div>
	<div class="ibox-footer clearfix">
		<button class="btn btn-primary pull-right" type="button" ng-click="vm.setStatus()">설정 저장</button>
	</div>
</div>
