<div class="row">
  <div class="col-md-12">
      <monitor-info ng-if="vm.resolve.device" resolve="vm.resolve"></monitor-info>
  </div>
</div>
<div class="clearfix monitorFrame">
    <monitor-frame options="graph" ng-repeat="graph in vm.graphs"></monitor-frame>
</div>
