	<div class="row wrapper page-heading">
			<h2>
				인스톨
			</h2>
			<ol class="breadcrumb">
					<li class="active">
							<a href="index.html"><strong>인스톨</strong></a>
					</li>
			</ol>
	</div>
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-lg-6">
				<user-device-list></user-device-list>
			</div>
		</div>
	</div>
