<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>
			MyPage
		</h2>
		<ol class="breadcrumb">
			<li>MyPage</li>
			<li class="active"><strong>{{vm.subtitle}}</strong></li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content">
	<ui-view></ui-view>
</div>