<table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="table table-striped table-bordered table-hover" show-filter="false">
  <thead>
    <tr>
      <th class="text-center">
        <input type="checkbox" ng-click="vm.applyCheckAll()" ng-model="vm.checkAll">
      </th>
      <th>Name</th>
      <th>Type</th>
      <th>Version</th>
      <th>Status</th>
      <th>Mode</th>
      <th>HW Key</th>
      <th>Cloud Allowed</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="thing in vm.thingList">
      <td class="text-center">
        <input type="checkbox" ng-model="thing.check"></input>
      </td>
      <td>{{thing.thingName}}</td>
      <td>{{thing.thingTypeName}}</td>
      <td>{{thing.version}}</td>
      <td>{{thing.attributes.status}}</td>
      <td>{{thing.attributes.mode}}</td>
      <td>{{thing.attributes.hwKey}}</td>
      <td>{{thing.attributes.cloudAllowed}}</td>
      <td>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.edit(thing)"><i class="fa fa-paste"></i> Edit</button>
      </td>
    </tr>
</table>

