<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<user>Here are You</user>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="home"><i class="fa fa-home"></i> <span class="nav-label">{{ 'HOME' | translate }}</span> </a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="customer"><i class="fa fa-building-o"></i> <span class="nav-label">{{ 'CUSTOMER' | translate }}</span> </a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="devices"><i class="fa fa-cogs"></i> <span class="nav-label">{{ 'DEVICES' | translate }}</span> </a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="things"><i class="fa fa-cube"></i> <span class="nav-label">{{ 'THINGS' | translate }}</span> </a>
			</li>
			<li ui-sref-active="active">
				<a href="index.html"><i class="fa fa-inbox"></i> <span class="nav-label">{{ 'PACKAGES' | translate }}</span><span class="fa arrow"></span> </a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('packages')}">
					<li ui-sref-active="active"><a ui-sref="packages.packagesManagement">{{ '패키지 업로드' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="packages.packagesList">{{ '패키지 리스트' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="packages.pkgBrowser">{{ '패키지 탐색기' | translate }}</a></li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="users"><i class="fa fa-user-o"></i> <span class="nav-label">{{ 'USERS' | translate }}</span> </a>
			</li>
			<li ng-class="{active: $state.includes('mypage')}">
				<a href="index.html"><i class="fa fa-user"></i> <span class="nav-label">{{ 'MYPAGE' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('mypage')}">
					<li ui-sref-active="active"><a ui-sref="mypage.userInfo">{{ 'INFO' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="mypage.help">{{ 'HELP' | translate }}</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
