body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div {
	word-wrap: break-word;
}

.container {
	position: relative;
	width: 99%;
	height: 99%;
	background-color: #F7FE2E;
	border-radius: 10px;
	border: 1px solid #888888;
	display: flex;
}

.center {
	margin: auto;
	width: 200%;
	font-size: 15.0vw;
	color: #000000;
	text-align: center;
	background-color: #FFFFFF;
}
