<div class="monitoringMenu">
	<div class="row wrapper page-heading">
		<h2>
			모니터링
		</h2>
		<ol class="breadcrumb">
			<li ng-repeat="breadcrumb in vm.breadcrumbs.slice(0, vm.breadcrumb.length - 1)">
				{{breadcrumb}}
			</li>
			<li class="active">
				<strong>{{vm.breadcrumbs[vm.breadcrumbs.length - 1]}}</strong>
			</li>
		</ol>
	</div>
	<div class="wrapper-content">
		<ui-view resolve="vm.resolve"></ui-view>
	</div>
</div>
