<div class="ibox">
  <div ng-show="vm.message">
    <div class="ibox-title">
      <h4>
        컨텐츠 브라우저
      </h4>
    </div>
    <div class="ibox-content">
      <h3>
        {{vm.message}}
      </h3>
    </div>
  </div>
  <div class="s3Box clearfix white-bg" ng-hide="vm.message">
    <div class="col-md-12">
      <div class="ibox-title">
        <div class="file-manager">
          <div class="clearfix">
            <div class="col-lg-4">
              <div class=" input-group">
                <label class="form-control">
                  <input type="file" multiple fileread="vm.pickFiles" />
                </label>
                <div class="input-group-btn">
                  <button class="btn btn-info" ng-click="vm.uploadFile()">업로드</button>
                </div>
              </div>
            </div>
            <div class="col-lg-8 clearfix">
              <div class="input-group pull-right s3Box-btnGroup">
                <button class="btn btn-danger" ng-click="vm.deleteFiles()"><i class="fa fa-trash"></i></button> &nbsp;
                <button class="btn btn-success" ng-click="vm.downloadFiles()"><i class="fa fa-cloud-download"></i></button> &nbsp;
                <button class="btn btn-info" ng-click="vm.createFolder()" ><b>+</b> <i class="fa fa-folder"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ibox-content clearfix">
        <div class="col-md-12">
          <div ng-click="vm.back()">
            <i class="fa fa-arrow-left"></i>
            <label>{{vm.directory}}</label>
          </div>
          <div class="row">
            <div class="col-lg-12 s3box-box-filebox">
              <!-- Folders in directory -->
              <div class="file-box">
                <div class="file" uib-dropdown  ng-repeat="folder in vm.folders">
                  <span class="corner"></span>
                  <label class="folder-check">
                    <input type="checkbox" title="fileChoice" ng-model="folder.check" class="abs-l-t">
                  </label>
                  <div class="icon relPin" ng-click="vm.select(folder)">
                    <span class="f-s-lg"><i class="fa fa-folder f-s-xxl"></i></span>
                  </div>
                    <div class="file-name" uib-dropdown-toggle>
                      <a>
                        {{folder.name}}
                      </a>
                    </div>
                    <ul uib-dropdown-menu class="m-t-xs">
                      <li ng-click="vm.deleteFolder(folder.name)"><a>Delete</a></li>
                    </ul>
                </div>
              </div>
              <!-- Files in directory -->
              <div class="file-box">
                <div class="file" uib-dropdown ng-repeat="file in vm.files">
                  <span class="corner"></span>
                  <div class="icon relPin">
                    <label class="fileChoice">
                      <input type="checkbox" title="fileChoice" ng-model="file.check" class="abs-l-t">
                      <span class="f-s-lg" ><i class="fa fa-file f-s-xxl"></i></span>
                    </label>
                  </div>
                    <div class="file-name" uib-dropdown-toggle>
                      <a>
                        {{file.name}}
                      </a>
                    </div>
                    <ul uib-dropdown-menu class="m-t-xs">
                      <li ng-click="vm.downloadFile(file.name)"><a>DownLoad</a></li>
                      <li class="divider"></li>
                      <li ng-click="vm.deleteFile(file.name)"><a>Delete</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
