<div uib-carousel>
  <div uib-slide class="slide" ng-repeat="screenshot in vm.slides track by $index" index="$index">
    <img ng-src="{{screenshot.src}}" ng-show="{{screenshot.src}}" style="margin:auto;" width="300px"/>
  </div>
</div>
<div class="ibox-content">
  <h4 class="p-w-sm">정보</h4>
  <ul class="list-unstyled clearfix pkgInfo">
    <li class="thumbnails">
      <h4>업데이트 날짜</h4>
      <p class="description">-</p>
    </li>
    <li class="thumbnails">
      <h4>크기</h4>
      <p class="description">{{vm.pkg.Size | bytesFilter:'KB':1}} KB</p>
    </li>
    <li class="thumbnails">
      <h4>현재 버전</h4>
      <p class="description">{{vm.pkg.Version}}</p>
    </li>
    <li class="thumbnails">
      <h4>개발자</h4>
      <p class="description">{{vm.pkg.view.maintainer.name}}</p>
    </li>
    <li class="thumbnails">
      <h4>콘텐츠 등급</h4>
      <p class="description">-</p>
    </li>
  </ul>
</div>
