<ion-view view-title="{{!isNew ? action.name: '신규 메뉴'}}">
	<ion-nav-buttons side="secondary">
		<button class="button button-icon" ng-click="remove()"  ng-if="!isNew">
		삭제
		</button>
	</ion-nav-buttons>
  <ion-content>
		<ion-item class="item-divider">기본 정보</ion-item>
		<label class="item item-input"  ng-show="false">
			<span class="input-label positive" style="width: 20%">ID</span>
			<input type="text" ng-model="action.id" disabled>
		</label>
		<label class="item item-input">
			<span class="input-label positive" style="width: 20%">이름</span>
			<input type="text" ng-model="action.name" placeholder="이름을 적어주세요.">
		</label>
		<label class="item item-input" ng-click="openPopoverGroup($event)">
			<span class="input-label positive" style="width: 20%">카테고리</span>
			<input type="text" ng-model="group.name" disabled>
			<span class="item-note">
				<img ng-src="{{group.map.iconRemoteUrl}}" style="width: 50px; height: 50px;">
			</span>
		</label>
		<label class="item item-input" ng-click="isNew? openPopoverActionType($event): ''">
			<span class="input-label positive" style="width: 20%">타입</span>
			<input type="text" ng-model="action.map.typename" disabled placeholder="클릭하여 타입을 선택해 주세요.">
		</label>
		<div ng-show="action.type == 'content' && !isNew">
			<ion-item class="item-divider">파일 관리</ion-item>
			<!--
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">DIRPATH</span>
				<input type="text" ng-model="action.path" placeholder="insert path">
			</label>
			-->
			<ion-item class="item-icon-right positive" ng-click="viewFiles()">
				파일 목록  보기
				<i class="icon ion-ios-arrow-right"></i>
		 	</ion-item>
			<ion-item class="item-icon-right positive" ng-click="removeFiles()">
				전체 파일 삭제
				<i class="icon ion-trash-a"></i>
		 	</ion-item>
		</div>
		<ion-item class="item-divider">세부 정보</ion-item>
		<label class="item item-input">
			<span class="input-label positive" style="width: 20%">아이콘</span>
      <input type="file" id="iconfile" name="file" ng-model="newAction.file" placeholder="아이콘을 지정해주세요" onchange="angular.element(this).scope().loadActionIconElement(this)" accept="image/*"/>
			<span class="item-note">
				<img ng-show="action.map.iconRemoteUrl" ng-src="{{action.map.iconRemoteUrl}}" style="width: 50px; height: 50px;">
			</span>
		</label>
		<div ng-show="action.type == 'app'">
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">실행파일</span>
				<input type="text" ng-model="action.path" placeholder="경로를 적어주세요.">
			</label>
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">파라미터</span>
				<input type="text" ng-model="action.args" placeholder="실행파일의 파라미터를 적어주세요. ';' 구분자임. ">
			</label>
		</div>
		<div ng-show="action.type == 'xapp'">
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">실행파일</span>
				<input type="text" ng-model="action.path" placeholder="경로를 적어주세요."  ng-change="checkWebapp()">
			</label>
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">파라미터</span>
				<input type="text" ng-model="action.map.args" placeholder="실행파일의 파라미터를 적어주세요. ';' 구분자임. ">
			</label>
			<ion-toggle class="toggle-balaced positive" ng-show="action.map.isWebapp" ng-model="action.map.useWebContainer">웹컨테이너 사용</ion-toggle>
		</div>
		<!-- no need to expose to user..
		<div ng-show="action.type == 'content' && !isNew">
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">DIRPATH</span>
				<input type="text" ng-model="action.path" placeholder="insert path" disabled>
			</label>
		</div>
		-->
		<div ng-show="action.type == 'bookmark'">
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">웹주소</span>
				<input type="text" ng-model="action.path" placeholder="웹주소를 적어주세요. http:// 포함 필요.">
			</label>
		</div>
		<div ng-show="action.type == 'cmd'">
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">명령어</span>
				<input type="text" ng-model="action.path" placeholder="클릭하여 정의된 명령어를 선택해주세요.">
			</label>
		</div >
		<ion-toggle class="toggle-balaced positive" ng-model="action.map.resize">앱 리사이즈</ion-toggle>
		<ion-toggle class="toggle-balaced positive" ng-model="action.map.scale">컨텐츠 리사이즈</ion-toggle>

		<div class="row">
			<div class="col"></div>
			<div class="col" style="align: center">
				<button class="button button-block button-positive" ng-click="save()">{{ !isNew? '저장': '완료' }} 
			</div>
			<div class="col"></div>
		</div>
  </ion-content>
</ion-view>

