<ion-modal-view cache-view="true">
  <ion-header-bar class="bar-positive">
    <h1 class="title">웹 북마크 추가</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeBmModal()">닫기</button>
    </div>
  </ion-header-bar>
  <form name="addForm" ng-submit="addBm()" enctype="multipart/form-data">
  <ion-content>
      <div class="list">
        <label class="item item-input item-stacked-label">
					<span class="input-lable positive">북마크 이름</span>
          <input type="text" ng-model="newFolder.name" placeholder="북마크 이름을 적어주세요"> 
        </label>
        <label class="item item-input item-stacked-label">
					<span class="input-lable positive">북마크 주소</span>
					<input type="text" ng-model="newFolder.url" placeholder="http://www.example.com">
        </label>
        <label class="item item-input item-stacked-label">
					<span class="input-lable positive">북마크 아이콘</span><br>
          <input type="file" id="newfile" name="file" ng-model="newFolder.file" placeholder="아이콘을 지정해주세요" onchange="angular.element(this).scope().loadBmIconElement(this)" accept="image/*"/>
        </label>
        <div class="item" ng-repeat="file in newFolder.file track by $index">
          {{file.name}}
          <span class="item-note">{{file.type | limitTo: 15}}{{file.type.length > 15 ? '...': ''}}({{file.size >= 1000000 ? (file.size /1048576).toFixed(2): (file.size /1024).toFixed(2) | number}} {{file.size >= 1000000 ? 'MB': 'KB'}})</span> 
        </div>
      </div>
      <div class="row">
      <div class="col"></div>
      <div class="col" style="align: center">
        <button class="button button-block button-positive" type="submit">완료</button>
      </div>
      <div class="col"></div>
      </div>
  </ion-content>
  </form>
</ion-modal-view>
