<ion-modal-view cache-view="true">
  <ion-header-bar class="bar-positive">
    <!--
    <div class="buttons">
      <button class="button button-clear icon ion-folder" ng-click="addFolder()">폴더</button>
    </div>
    -->
    <h1 class="title">파일 추가</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeFileModal()">닫기</button>
    </div>
  </ion-header-bar>
  <form name="addForm" ng-submit="addFiles()" enctype="multipart/form-data">
  <ion-content>
      <div class="list">
        <label class="item item-input item-stacked-label">
					<span class="input-lable positive">한개 이상의 파일을 선택해주세요.</span><br>
          <input type="file" id="newfile" name="file" ng-model="newFiles.files" multiple onchange="angular.element(this).scope().loadFilesElement(this)"/>
        </label>
        <div class="item" ng-repeat="file in newFiles.files track by $index">
          {{file.name}}
          <span class="item-note">{{file.type | limitTo: 15}}{{file.type.length > 15 ? '...': ''}}({{file.size >= 1000000 ? (file.size /1048576).toFixed(2): (file.size /1024).toFixed(2) | number}} {{file.size >= 1000000 ? 'MB': 'KB'}})</span> 
        </div>
      </div>
      <div class="row">
      <div class="col"></div>
      <div class="col" style="align: center">
        <button class="button button-block button-positive" type="submit">완료</button>
      </div>
      <div class="col"></div>
      </div>
  </ion-content>
  </form>
</ion-modal-view>
