<ion-modal-view cache-view="true">
  <ion-header-bar class="bar-positive">
		<h1 class="title">쉘 기능 추가</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">닫기</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list can-swipe="listCanSwipe">
			<div class="card" ng-repeat="kv in newkvs">
				<label class="item item-input">
					<span class="input-label">속성</span>
					<input type="text" ng-model="kv[0]" placeholder="input here">
				</label>
				<label class="item item-input">
					<span class="input-label">값</span>
					<input type="text" ng-model="kv[1]" placeholder="input here">
				</label>
			</div>
		</ion-list>

		<div class="row">
			<div class="col col-70"> </div>
			<div class="col col-30" style="text-align:right">
				<button class="button button-outline button-positive icon-left ion-ios-plus-outline" ng-click="addAttr()">속성추가</button>
			</div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col" style="align: center">
				<button class="button button-block button-positive" ng-click="addItem()">완료</button>
			</div>
			<div class="col"></div>
		</div>
  </ion-content>
</ion-modal-view>
