<ion-view view-title="웹 북마크 관리">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-plus-empty" ng-click="showBmModal();">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-icon="ion-arrow-down-c" spinner="ios-small" on-refresh="loadNew()"></ion-refresher>
    <ion-list can-swipe="listCanSwipe">
      <ion-item class="item-remove-animate item-avatar" ng-repeat="bm in bms" ng-click="enter(bm)">
        <img ng-src="{{bm.iconpath}}" />
				<h2>
					{{bm.name}}
					<!--<span class="item-note">{{bm.icon}}</span>-->
				</h2>
				<p>
					{{bm.url}}
				</p>
        <ion-option-button class="button-assertive" ng-click="remove(bm)">
          삭제
        </ion-option-button>
        <ion-option-button class="button-balanced" ng-click="edit(bm)">
          수정 
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
