<ion-view view-title="{{file.name}}">
  <ion-nav-buttons side="secondary">
  </ion-nav-buttons>
	<ion-content>
		<!--<ion-scroll zooming="true" direction="xy" style="overflow: scroll;">-->
			<img ng-if="isImage" ng-src="{{path}}" style="width: 100%; height: 100%;" ng-click="enter();">
			<!--<video ng-if="isVideo" controls="controls" name="" ng-src="{{path | trustUrl}}"></video> -->
			<video ng-if="isVideo" ng-src="{{path | trustUrl}}" width="100%" controls	>
				Your browser does not support the video tag.
			</video>
		<!--</ion-scroll>-->
  </ion-content>
</ion-view>
