<ion-view view-title="{{isRootPage || !dir? '컨텐츠 관리': dir}}">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-small icon ion-ios-more" ng-click="openPopover($event);">
		<!--
    <button class="button button-clear" ng-click="showFolderModal()">+폴더</button>
    <button class="button button-clear" ng-click="showFileModal()">+파일</button>
		-->
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-icon="ion-arrow-down-c" spinner="ios-small" on-refresh="loadNew()"></ion-refresher>
    <ion-list can-swipe="listCanSwipe">
			<ion-item class="item-remove-animate" ng-class="{ 'item-thumbnail-right': file.isImage, 'item-icon-left': file.type == 0, 'item-icon-right': file.type != 0 }" ng-repeat="file in files | notHiddenFile" type="item-text-wrap" ng-click="enter(file)">
        <img ng-if="file.isImage" ng-src="{{file.path}}" />
        <h2>{{file.name}} </h2>
        <p ng-if="file.type == 0">
				{{file.type == 0 ? 'sub files: ' + file.count: ''}}
				</p>
        <p ng-if="file.type != 0">
				{{file.size >= 1000000 ? (file.size /1048576).toFixed(2): (file.size /1024).toFixed(2) | number}} {{file.size >= 1000000 ? 'MB': 'KB'}}<br>{{file.createdAt}}</p>
				</p>
        <i class="icon ion-chevron-right ion-folder" ng-show="file.type == 0"></i>
        <i class="icon ion-chevron-right ion-videocamera" ng-show="file.type == 1 && file.isVideo && !file.isImage"></i>
        <i class="icon ion-chevron-right ion-document" ng-show="file.type == 1 && !file.isImage && !file.isVideo"></i>
        <ion-option-button class="button-assertive" ng-click="remove(file)">
          삭제
        </ion-option-button>
        <ion-option-button class="button-balanced" ng-click="editName(file)">
          수정
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
