<ion-popover-view style="height: 120px;">
	<ion-content>
		<div class="list">
			<div class="item" ng-click="showFolderModal()">새폴더 추가하기</div>
			<div class="item" ng-click="showFileModal()">새파일 추가하기</div>
		</div>
	</ion-content>
</ion-popover-view>
