<ion-view view-title="시작메뉴 설정">
	<ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-plus-empty" ng-click="add()">
    </button>
  </ion-nav-buttons>
  <ion-content>
		<ion-list can-swipe="listCanSwipe">
      <ion-item class="item-avatar item-icon-right item-remove-animate" ng-repeat="group in $root.allShellGroups" ng-click="enter(group)">
				<img ng-src="{{group.map.iconRemoteUrl}}" />
				<h2>{{group.name}}</h2>
				<p>{{($root.allShellActions | filter: { group: group.id }).length}} 개 하위 메뉴</p>
        <ion-option-button class="button-assertive" ng-click="remove(group)">
          삭제
        </ion-option-button>
        <ion-option-button class="button-balanced" ng-click="edit(group)">
          수정
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
