<ion-view view-title="{{!isNew ? group.name: '신규 카테고리'}}">
  <ion-content>
		<ion-item class="item-divider">기본 정보</ion-item>
		<label class="item item-input"  ng-show="false">
			<span class="input-label positive" style="width: 20%">ID</span>
			<input type="text" ng-model="group.id" disabled>
		</label>
		<label class="item item-input">
			<span class="input-label positive" style="width: 20%">이름</span>
			<input type="text" ng-model="group.name" placeholder="이름을 지정해주세요.">
		</label>
		<label class="item item-input">
			<span class="input-label positive" style="width: 20%">아이콘</span>
      <input type="file" id="iconfile" name="file" ng-model="newGroup.file" placeholder="아이콘을 지정해주세요" onchange="angular.element(this).scope().loadGroupIconElement(this)" accept="image/*"/>
			<span class="item-note">
				<img ng-show="group.map.iconRemoteUrl" ng-src="{{group.map.iconRemoteUrl}}" style="width: 50px; height: 50px;">
			</span>
		</label>
		<div class="row">
			<div class="col"></div>
			<div class="col" style="align: center">
				<button class="button button-block button-positive" ng-click="save()">{{ !isNew? '저장': '완료' }} 
			</div>
			<div class="col"></div>
		</div>
  </ion-content>
</ion-view>

