<ion-view view-title="{{group.name}}">
	<ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-plus-empty" ng-click="add()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list can-swipe="listCanSwipe">
      <ion-item class="item-avatar item-icon-right item-remove-animate" ng-repeat="action in actions" ng-click="enter(action)">
				<img ng-src="{{action.map.iconRemoteUrl}}" />
				<h2>{{action.name}}</h2>
				<p>{{action.map.typename}}</p>
        <ion-option-button class="button-assertive" ng-click="remove(action)">
          삭제
        </ion-option-button>
        <ion-option-button class="button-balanced" ng-click="enter(action)">
          수정
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
