<ion-view view-title="홈">
  <ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<div style="text-align: center;">
					<img src="img/nemo.png">
				</div>
				네모 세팅앱을 이용해주셔서 감사합니다.<br><br>
				당신은 여기에서 터치 테이블의 여러 기능들을 설정할 수 있습니다. 설정가능한 항목들은 다음과 같습니다.<br><br>
				<ul>
					<li> - 화면/터치/배경 설정</li>
					<li> - 네트워크 설정</li>
					<li> - 메뉴설정</li>
				</ul>
				<br><br>
				왼쪽 상단 버튼을 누르면 설정가능한 항목이 나옵니다. 이용하시면서 문의사항이 생기면, 이메일로 연락주시길 바랍니다.<br>
				<a href="mailto:yunchan.cho@nemoux.net">yunchan.cho@nemoux.net</a>
			</div>
		</div>
		<div class="card">
			<div class="item item-divider">
				터치테이블의 현재 웹주소
			</div>
			<div class="item item-text-wrap">
				당신은 스마트폰이나 PC 에서도 아래의 웹주소에 접속하여 터치테이블의 여러 기능들을 설정할 수 있습니다. 
			</div>
			<div class="item assertive" ng-repeat="online in $root.onlines" ng-show="onlines.length">
				http://{{ online.address }}:8000
			</div>
			<div class="item assertive" ng-show="!onlines.length">
				현재 터치테이블은 인터넷에 연결되어 있지 않습니다. 네트워크 설정을 해주십시오. 
			</div>
		</div>
  </ion-content>
</ion-view>
