<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">네모 세팅앱</h1>
  </ion-header-bar>
  <ion-content>
		<div class="list">
			<div class="card">
				<div class="item item-divider">
				 터치테이블의 현재 웹주소
				</div>
				<div class="item item-text-wrap">
					당신은 스마트폰이나 PC 에서도 아래의 웹주소에 접속하여 터치테이블의 여러 기능들을 설정할 수 있습니다. 
				</div>
				<div class="item assertive" ng-repeat="online in $root.onlines" ng-show="onlines.length">
					http://{{ online.address }}:8000
				</div>
				<div class="item assertive" ng-show="!onlines.length">
					현재 터치테이블은 인터넷에 연결되어 있지 않습니다. 로그인하여 네트워크 설정을 해주십시오. 
				</div>
			</div>
			<div class="item item-text-wrap">
				로그인을 해주세요.
			</div>
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%;">아이디</span>
				<input type="text" ng-model="loginData.id">
			</label>
			<label class="item item-input">
				<span class="input-label positive"  style="width: 20%;">패스워드</span>
				<input type="password" ng-model="loginData.pw">
			</label>
			<label class="item">
				<button class="button button-block button-positive" ng-click="login()">로그인</button>
			</label>
		</div>
  </ion-content>
</ion-modal-view>
