<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">설정</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
				<ion-item menu-close ui-sref="app.home">
				  홈 	
        </ion-item>
				<ion-item menu-close ui-sref="app.groups">
				  1. 시작메뉴	
        </ion-item>
				<!--
        <ion-item menu-close ui-sref="app.contents">
         컨텐츠
        </ion-item>
        <ion-item menu-close ui-sref="app.bookmarks">
				 북마크	
        </ion-item>
				-->
				<ion-item menu-close ui-sref="app.screen">
         2. 화면 
        </ion-item>
				<ion-item menu-close ui-sref="app.networks">
				 3. 네트워크 
				</ion-item>
				<!--
				<ion-item menu-close ui-sref="app.bgimages">
				 4. 배경
				</ion-item>
        <ion-item menu-close ui-sref="app.shells">
         쉘
        </ion-item>
				-->
				<!--
        <ion-item menu-close ui-sref="app.apps">
         앱관리
        </ion-item>
        <ion-item menu-close ng-click="login()">
         로그인
        </ion-item>
        -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
