<ion-view view-title="인터넷 정보">
  <ion-content>
		<ion-list>
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">IP 주소</span>
				<input type="text" ng-model="service.address" disabled>
			</label>
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">게이트웨이</span>
				<input type="text" ng-model="service.gateway" disabled>
			</label>
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">넷마스크</span>
				<input type="text" ng-model="service.netmask" disabled>
			</label>
			<label class="item item-input">
				<span class="input-label positive" style="width: 20%">네임서버</span>
				<input type="text" ng-model="service.nameservers" disabled>
			</label>
    </ion-list>
		<div class="row">
			<div class="col"></div>
			<div class="col" style="align: center">
				<button class="button button-block button-positive" ng-click="disconnect()">연결끊기</button>
			</div>
			<div class="col"></div>
		</div>
  </ion-content>
</ion-view>
