<ion-view view-title="Network Setting">
	<ion-nav-buttons side="secondary">
		<button class="button button-clear" ng-click="apply()">
			적용
    </button>
  </ion-nav-buttons>
  <ion-content>
		<ion-list>
			<ion-item class="item-divider">
			  접속모드			  
			</ion-item>
			<ion-radio ng-model="mode.ethMode" ng-value="dhcp" ng-checked="mode.ethMode == 'dhcp'">
				DHCP
				<span class="item-note">자동 IP 할당</span>
      </ion-radio>
			<ion-radio ng-model="mode.ethMode" ng-value="static" ng-checked="mode.ethMode == 'static'">
				고정IP
				<span class="item-note">직접 IP 할당</span>
      </ion-radio>
			<div ng-show="mode.ethMode == static">
				<label class="item item-input">
					<span class="input-label positive" style="width: 20%">IP 주소</span>
					<input type="text" ng-model="static.ip" placeholder="input ip address">
				</label>
				<label class="item item-input">
					<span class="input-label positive" style="width: 20%">게이트웨이</span>
					<input type="text" ng-model="static.gw" placeholder="input gateway ip address">
				</label>
				<label class="item item-input">
					<span class="input-label positive" style="width: 20%">넷마스크</span>
					<input type="text" ng-model="static.nm" placeholder="input netmask ip address">
				</label>
				<label class="item item-input">
					<span class="input-label positive" style="width: 20%">네임서버</span>
					<input type="text" ng-model="static.ns" placeholder="input nameserver address">
				</label>
			</div>
    </ion-list>
  </ion-content>
</ion-view>
