<ion-view view-title="네트워크 설정">
	<ion-nav-buttons side="secondary">
		<button class="button button-icon icon ion-ios-refresh-empty" ng-click="refresh()">
    </button>
  </ion-nav-buttons>
  <ion-content>
		<ion-list>
			<ion-toggle toggle-class="toggle-balanced" ng-model="enable.wifi" ng-checked="enable.wifi" ng-change="setWifi()">와이파이 활성</ion-toggle>
			<ion-toggle toggle-class="toggle-balanced" ng-model="enable.ethernet" ng-checked="enable.ethernet" ng-change="setEthernet()">유선 활성</ion-toggle>
			<ion-item class="item-icon-right item-text-wrap positive" ng-click="showDetail(online)" ng-repeat="online in onlines track by $index">
				{{ online.name + " (" + (online.type == 'wifi'? '와이파이': '유선')  + ") - 연결됨" }} <i class="icon ion-ios-locked" ng-show="online.security == 'true'"></i>
				<span class="item-note" ng-show="online.strength > 60 && online.type == 'wifi'">강함</span>
				<span class="item-note" ng-show="online.strength > 30 && online.strength < 60 && online.type == 'wifi'">보통</span>
				<span class="item-note" ng-show="online.strength < 30 && online.type == 'wifi'">약함</span>
				<span class="item-note" ng-show="online.type == 'ethernet'">{{ online.method }}</span> 
			</ion-item>
			<ion-item class="item-text-wrap assertive" ng-show="!onlines.length">인터넷에 연결된 장치 없음</ion-item>
			</ion-item>
		</ion-list>
		<ion-list>
			<ion-item class="item-divider" ng-show="enable.wifi">
			 와이파이 접속 가능 목록
			</ion-item>
			<div ng-show="enable.wifi">
				<ion-item class="item-icon-right" ng-repeat="service in services | filter: { type: 'wifi' }" ng-click="selectWifi(service)" ng-show="existWifi()">
					{{service.name}} 
					<i class="icon ion-ios-locked" ng-show="service.security == 'true'"></i>
					<span class="item-note" ng-show="service.strength > 60">강함</span>
					<span class="item-note" ng-show="service.strength > 30 && service.strength < 60">보통</span>
					<span class="item-note" ng-show="service.strength < 30">약함</span>
				</ion-item>
				<ion-item ng-show="!existWifi()" class="assertive">없음</ion-item>
			</div>
			<ion-item class="item-divider" ng-show="enable.ethernet">
				유선 접속 가능 목록
			</ion-item>
			<div ng-show="enable.ethernet">
				<ion-item class="item-icon-right" ng-repeat="service in services | filter: { type: 'ethernet' }" ng-click="selectEth(service)" ng-show"existEthernet()">
					{{service.name}}
					<i class="icon ion-ios-locked" ng-show="service.security == 'true'"></i>
				</ion-item>
				<ion-item ng-show="!existEthernet()" class="assertive">없음</ion-item>
			</div>
    </ion-list>
  </ion-content>
</ion-view>
