<ion-modal-view cache-view="false">
	<ion-header-bar class="bar-positive">
		<h1 class="title">Background Detail</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeBgModal()">Close</button>
    </div>
	</ion-header-bar>
	<ion-content>
    <ion-list can-swipe="listCanSwipe">
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">x</span>
				<input type="text" ng-model="selectedItem['x']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">y</span>
				<input type="text" ng-model="selectedItem['y']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">width</span>
				<input type="text" ng-model="selectedItem['width']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">height</span>
				<input type="text" ng-model="selectedItem['height']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">image</span>
				<input type="text" ng-model="selectedItem['image']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">path</span>
				<input type="text" ng-model="selectedItem['path']">
			</label>
		</ion-list>
		<div class="row">
			<div class="col"></div>
			<div class="col" style="align: center">
				<button class="button button-block button-positive" ng-click="saveBgModal()">save</button>
			</div>
			<div class="col"></div>
		</div>
	</ion-content>
</ion-modal-view>
