<ion-view view-title="화면설정">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon" ng-click="apply()">
		 적용	
		</button>
  </ion-nav-buttons>
	<ion-header-bar class="bar-subheader">
		<div class="button-bar">
			<button class="button button-light" ng-repeat="(key, value) in uiTypeName" ng-class="{ 'button-positive': uiType == value.id }" ng-click="setUiType(value.id)">
			 {{value.name}}
			</button>
		</div>
	</ion-header-bar>
	<ion-content direction="xy">
		<div class="drag-container-shell" ng-hide="!container.width && !container.height" ng-style="{ 'width': container.width + 10 + 'px', 'height': container.height + 10 + 'px' }">
			<div class="drag-container" ng-style="{ 'width': container.width + 'px', 'height': container.height + 'px' }">
				<div class="drag-container-00" ng-if="items.length">(0,0)</div>
				<div class="interact-object draggable-screen" ng-repeat="item in items" screen-transform-basic-bind item='item' ng-click="uiType == uiTypeName.layout.id ? openScreenModal(item): ''" ng-style=" { 'font-size': '20px', 'padding-top': '5px' } ">
					<!--
					No. {{$index}}<br>
					res: {{item.width}} x {{item.height}}<br>
					-->
					Screen{{$index}}
				</div>
				<!--
				<div class="interact-object transform-screen" ng-show="uiType == uiTypeName.layout.id" ng-repeat="item in items" screen-transform-bind item='item' ng-click="openScreenModal(item)">
					Screen{{$index}}
				</div>
				-->
				<div class="interact-object" ng-show="uiType == uiTypeName.input.id" ng-repeat="input in inputs track by $index" input-mapping-basic-bind input='input' items="items"  ng-click="openInputModal(input)">
					Touch{{$index}}
				</div>
				<div class="interact-object draggable-bg" ng-show="uiType == uiTypeName.background.id" ng-repeat="bg in bgs | filter: bgsFilter track by $index" bg-bind bg='bg' ng-click="openBgModal(bg)" ng-style=" { 'font-size': '20px' } ">
					<!--
					<p style="line-height:15px;">
					No. {{$index}}<br>
					res: {{bg.width}} x {{bg.height}}<br>
					</p>
					-->
					Background{{$index}}
				</div>
				<div class="interact-object draggable-fs transform-fs-src" ng-show="selectedFs && (uiType == uiTypeName.fullscreen.id)" fs-src-bind fs='selectedFs' ng-click="openFsModal(selectedFs)">
					SRC
				</div>
				<div class="interact-object draggable-fs transform-fs-dest" ng-show="selectedFs && (uiType == uiTypeName.fullscreen.id)" fs-dest-bind fs='selectedFs' ng-click="openFsModal(selectedFs)">
					DEST
				</div>
				<div class="drag-container-11" ng-if="items.length">({{container.width * 10}}, {{container.height * 10}})</div>
			</div>
			<div class="drag-container-outline" ng-style="{ 'width': container.width + 'px', 'height': container.height + 'px' }"></div>
		</div>
		<div style="height: 50px"></div>
		<ion-list ng-show="uiType == uiTypeName.layout.id">
			<ion-item class="item-divider">자주 사용되는 배치</ion-item>
			<ion-radio ng-model="curLayout" ng-value="layout" ng-click="showLayout(layout)"  ng-repeat="layout in layouts">
				{{layout.desc}}
			</ion-radio>
			<ion-item class="item-divider">스코프 설정</ion-item>
			<ion-checkbox ng-model="item.map.scope" ng-repeat="item in items" ng-change="changeScreenScope()">Screen{{$index}}</ion-checkbox>
		</ion-list>
		<ion-list ng-show="uiType == uiTypeName.input.id">
			<ion-item class="item-divider">터치장치 목록</ion-item>
			<label class="item item-input item-select" ng-repeat="input in inputs track by $index" ng-click="openPopover($event, { object: input, target: input.map, tattr: 'area', items: inputAreaPositions, nattr: 'name', cb: selectInputOption })"> 
				<span class="input-label positive" style="width: 20%">Touch{{$index}}</span>
				<!--
				<select ng-model='input.map.area' ng-options="item.val.nodeid + 'x' + item.val.screenid as item.name for item in inputAreaPositions" ng-change="showInput(input)">
					<option value="">-- choose screen -- </option>
				</select>
				-->
				<div> {{ input.map.areaName }} </div>
			</label>
		</ion-list>
		<ion-list ng-show="uiType == uiTypeName.background.id">
			<ion-item class="item-divider item-icon-right">
			  현재 사용중인 배경
				<i class="icon ion-ios-plus-empty" ng-click="addBg()"></i>
			</ion-item>
			<div ng-repeat="bg in bgs | filter: bgsFilter track by bg.id">
				<ion-item ng-click="toggleBgGroup(bg)" ng-class="{ active: isBgGroupShown(bg)}" class="item-icon-left item-icon-right">
					<i class="icon" ng-class="isBgGroupShown(bg) ? 'ion-android-arrow-dropdown': 'ion-android-arrow-dropright'"></i>
					&nbsp;Background{{$index}} ({{getBgAreaName(bg)}})
					<i class="icon ion-ios-trash-outline" ng-click="deleteBg(bg)"></i>
				</ion-item>
				<ion-item class="item-accordion" ng-show="isBgGroupShown(bg)"> 
					<label class="item-input item-select" ng-click="openPopover($event, { object: bg, target: bg.map, tattr: 'area', items: bgAreaPositions, nattr: 'name', cb: selectBgOption })"> 
						<span class="input-label positive" style="width: 20%">스크린</span>
						<div> {{ bg.map.areaName }} </div>
						<!--
						<select ng-model='bg.map.area' ng-options="item.val.nodeid + 'x' + item.val.screenid as item.name for item in bgAreaPositions" ng-change="showBackground(bg)">
							<option value="">-- choose screen -- </option>
						</select>
						-->
					</label>
					<!--
					<label class="item-input"> 
						<span class="input-label positive" style="width: 20%">이미지</span>
						<input type="text" ng-model='bg.image'></input>
					</label>
					-->

					<label class="item-input">
						<span class="input-label positive" style="width: 20%">이미지</span>
						<!--
						<input type="file" onchange="angular.element(this).scope().loadBgImageElement(this, angular.element(this).scope().bg)" accept="image/*"/>
						-->
						<input type="file" file-model="bg.map.file" accept="image/*"/>
						<span class="item-note">
							<img ng-show="bg.map.bgImageRemoteUrl" ng-src="{{bg.map.bgImageRemoteUrl}}" style="width: 50px; height: 50px;">
						</span>
					</label>
				</ion-item>
			</div>
		</ion-list>
		<ion-list ng-show="uiType == uiTypeName.fullscreen.id">
			<ion-item class="item-divider item-icon-right">
			  현재 사용중인 제스처	
				<i class="icon ion-ios-plus-empty" ng-click="addFs()"></i>
			</ion-item>
			<div ng-repeat="fs in fss | filter: fssFilter">
				<ion-item ng-click="toggleFsGroup(fs)" ng-class="{ active: isFsGroupShown(fs)}" class="item-icon-left item-icon-right">
					<i class="icon" ng-class="isFsGroupShown(fs) ? 'ion-android-arrow-dropdown': 'ion-android-arrow-dropright'"></i>
					&nbsp;Gesture{{$index}} ({{fs.map.type}})
					<i class="icon ion-ios-trash-outline" ng-click="deleteFs(fs)"></i>
				</ion-item>
				<ion-item class="item-accordion" ng-show="isFsGroupShown(fs)"> 
					<label class="item-input item-select" ng-click="openPopover($event, { object: fs, target: fs.map, tattr: 'type', items: fsTypes, nattr: 'name', vattr: 'val', cb: selectFsTypeOption })"> 
						<span class="input-label positive" style="width: 20%">타입</span>
						<!--
						<select ng-model='fs.map.type' ng-options="item.val as item.name for item in fsTypes" ng-change="showFsType(fs)">
							<option value="">-- choose -- </option>
						</select>
						-->
						<div> {{ fs.map.typeName }} </div>
					</label>
					<label class="item-input item-select" ng-click="openPopover($event, { object: fs, target: fs.map, tattr: 'src', items: fsSrcPositions, nattr: 'name', vattr: 'val', cb: selectFsSrcPositionOption })"> 
						<span class="input-label positive" style="width: 20%">시작영역</span>
						<!--
						<select ng-model='fs.spos' ng-options="item.val as item.name for item in fsSrcPositions" ng-change="showFsSrcPosition(fs)">
							<option value="">-- choose -- </option>
						</select>
						-->
						<div> {{ fs.map.srcName }} </div>
					</label>
					<label class="item-input item-select" ng-click="openPopover($event, { object: fs, target: fs.map, tattr: 'dest', items: fsDestPositions, nattr: 'name', cb: selectFsDestPositionOption })"> 
						<span class="input-label positive" style="width: 20%">타겟영역</span>
						<!--
						<select ng-model='fs.map.dest' ng-options="item.val.nodeid + 'x' + item.val.screenid as item.name for item in fsDestPositions" ng-change="showFsDestPosition(fs)">
							<option value="">-- choose -- </option>
						</select>
						-->
						<div> {{ fs.map.destName }} </div>
					</label>
					<label class="item-input item-select" ng-click="openPopover($event, { object: fs, target: fs.map, tattr: 'r', items: fsDestRotations, nattr: 'name', vattr: 'val', cb: selectFsDestRotationOption })"> 
						<span class="input-label positive" style="width: 20%">타겟회전</span>
						<!--
						<select ng-model='fs.map.r' ng-options="item.val as item.name for item in fsDestRotations" ng-change="showFsDestRotation(fs)">
							<option value="">-- choose -- </option>
						</select>
						-->
						<div> {{ fs.map.rName }} </div>
					</label>
				</ion-item>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
