<ion-modal-view cache-view="false">
	<ion-header-bar class="bar-positive">
		<h1 class="title">Fullscreen Detail</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeFsModal()">Close</button>
    </div>
	</ion-header-bar>
	<ion-content>
    <ion-list can-swipe="listCanSwipe">
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">sx</span>
				<input type="text" ng-model="selectedItem['sx']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">sy</span>
				<input type="text" ng-model="selectedItem['sy']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">sw</span>
				<input type="text" ng-model="selectedItem['sw']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">sh</span>
				<input type="text" ng-model="selectedItem['sh']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">dx</span>
				<input type="text" ng-model="selectedItem['dx']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">dy</span>
				<input type="text" ng-model="selectedItem['dy']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">dw</span>
				<input type="text" ng-model="selectedItem['dw']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">dh</span>
				<input type="text" ng-model="selectedItem['dh']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">dr</span>
				<input type="text" ng-model="selectedItem['dr']">
			</label>
		</ion-list>
		<div class="row">
			<div class="col"></div>
			<div class="col" style="align: center">
				<button class="button button-block button-positive" ng-click="saveFsModal()">save</button>
			</div>
			<div class="col"></div>
		</div>
	</ion-content>
</ion-modal-view>
