<ion-modal-view cache-view="false">
	<ion-header-bar class="bar-positive">
		<h1 class="title">Screen Detail</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeScreenModal()">Close</button>
    </div>
	</ion-header-bar>
	<ion-content>
    <ion-list can-swipe="listCanSwipe">
			<!--
			<label class="item item-input"  ng-repeat="(key, value) in selectedItem">
				<span class="input-label positive" style="width: 20%">{{ key }}</span>
				<input type="text" ng-model="selectedItem[key]" ng-disabled="key === 'id'">
			</label>
			-->
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">nodeid</span>
				<input type="text" ng-model="selectedItem['nodeid']" disabled>
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">screenid</span>
				<input type="text" ng-model="selectedItem['screenid']" disabled>
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">x</span>
				<input type="text" ng-model="selectedItem['x']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">y</span>
				<input type="text" ng-model="selectedItem['y']">
			</label>
			<label class="item item-input item-select"> 
				<span class="input-label positive" style="width: 20%">resolution</span>
				<select ng-model='selectedMode' ng-options="mode.res as mode.res for mode in screenModes" ng-change="updateResOption()">
				</select>
				<!--
				<select>
					<option>USA</option>
					<option selected>France</option>
					<option>India</option>
				</select>
				-->
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">rotate</span>
				<input type="text" ng-model="selectedItem['r']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">sx</span>
				<input type="text" ng-model="selectedItem['sx']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">sy</span>
				<input type="text" ng-model="selectedItem['sy']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">px</span>
				<input type="text" ng-model="selectedItem['px']">
			</label>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">py</span>
				<input type="text" ng-model="selectedItem['py']">
			</label>
		</ion-list>
		<div class="row">
			<div class="col"></div>
			<div class="col" style="align: center">
				<button class="button button-block button-positive" ng-click="saveScreenModal()">save</button>
			</div>
			<div class="col"></div>
		</div>
	</ion-content>
</ion-modal-view>
