<ion-view view-title="화면설정">
	<!--
  <ion-nav-buttons side="secondary">
    <button class="button button-icon" ng-click="">
		</button>
  </ion-nav-buttons>
	-->
	<ion-content>
		<div class="screen-setting-container">
			<div class="screen-setting-item" ui-sref="app.screenbasic"> 
				<button class="button button-outline button-balanced">추천모드</button>
			</div>
			<div class="screen-setting-item" ui-sref="app.screenadvanced">
				<button class="button button-outline button-assertive">에디팅모드</button>
			</div>
		</div>
		<div class="padding">
			여기서 당신은 테이블을 구성하고 있는 화면을 설정할 수 있습니다. 화면 관련 설정 가능한 항목은 다음과 같습니다.<br><br>
			<ul>
				<li>- 화면 배치</li>
			 	<li>- 터치 배치</li>
			 	<li>- 배경 이미지</li>
			 	<li>- 제스처 </li>
			</ul>
			<br>
			<strong>추천모드</strong>는 자주 사용되는 패턴을 선택하여 화면을 설정하는 모드입니다. 초보자는 추천모드를 이용하시면 편리하고 쉽게 화면을 설정할 수 있습니다.<br><br>
			<strong>에디팅모드</strong>는 드래그 앤 드랍으로 직접 화면/터치와 제스처 등을 배치하는 모드입니다. 이 모드를 이용하면 여러개의 스크린(화면장치)를 아주 독특한형태로 배치할 수 있습니다. 
		</div>
		<!--
		<div class="card"  ui-sref="app.screenbasic">
			<div class="item item-divider">
			  추천모드
			</div>
			<div class="item item-text-wrap item-icon-right">
				You can just select one of some options well used for screen/touch/background setting

				<i class="icon ion-ios-arrow-right"></i>
			</div>
		</div>
		<div class="card"  ui-sref="app.screenadvanced">
			<div class="item item-divider">
				Advanced Mode
			</div>
			<div class="item item-text-wrap item-icon-right">
				You can fully customize screen/touch/background setting, using drag and drop something.
				<i class="icon ion-ios-arrow-right"></i>
			</div>
		</div>
		-->
	</ion-content>
</ion-view>
