<ion-view view-title="화면설정">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon" ng-click="apply()">
		 적용	
		</button>
  </ion-nav-buttons>
	<ion-header-bar class="bar-subheader">
		<div class="button-bar">
			<button class="button button-light" ng-repeat="(key, value) in uiTypeName" ng-class="{ 'button-positive': uiType == value.id }" ng-click="setUiType(value.id)">
			 {{value.name}}
			</button>
		</div>
	</ion-header-bar>
	<ion-content has-bouncing="false" direction="xy">
		<div class="drag-container-shell" ng-hide="!container.width && !container.height" ng-style="{ 'width': container.width + 200 + 'px', 'height': container.height + 200 + 'px' }">
			<div class="drag-container" ng-style="{ 'width': container.width + 'px', 'height': container.height + 'px' }">
				<div class="drag-container-00" ng-if="items.length">(0,0)</div>
				<div class="interact-object draggable-screen" ng-repeat="item in items" screen-layout-bind item='item' ng-click="uiType == uiTypeName.layout.id ? openScreenModal(item): ''">
					<p style="line-height:15px;">
					No. {{$index}}<br>
					res: {{item.width}} x {{item.height}}<br>
					t: ({{item.x}}, {{item.y}})<br>
					r: {{item.r}}, s: ({{item.sx}}, {{item.sy}})
					</p>
				</div>
				<div class="interact-object transform-screen" ng-show="uiType == uiTypeName.layout.id" ng-repeat="item in items" screen-transform-bind item='item' ng-click="openScreenModal(item)">
					No. {{$index}}
				</div>
				<div class="interact-object draggable-input" ng-show="uiType == uiTypeName.input.id && !input.useTransform" ng-repeat="input in inputs track by $index" input-mapping-bind input='input' items="items"  ng-click="openInputModal(input)">
					No. {{$index}}
				</div>
				<div class="interact-object transform-input" ng-show="uiType == uiTypeName.input.id && input.useTransform" ng-repeat="input in inputs track by $index" input-transform-bind input='input' items="items"  ng-click="openInputModal(input)">
					No. {{$index}}
				</div>
				<div class="interact-object draggable-bg" ng-show="uiType == uiTypeName.background.id" ng-repeat="bg in bgs track by $index" bg-bind bg='bg' ng-click="openBgModal(bg)">
					<p style="line-height:15px;">
					No. {{$index}}<br>
					res: {{bg.width}} x {{bg.height}}<br>
					t: ({{bg.x}}, {{bg.y}})
					</p>
				</div>
				<div class="interact-object draggable-fs transform-fs-src" ng-show="selectedFs && (uiType == uiTypeName.fullscreen.id)" fs-src-bind fs='selectedFs' ng-click="openFsModal(selectedFs)">
					<p style="line-height:15px;">
					-SOURCE-<br>
					size: {{selectedFs.sw}} x {{selectedFs.sh}}<br>
					t: ({{selectedFs.sx}}, {{selectedFs.sy}})
					</p>
				</div>
				<div class="interact-object draggable-fs transform-fs-dest" ng-show="selectedFs && (uiType == uiTypeName.fullscreen.id)" fs-dest-bind fs='selectedFs' ng-click="openFsModal(selectedFs)">
					<p style="line-height:15px;">
					-DESTINATION-<br>
					size: {{selectedFs.dw}} x {{selectedFs.dh}}<br>
					t: ({{selectedFs.dx}}, {{selectedFs.dy}})<br>
					r: {{selectedFs.dr}}deg
					</p>
				</div>
				<div class="drag-container-11" ng-if="items.length">({{container.width * 10}}, {{container.height * 10}})</div>
			</div>
			<div class="drag-container-outline" ng-style="{ 'width': container.width + 'px', 'height': container.height + 'px' }"></div>
		</div>
		<ion-list ng-show="uiType == uiTypeName.layout.id">
			<ion-item class="item-divider">사용중인 화면({{items.length}})</ion-item>
			<ion-item class="item-icon-left item-button-right" ng-repeat="item in items">
				<i class="icon ion-ios-monitor-outline" ng-click="openScreenModal(item)"></i>
				<a ng-click="openScreenModal(item)">No. {{$index}}</a>
				<button class="button button-poistive button-outline" ng-click="unUseScreen(item)">
				 삭제 
				</button>
			</ion-item>
			<ion-item class="item-divider">사용하지 않는 화면({{plugedScreens.length}})</ion-item>
			<ion-item class="item-icon-left item-button-right" ng-repeat="screen in plugedScreens">
				<i class="icon ion-ios-monitor"></i>
				nodeid: {{screen.nodeid}}, screenid: {{screen.screenid}}
				<button class="button button-poistive button-outline" ng-click="useScreen(screen)">
				 사용	
				</button>
			</ion-item>
		</ion-list>
		<ion-list ng-show="uiType == uiTypeName.input.id">
			<ion-item class="item-divider">사용중인 터치({{inputs.length}})</ion-item>
			<ion-item class="item-icon-left item-button-right" ng-repeat="input in inputs track by $index">
				<i class="icon ion-ios-settings" ng-click="openInputModal(input)"></i>
				<a ng-click="openInputModal(input)">No. {{$index}}</a>
				<button class="button button-poistive button-outline" ng-click="unUseTouchInput(input)">
				 삭제 
				</button>
			</ion-item>
			<ion-item class="item-divider">사용하지 않는 터치({{plugedInputs.length}})</ion-item>
			<ion-item class="item-icon-left item-button-right" ng-repeat="input in plugedInputs">
				<i class="icon ion-ios-settings-strong"></i>
				{{input.devnode}}
				<button class="button button-poistive button-outline" ng-click="useTouchInput(input)">
				 사용	
				</button>
			</ion-item>
		</ion-list>
		<!--
		<div ng-show="uiType == uiTypeName.input" class="draggable-input" style="width: 100px; height: 100px; background-color: red">INPUT</div>
		-->
		<ion-list ng-show="uiType == uiTypeName.background.id">
			<ion-item class="item-divider item-icon-right">
			  사용중인 배경앱	
				<i class="icon ion-ios-plus-empty" ng-click="addBg()"></i>
			</ion-item>
			<ion-item class="item-icon-left item-button-right" ng-repeat="bg in bgs track by $index">
				<i class="icon ion-ios-barcode-outline"></i>
				<a ng-click="openBgModal(bg)">No. {{$index}}</a>
				<button class="button button-poistive button-outline" ng-click="deleteBg(bg)">
				 삭제	
				</button>
			</ion-item>
		</ion-list>
		<ion-list ng-show="uiType == uiTypeName.fullscreen.id">
			<ion-item class="item-divider item-icon-right">
			  픽(pick) 모드 
				<i class="icon ion-ios-plus-empty" ng-click="addFs('pick')"></i>
			</ion-item>
			<ion-item class="item-icon-left item-button-right" ng-repeat="fs in fss | filter : { type: 'pick' } track by $index" ng-click="showFs(fs)">
				<i class="icon ion-ios-toggle-outline"></i>
				<a ng-click="openFsModal(fs)">No. {{$index}}</a>
				<button class="button button-poistive button-outline" ng-click="deleteFs(fs)">
				 삭제	
				</button>
			</ion-item>
			<ion-item class="item-divider item-icon-right">
			  피치(pitch) 모드 
				<i class="icon ion-ios-plus-empty" ng-click="addFs('pitch')"></i>
			</ion-item>
			<ion-item class="item-icon-left item-button-right" ng-repeat="fs in fss | filter : { type: 'pitch' } track by $index" ng-click="showFs(fs)">
				<i class="icon ion-ios-toggle-outline"></i>
				<a ng-click="openFsModal(fs)">No. {{$index}}</a>
				<button class="button button-poistive button-outline" ng-click="deleteFs(fs)">
				 삭제	
				</button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
