<ion-modal-view cache-view="false">
	<ion-header-bar class="bar-positive">
		<h1 class="title">Input Detail</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeInputModal()">Close</button>
    </div>
	</ion-header-bar>
	<ion-content>
    <ion-list can-swipe="listCanSwipe">
			<ion-toggle ng-model="selectedItem.useTransform"  ng-checked="selectedItem.useTransform" toggle-class="toggle-balanced" ng-change="changeInputTransformFlag()">
				Use Transform 
			</ion-toggle>
			<label class="item item-input"> 
				<span class="input-label positive" style="width: 20%">devnode</span>
				<input type="text" ng-model="selectedItem['devnode']" disabled>
			</label>
			<div ng-show="!selectedItem.useTransform">
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">nodeid</span>
					<input type="text" ng-model="selectedItem['nodeid']">
				</label>
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">screenid</span>
					<input type="text" ng-model="selectedItem['screenid']">
				</label>
			</div>
			<div ng-show="selectedItem.useTransform">
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">x</span>
					<input type="text" ng-model="selectedItem['x']">
				</label>
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">y</span>
					<input type="text" ng-model="selectedItem['y']">
				</label>
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">width</span>
					<input type="text" ng-model="selectedItem['width']">
				</label>
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">height</span>
					<input type="text" ng-model="selectedItem['height']">
				</label>
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">rotate</span>
					<input type="text" ng-model="selectedItem['r']">
				</label>
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">sx</span>
					<input type="text" ng-model="selectedItem['sx']">
				</label>
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">sy</span>
					<input type="text" ng-model="selectedItem['sy']">
				</label>
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">px</span>
					<input type="text" ng-model="selectedItem['px']">
				</label>
				<label class="item item-input"> 
					<span class="input-label positive" style="width: 20%">py</span>
					<input type="text" ng-model="selectedItem['py']">
				</label>
			</div>
		</ion-list>
		<div class="row">
			<div class="col"></div>
			<div class="col" style="align: center">
				<button class="button button-block button-positive" ng-click="saveInputModal()">save</button>
			</div>
			<div class="col"></div>
		</div>
	</ion-content>
</ion-modal-view>
