<ion-view view-title="{{namespace.name}}">
	<ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-plus-empty" ng-click="showModal();">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-icon="ion-arrow-down-c" spinner="ios-small" on-refresh="loadNew()"></ion-refresher>
    <ion-list can-swipe="listCanSwipe">
      <ion-item class="item-icon-right item-remove-animate" ng-repeat="item in items" ng-click="enter(item)">
				item {{ $index + 1 }} 
				<i class="icon ion-ios-arrow-right"></i>
				<!--<span class="item-note">{{bm.icon}}</span>-->
        <ion-option-button class="button-assertive" ng-click="remove(item)">
          삭제
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
