<ion-view view-title="{{namespace.name}}">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon" ng-click="remove();">
		삭제
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list can-swipe="listCanSwipe">
			<label class="item item-input"  ng-repeat="kv in kvs">
				<span class="input-label positive" style="width: 20%">{{ kv[0] }}</span>
				<input type="text" ng-model="kv[1]" ng-disabled="kv[0] === 'id'">
			</label>
		</ion-list>
		<div class="row">
			<div class="col"></div>
			<div class="col" style="align: center">
				<button class="button button-block button-positive" ng-click="save()">저장</button>
			</div>
			<div class="col"></div>
		</div>
  </ion-content>
</ion-view>
