<ion-view view-title="쉘 설정">
  <ion-content>
    <ion-refresher pulling-icon="ion-arrow-down-c" spinner="ios-small" on-refresh="loadNew()"></ion-refresher>
    <ion-list can-swipe="listCanSwipe">
      <ion-item class="item-icon-right item-remove-animate" ng-repeat="ns in namespaces" ng-click="enter($index)">
					{{ns}}
					<i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
