<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Devices</h5>
  </div>
  <div class="ibox-content">
    <p class="text-right" ng-click="vm.refreshDevices()"><i class="fa fa-refresh"></i></p>
    <div style="height: 35px" ng-repeat="device in vm.deviceList">
      {{device.name}}({{device.attributes.status}})
      <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-hide="device.attributes.status === vm.status.activated" ng-disabled="device.attributes.status !== vm.status.waitConfirm" ng-click="vm.confirm(device)">
        <strong>Confirm</strong>
      </button>
    </div>
  </div>
</div>