<div class="inmodal">
  <div class="modal-header">
    <h4 class="modal-title">Create New Folder</h4>
  </div>
  <form role="submit" ng-submit="vm.create()">
    <div class="modal-body">
      <div class="form-group">
        <label>Folder Name</label>
        <input placeholder="Name" class="form-control" ng-model="vm.folderName">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>