<!-- Place all UI elements intended to be present across all routes in this file -->
<div class="{{$state.current.data.specialClass}}" landings-scrollspy id="page-top" ng-if="($root.SNOW_MODE === 'local')?(vm.isLogin && vm.localApis.isConfirm):(vm.isLogin)">
	<div id="wrapper">
		<topbar></topbar>
		<navbar></navbar>
		<div id="page-wrapper" class="gray-bg {{$state.current.name}}">
			<div class="nemoComonent">
				<div ui-view></div>
			</div>
		</div>
		<bottombar></bottombar>
	</div>
</div>
<div class="spinWrap animated fadeIn" ng-class="{'sk-loading':vm.spinner.show}">
	<!--sk-loading을 넣고 빼면 작동-->
	<div class="fix-center">
				<div class="sk-spinner sk-spinner-cube-grid">
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
						<div class="sk-cube"></div>
				</div>
	</div>
</div>
