<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Package List</h5>
  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-6 b-r">
        <div class="text-center" ng-hide="vm.pkgIndexList[0]">Loading...</div>
        <li ng-repeat="pkgIndex in vm.pkgIndexList">
          <a ng-click="vm.selectPackage(pkgIndex)">{{pkgIndex.name}}</a>
        </li>
      </div>
      <div class="col-md-6">
        <pkg-index-detail pkg-index="vm.selectedPkgIndex"></pkg-index-detail>
      </div>
    </div>
  </div>
</div>