<div class="p-lg box text-center loginscreen">
  <div>
    <div>
      <h1 class="logo-name">NM+</h1>
    </div>
    <h3>Forgot Password</h3>
    <p>Reset your password via emailed code</p>
    <form class="m-t" role="form">
      <div class="form-group">
        <input class="form-control" placeholder="Username" required="" ng-model="vm.username" ng-disabled="vm.usernameDisable">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary block full-width m-b" ng-click="vm.sendFindPasswordCode()" value="Send reset code" ng-disabled="vm.pending"></input>
      </div>
      <p class="text-muted text-center"><small>Do you remember the password?</small></p>
      <a class="btn btn-sm btn-white btn-block" ng-click="vm.loginModal()">Login</a>
    </form>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>
