<div class="ibox pkg">
    <div class="ibox-title">
        <div class="packageList__title clearfix">
            <h4 class="col-md-4">패키지 이름</h4>
            <div class="col-md-8 clearfix">
                <h4>설명</h4>
            </div>
            <div class="input-group">
                <input type="text" id="searchBar" class="form-control" ng-model="vm.query" title="search" placeholder="검 색" />
            </div>
        </div>
    </div>
    <div>
        <ul class="list-unstyled">
            <li ng-repeat="pkg in vm.pkgs | packageFilter: vm.query: (vm.resolve.mode === 'management')" ng-class-odd="'gray-bg'">
                <!--이미지 저장-->
                <div class="clearfix packageList">
                  <div class="col-md-4">
                      <h4>
                        <img ng-src="{{pkg.icon}}" ng-show="pkg.icon" class="packageList__img"></img>
                        {{pkg.Package}}
                      </h4>
                  </div>
                  <div class="col-md-4">
                      <div class="packageDetail__desc">
                          <div class="packageDetail__desc__detail">
                              {{pkg.Description}}
                          </div>
                          <div class="packageDetail__desc__config">
                              <span>마지막 업데이트 : -</span>
                              <span>개발자 : {{pkg.view.maintainer.name}}</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4" style="text-align:right;">
                      <div class="input-group-btn">
                          <button class="btn btn-danger" type="button" ng-click="vm.confirmUninstall(pkg)" ng-show="vm.resolve.mode === 'management' && pkg.view.installed === 'installed' && vm.resolve.index !== 'system' && vm.resolve.index !== 'shell'" ng-disabled="pkg.view.mandatory"><strong>{{pkg.view.mandatory?'필수':'삭제'}}</strong></button>
                          <button class="btn btn-danger" type="button" ng-click="vm.confirmUninstall(pkg)" ng-show="vm.resolve.mode === 'management' && pkg.view.installed === 'installing' && vm.resolve.index !== 'system' && vm.resolve.index !== 'shell'" ng-disabled="pkg.view.mandatory"><strong>{{pkg.view.mandatory?'필수':'삭제'}}</strong></button>
                          <button class="btn btn-primary" disabled type="button" ng-show="pkg.view.installed === 'installing'"><strong>설치중</strong></button>
                          <button class="btn btn-info" type="button" ng-click="vm.updatePackageConfig(pkg)" ng-show="vm.resolve.mode === 'management' && pkg.view.installed === 'installed'"><strong>설정</strong></button>
                          <button class="btn btn-info" type="button" ng-click="vm.install(pkg)" ng-show="vm.resolve.mode === 'store' && pkg.view.installed === 'not installed'" ng-disabled="pkg.view.mandatory" ><strong>{{pkg.view.mandatory?' 설치됨':'설치'}}</strong></button>
                          <button class="btn btn-info" type="button" disabled="true" ng-show="vm.resolve.mode === 'store' && pkg.view.installed === 'installed'"><strong>설치됨</strong></button>
                          <button class="btn btn-success" type="button" ng-click="vm.select(pkg)"><strong>자세히보기</strong></button>
                      </div>
                  </div>
                </div>
                <pkg-detail class="relPin" pkg="vm.selected" ng-if="vm.selected === pkg"></pkg-detail>
            </li>
        </ul>
    </div>
</div>
