<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>
			Things
		</h2>
		<ol class="breadcrumb">
			<li>Things</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<thing-management></thing-management>
		</div>
	</div>
</div>