<div class="row border-bottom">
	<nav class="navbar navbar-static-top topBar" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header mob-gnb-btn">
			<span minimaliza-sidebar></span>
		</div>
		<div class="navbar-header header">
			<a href="index.html" title="logo">
				<img src="/assets/img/logo.png" class="img-logo" ng-if="$root.SNOW_MODE === 'local'"/>
				<img src="/assets/img/logo_cloud.svg" class="img-logo log-cloud"  ng-if="$root.SNOW_MODE === 'cloud'"/>
				<img src="/assets/img/logo_usb.svg" class="img-logo log-cloud"  ng-if="$root.SNOW_MODE === 'usb'"/>
			</a>
		</div>
		<!-- Cloud mode -->
		<ul class="nav navbar-top-links navbar-right clearfix" ng-show="$root.SNOW_MODE === 'cloud'">
			<li uib-dropdown class="pull-right">
				<a class="count-info" href uib-dropdown-toggle>
					<i class="fa fa fa-power-off f-s-xl "></i>
				</a>
				<ul uib-dropdown-menu class="animated fadeIn m-t-xs list-unstyled">
					<li><a ng-click="vm.logout()"><i class="fa fa fa-sign-out f-s-lg"></i> 로그아웃</a></li>
				</ul>
			</li>
		</ul>
		<!-- Local mode -->
		<ul class="nav navbar-top-links navbar-right clearfix" ng-show="$root.SNOW_MODE === 'local'">
			<li class="m-hide m-r-md" >
				<span ng-show="vm.localApis.mode === ''"><i class="fa fa-close"></i> 내부 오류</span>
				<span ng-show="vm.localApis.mode === 'cloud'"><i class="fa fa-cloud"></i> 클라우드 모드</span>
				<span ng-show="vm.localApis.mode === 'local'"><i class="fa fa-desktop"></i> 로컬 모드</span>
			</li>
			<li class="m-hide m-t-xs m-r-md">
				<a class="count-info" ui-sref="setting.network">
					<span ng-show="vm.network.status"><i class="fa fa-circle" style="color:green"></i>  connected</span>
					<span ng-hide="vm.network.status"><i class="fa fa-circle" style="color:red"></i>  disconnected</span>
				</a>
			</li>
			<li>
				<topbar-usb></topbar-usb>
			</li>
			<li uib-dropdown class="pull-right">
				<a class="count-info" href uib-dropdown-toggle>
					<i class="fa fa fa-power-off f-s-xl "></i>
				</a>
				<ul uib-dropdown-menu class="animated fadeIn m-t-xs list-unstyled">
					<li>
						<a ng-click="vm.confirmReboot()"><i class="fa fa fa-repeat f-s-lg"></i> 다시시작</a>
					</li>
					<li>
						<a ng-click="vm.confirmPowerOff()"><i class="fa fa fa-power-off f-s-lg"></i> 종료</a>
					</li>
				</ul>
			</li>
		</ul>
			<!-- USB mode -->
		<ul class="nav navbar-top-links navbar-right clearfix" ng-show="$root.SNOW_MODE === 'usb'">
			<li class="m-t-xs">
				<topbar-usb></topbar-usb>
			</li>
			<li class="m-t-xs" ng-click="vm.usbApply()">
				<a><i class="fa fa-usb"></i>USB에 현재 설정 굽기</a>
			</li>
			<li class="m-t-xs" >
				<a><i class="fa fa-download"></i>PC에 현재 설정 저장 </a>
			</li>
			<li class="m-t-xs">
				<a><i class="fa fa-hdd-o"></i>기기에 백업 요청</a>
			</li>
			<li class="m-r-xl">
				<a ng-click="vm.logout()"><i class="fa fa fa-sign-out f-s-lg"></i> 선택화면으로</a>
			</li>
		</ul>
	</nav>
</div>
