<div class="middle-box text-center loginscreen">
  <div>
    <div>
      <h1 class="logo-name">NM+</h1>
    </div>
    <h3>Set Password</h3>
    <p>Set your password and attribute to first login</p>
    <form class="m-t" role="form">
      <div class="form-group">
        <input type="password" class="form-control" placeholder="New Password" required="" ng-model="vm.newPassword">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Name" required="" ng-model="vm.name">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Email" required="" ng-model="vm.email">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" ng-click="vm.login()">Login</button>
    </form>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>