<div class="ibox clearfix restorebox">
	<div class="col-md-4">
		<div class="progressBox">
			<ul class="list-unstyled">
				<li>
					<span class="number checked">1</span>
					<h4>데이터의 위치 선택</h4>
					<p>자신이 백업하고자 하는 데이터의 위치를 선택합니다.</p>
				</li>
				<li>
					<span class="number">2</span>
					<h4>기기 선택</h4>
					<p>클라우드 경우 클라우드 내부 기기를 선택합니다.</p>
				</li>
				<li>
					<span class="number ">3</span>
					<h4>데이터 선택</h4>
					<p>백업하고자 하는 파일을 선택합니다.</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8">
	<div class="ibox-title">
		<h3>설정 복원</h3>
		<span class="text-navy">복원하려는 데이터의 위치를 선택하십시오</span>
	</div>
	<div class="ibox-content clearfix">
		<div class="col-xs-6 text-center f-s-xl p-h-xxl" ng-click="vm.select('local')">
			<a class="choiceBtn">
				<i class="glyphicon glyphicon-hdd m-t-lg"></i>
				<h4 class="p-h-md">로컬</h4>
			</a>
		</div>
		<div class="col-xs-6 text-center f-s-xl p-h-xxl" ng-click="vm.select('cloud')">
			<a class="choiceBtn">
				<i class="fa fa-cloud m-t-lg"></i>
				<h4 class="p-h-md">클라우드</h4>
			</a>
		</div>
	</div>
</div>
</div>
