<div class="s3Box clearfix">
  <div class="col-md-12 white-bg s3box-box">
    <div class="ibox-content clearfix">
      <div class="col-md-10">
        <s3-file-list options="vm.options" index="vm.selectedIndex" directory="vm.directory" resolve="vm.resolve"></s3-file-list>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled componentStroage-func">
          <li ng-click="vm.createFolder()">
            <a><i class="fa fa-folder"></i>&nbsp;&nbsp;&nbsp;새폴더 생성</a>
          </li>
          <li ng-click="vm.uploadModal()">
            <a><i class="fa fa-file"></i>&nbsp;&nbsp;&nbsp;파일 업로드</a>
          </li>
          <li ng-show="vm.resolve.checkCounter > 0">
            <a ng-click="vm.resolve.downloadFiles()"><i class="fa fa-download"></i>&nbsp;&nbsp;&nbsp;다운로드</a>
          </li>
          <li ng-show="vm.resolve.checkCounter > 0">
            <a><i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;삭제</a>
          </li>
          <li ng-show="vm.resolve.checkCounter === 1">
            <a ng-click="vm.resolve.detailFile()"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;속성</a>
          </li>
          <li ng-show="vm.resolve.checkCounter === 1">
            <a><i class="fa fa-font"></i>&nbsp;&nbsp;&nbsp;이름수정</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
