<div class="row wrapper page-heading">
	<h2>SCENE</h2>
	<ol class="breadcrumb">
		<li>저장된 SCENE</li>
	</ol>
</div>
<div class="wrapper-content animated fadeIn">
	<div class="row">
		<div class="col-md-12">
			<ui-view resolve="vm.resolve"></ui-view>
		</div>
	</div>
</div>
