<div class="row wrapper page-heading">
		<h2>
			회사소개
		</h2>
		<ol class="breadcrumb">
			<li>회사 소개</li>
		</ol>
</div>

<div class="wrapper wrapper-content animated fadeIn">
	<div class="row">
		<div class="col-md-12">
			<div class="ibox">
				<div class="ibox-content">
					<div class="b-b">
						<h3 class="text-center p-h-lg">NEMO-UX</h3>
						<div class="f-s-xl p-w-lg m-b-lg">
							네모유엑스㈜는 새로운 디지털 사이니지 시장을 만드는 토탈 소프트웨어 회사로
							MS 에서 벗어난 전용 운영체제와 다양한 사이니지 신기술을 개발하여
							새로운 디지털 사이니지 솔루션을 찾고 있는 국내외 파트너들에게
							합리적인 가격에 고객을 만족시킬 수 있는 다양한 솔루션을 제공합니다.
						</div>
					</div>
					<div class="b-b clearfix">
						<h3 class="text-center p-h-lg">Field of Business</h3>
						<ol class="col-md-5">
							<li>
								<h4>운영체제 (FINE 플랫폼)</h4>
								<ul>
									<li>OS (Kernel, Device Driver, Network, Virtualization,)</li>
									<li>UI/UX Framework (Window Manager, Toolkit (Native,QT,EFL,HTML5))</li>
									<li>Web Engine (Blink), IDE (Atom, Eclipse), IVI(GENIVI)</li>
								</ul>
							</li>
							<li>
								<h4>디지털 사이니지 솔루션 (NEMO-DS)</h4>
								<ul>
									<li>Kiosk, Multi-vision (Projector, Sensor, Touch)</li>
									<li>Motion/Proximity Sensor with Facial/Location Recognition</li>
								</ul>
							</li>
							<li>
								<h4>다중 서비스 터치 솔루션 (NEMO-MU)</h4>
								<ul>
									<li>Multi-touch Table Solution (32-96inch, 4K+, Multi Display)</li>
									<li>Touch Wall Solution (110-200inch, 4K-12K, Multi Display, Sensor)</li>
								</ul>
							</li>
							<li>
								<h4>통합 네트워크 운영 관리 솔루션 (NEMO-MG)</h4>
								<ul>
									<li>Remote Manage/Recovery, CMS, Group/B2B support</li>
									<li>Cloud&amp;Enterprise Architecture (BIGDATA infra.)</li>
								</ul>
							</li>
							<li>
								<h4>전용 컨텐츠 스토어 (NEMO-STORE)</h4>
								<ul>
									<li>Application Software (뷰어, 관제, 디렉토리, 결제 등등)</li>
									<li>Template Store (Layout, Theme)</li>
								</ul>
							</li>
						</ol>
						<div class="col-md-7 nemoIntro__img">
							<img src="/assets/img/nemointro.png" alt="descriptionImg"/>
						</div>
					</div>
					<div class="clearfix">
						<h3 class="text-center p-h-lg">Contact</h3>
						<div class="col-md-6 b-r">
							<h4 class="text-center">주소</h4>
							<p class="p-w-lg">
								서울특별시 서초구 서초대로 74길 23<br/>
								서초타운트라팰리스 503호(06621)<br/>
								nemoux@nemoux.net<br/>
								www.nemoux.net<br/>
							</p>
							<p class="text-center">
								<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.504381089863!2d127.02506404342307!3d37.49602048572439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca15a566537f9%3A0x19f155764910cc89!2z7ISc7LSI7YOA7Jq07Yq465287Yyw66as7IqkIOq0gOumrOuLqA!5e0!3m2!1sko!2skr!4v1483085720249" width="450" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
							</p>
						</div>
						<div class="col-md-6">
							<form>
								<h4 class="text-center">메일 보내기</h4>
								<div class="form-group">
									<label for="name">이름:</label>
							    <input type="text" class="form-control" id="name">
								</div>
								<div class="form-group">
									<label for="email">이메일:</label>
							    <input type="email" class="form-control" id="email">
								</div>
								<div class="form-group">
									<label for="titlle">제목:</label>
							    <input type="text" class="form-control" id="titlle">
								</div>
								<div class="form-group">
									<label for="titlle">내용</label>
							    <textarea class="form-control" id="titlle" rows="8"></textarea>
								</div>
								<div class="ibox-footer clearfix">
									<button class="btn btn-primary pull-right">보내기</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
