<div class="modal-header">
	<strong class="f-s-lg">스크린샷</strong>
</div>
<div class="modal-body text-center">
	<img ng-show="vm.image" ng-src="{{vm.image}}"></img>
</div>
<div class="modal-footer">
	<div class="input-group-btn">
		<button class="btn btn-primary" ng-click="vm.download()">
			<strong>다운로드</strong>
		</button>
	<div>
</div>
