/* Empty. Add your own CSS if you like */
.modal {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
.interact-object {
	position: absolute;
	color: white;
	text-align: center;
	border: 1px solid red;
}

.drag-container {
	position: relative;
	/*background-color: #3ea;*/
	width: 1000px;
	height: 1000px;
	margin: 0;
}

.drag-container-outline {
	position: absolute;
	background-color: transparent;
	border: 1px dotted #888888;
	margin: 0;
	top: 30px;
	left: 30px;
}

.drag-container-00 {
	position: absolute;
	top: -20px;
	left: -20px;
}

.drag-container-11 {
	position: absolute;
	bottom: -20px; 
	right: -20px;
}

.drag-container-shell {
	padding: 30px;
	position: relative;
	margin: auto;
}

.dropzone {
	background-color: #ccc;
	border: dashed 2px transparent;
}

.drop-active {
	border-color: #aaa;
}

.drop-target {
	background-color: red;
	border-color: #fff;
	border-style: solid;
}

.drag-drop {
	display: inline-block;
	color: #fff;
	background-color: red;
	border: solid 1px #fff;

	transform: translate(0px, 0px);
	transition: background-color 0.3s;
}

.drag-drop.can-drop {
	color: #000;
	background-color: #4e4;
}

.screen-setting-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
}

.screen-setting-item {
	width: 50%;
	text-align: center;
	margin: 20px;
	font-size: 5vw;
	border-radius: 5px;
}

.screen-basic-outline {
	width: 100%;
	height: 300px;
	background-color: rgba(255,255,0,0.2);
}

/* collpasable list stuff */
.list .item.item-accordion {
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
	line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
	display: block !important;
}

