<div class="inmodal">
  <div class="modal-header">
    <!-- <i class="fa fa-laptop modal-icon"></i> -->
    <h4 class="modal-title">Edit User Attributes</h4>
    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
  </div>
  <form role="submit" ng-submit="vm.update()">
    <div class="modal-body">
      <div class="form-group">
        <label>Username</label>
        <input placeholder="Username" class="form-control" ng-model="vm.user.Username" ng-disabled="true">
        <div ng-repeat="attribute in vm.user.Attributes track by attribute.Name">
          <div ng-hide="attribute.Name.endsWith('customer')">
            <label>{{attribute.Name}}</label>
            <input class="form-control" ng-model="attribute.Value" ng-disabled="attribute.Name.endsWith('type')">
          </div>
        </div>
        <label>Customer</label>
        <select class="form-control m-b" name="customer" ng-model="vm.customer.Value">
          <option ng-repeat="customer in vm.customerList">{{customer.name}}</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
</div>
