<div class="col-md-12">
	<div class="ibox">
		<div class="ibox-title relPin">
			<h3>히스토리</h3>
		</div>
		<div class="ibox-content fixHeight">
			<ul class="historyList">
				<li class="historyList-list"ng-repeat='history in vm.histories track by $index'>
					<span class="data">{{history.time}}</span> <span class="historyList_message">{{history.message}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>
