<div class="col-md-12">
    <ul class="list-unstyled clearfix">
        <li class="col-xs-6 col-md-3 m-b relPin" ng-repeat="device in vm.deviceList" ng-click="vm.select(device)">
            <div class="monitoringDevice">
              <div>
                <i class="fa fa-television"></i>
                <br>
                <b>{{device.name}}</b>
                <span class="text-info monitoringDevice-status" ng-show="device.connected"><i class="fa fa-power-off" aria-hidden="true"></i></span>
                <span class="text-muted monitoringDevice-status" ng-hide="device.connected"><i class="fa fa-power-off" aria-hidden="true"></i></span>
              </div>
              <div class="monitoringDevice-status-off" ng-hide="device.connected"></div>
            </div>
        </li>
    </ul>
</div>
