<div class="local" ng-hide="vm.network.status">
	<div class="ibox-title">
		<h3>클라우드 실행</h3>
	</div>
	<div class="ibox-content p-h-xl text-center">
		<span class="f-s-xl text-warning">인터넷을 연결해주세요</span>
	</div>
	<div class="ibox-footer clearfix">
		<button class="btn btn-primary pull-right m-t-sm m-b-sm" type="submit" ui-sref="setting.network">
			<strong>인터넷 연결 설정</strong>
		</button>
	</div>
</div>
