<div class="ibox">
  <div class="s3Box clearfix white-bg">
    <div class="col-md-2 gray-bg s3box-box">
      <h3 class="s3box-box-index">Index</h3>
      <ul class="folder-list s3Box-index relPin">
        <li ng-repeat="index in vm.indexList" class="relPin">
          <a ng-click="vm.select(index)">
            <i class="fa fa-folder"></i> <span>{{index.Prefix | directoryFilter:(vm.options.indexPrefix)}}</span>
          </a>
          <a class="delBtn" ng-click="vm.deleteIndex(index)">X</a>
        </li>
      </ul>
      <select class="mobile form-control" ng-model="vm.selectedIndex" ng-change="selectIndex()">
        <option ng-repeat="index in vm.indexList" ng-value="index.Prefix">
          {{index.Prefix | directoryFilter:(vm.options.indexPrefix)}}
        </option>
      </select>
    </div>
    <div class="col-md-10">
      <div class="ibox-title">
        <div class="file-manager">
          <div class="clearfix">
            <div class="col-lg-4">
              <div class=" input-group">
                <label class="form-control">
                            <input type="file" multiple class=" ng-isolate-scope" fileread="vm.pickedFiles" />
                          </label>
                <div class="input-group-btn">
                  <button class="btn btn-info" ng-click="vm.uploadFile()">업로드</button>
                </div>
              </div>
            </div>
            <div class="col-lg-8 clearfix">
              <div class="input-group pull-right s3Box-btnGroup">
                <button class="btn btn-danger" ng-click="vm.resolve.deleteFiles()"><i class="fa fa-trash"></i></button> &nbsp;
                <button class="btn btn-success" ng-click="vm.resolve.downloadFiles()"><i class="fa fa-cloud-download"></i></button> &nbsp;
                <button class="btn btn-info" ng-click="vm.createFolder()"><b>+</b> <i class="fa fa-folder"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ibox-content clearfix">
        <div class="col-md-12">
          <s3-file-list options="vm.options" index="vm.selectedIndex" directory="vm.directory" resolve="vm.resolve"></s3-file-list>
        </div>
      </div>
    </div>
  </div>
</div>
