<div class="modal-body text-center">
	<span class="f-s-xl"><i class="fa fa-check-circle-o f-s-xxl"></i></span>
	<pre ng-show="vm.time > 0">{{vm.time}}초 후 장비가 {{(vm.type === 'reboot')?'재시작':'종료'}}됩니다.</pre>
	<pre ng-hide="vm.time > 0">장비가 {{(vm.type === 'reboot')?'재시작':'종료'}}되었습니다.</pre>
</div>