<div class="modal-header">
	<h3>레이어 수정</h3>
</div>
<div class="modal-body">
	<form>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-btn">
						<label class="btn btn-default">레이어 이름</label>
					</span>
	        <input type="text" class="form-control" placeholder="레이어 이름" ng-model="vm.editLayer.id">
	      </div>
			</div>
	</form>
</div>
<div class="modal-footer clearfix">
	<span class="text-danger pull-left" ng-show="vm.errorMessage">{{vm.errorMessage}}</span>
	<div class="input-group-btn">
		<button class="btn btn-warning" ng-click="vm.close()">
			<strong>취소</strong>
		</button>
		<button class="btn btn-success" ng-click="vm.edit()">
			<strong>확인</strong>
		</button>
	<div>
</div>
