<div class="middle-box text-center loginscreen animated fadeIn">
  <div>
    <div>
      <h1 class="logo-name">NM</h1>
    </div>
    <h3>Welcome to NEMO-UX</h3>
    <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
    </p>
    <p>Login in. To see it in action.</p>
    <form class="m-t" role="form">
      <div class="form-group">
        <input class="form-control" placeholder="Username" required="" ng-model="vm.username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="" ng-model="vm.password">
      </div>
      <button type="submit" class="btn btn-primary block full-width m-b" ng-click="vm.login()" ng-disabled="vm.pendingLogin">Login</button>
    </form>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>