<div class="inmodal">
  <div class="modal-header">
    <!-- <i class="fa fa-laptop modal-icon"></i> -->
    <h4 class="modal-title">Delete Customer</h4>
    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
  </div>
  <form role="submit" ng-submit="vm.delete()">
    <div class="modal-body">
      <p><strong>Type "delete" to delete customer</strong></p>
      <div class="form-group">
        <label>Confirm</label>
        <input placeholder="Type 'delete' to delete customer" class="form-control" ng-model="vm.confirm">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancel</button>
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
  </form>
</div>