<div class="ibox">
  <div class="ibox-title">
    <h3 class="p-w-md">Packages management</h3>
  </div>
  <div class="ibox-content">
    <div class="p-w-md">
        <h3>{{vm.package.Filename}}</h3>
        <br>
        <div class="input-group">
          <label class="input-group-addon">
            <span>아이콘 이미지</span>
          </label>
          <input type="file" fileread="vm.icon" class="form-control"></input>
        </div>
        <br>
        <div class="input-group">
          <label class="input-group-addon">
            <span>설명 이미지</span>
          </label>
            <input type="file" fileread="vm.image" class="form-control"></input>
        </div>
        <br>
        <div class="input-group">
          <label class="input-group-addon">
            <span>설명 텍스트</span>
          </label>
          <textarea ng-model="vm.package.Description" class="form-control"></textarea>
        </div>
    </div>
  </div>
  <div class="ibox-footer">
    <div class="input-group-btn">
      <button class="btn btn-primary" ng-click="vm.uploadFile()">Upload File</button>
    </div>
  </div>
</div>
