<div class="col-md-12">
	<ul class="list-unstyled clearfix">
		<li class="col-md-3">
			<div class="scene">
				<div class="scene-img">
					<img src="/assets/img/p1.jpg" alt="image1" />
					<button class="btn scene-detailBtn" ng-click="vm.detail()">상세정보</button>
				</div>
				<div class="scene-title">
					<h4>SCENE TITLE</h4>
				</div>

				<button class="btn scene-tempBtn">중도저장</button>
			</div>
		</li>
		<li class="col-md-3">
			<div class="scene-addBtn" ui-sref="scene.add.templates">
				<i class="fa fa-plus-circle"></i>
				<span>새 Scene만들기</span>
			</div>
		</li>
	</ul>	
</div>
