<uib-tabset>
		<uib-tab heading="일반형">
			<div class="ibox p-h-lg">
					<ul class="list-unstyled clearfix">
						<li class="col-md-3">
							<div class="scene">
								<div class="scene-img">
									<img src="/assets/img/p1.jpg" alt="image1" />
								</div>
								<div class="scene-title">
									<h4>SCENE TITLE1</h4><br/>
									<div class="tagList">
										<span>#쉬운</span><span>#영상</span><span>#이미지 슬라이드</span>
									</div>
									<p class="text-align-right">
										<button class="btn btn-info" ng-click="vm.product()">제작하기</button>
									</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="scene">
								<div class="scene-img">
									<img src="/assets/img/p2.jpg" alt="image1" />
								</div>
								<div class="scene-title">
									<h4>SCENE TITLE2</h4><br/>
									<div class="tagList">
										<span>#쉬운</span><span>#영상</span><span>#이미지 슬라이드</span>
									</div>
									<p class="text-align-right">
										<button class="btn btn-info" ng-click="vm.product()">제작하기</button>
									</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="scene">
								<div class="scene-img">
									<img src="/assets/img/p3.jpg" alt="image1" />
								</div>
								<div class="scene-title">
									<h4>SCENE TITLE3</h4><br/>
									<div class="tagList">
										<span>#쉬운</span><span>#영상</span><span>#이미지 슬라이드</span>
									</div>
									<p class="text-align-right">
										<button class="btn btn-info" ng-click="vm.product()">제작하기</button>
									</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="scene">
								<div class="scene-img">
									<img src="/assets/img/p4.jpg" alt="image1" />
								</div>
								<div class="scene-title">
									<h4>SCENE TITLE4</h4><br/>
									<div class="tagList">
										<span>#쉬운</span><span>#영상</span><span>#이미지 슬라이드</span>
									</div>
									<p class="text-align-right">
										<button class="btn btn-info" ng-click="vm.product()">제작하기</button>
									</p>
								</div>
							</div>
						</li>
					</ul>
			</div>
		</uib-tab>
		<uib-tab heading="터치형">
			<div class="ibox p-h-lg">
					<ul class="list-unstyled clearfix">
						<li class="col-md-3">
							<div class="scene">
								<div class="scene-img">
									<img src="/assets/img/p1.jpg" alt="image1" />
								</div>
								<div class="scene-title">
									<h4>SCENE TITLE1(터치형)</h4><br/>
									<div class="tagList">
										<span>#쉬운</span><span>#영상</span><span>#이미지 슬라이드</span>
									</div>
									<p class="text-align-right">
										<button class="btn btn-info" ng-click="vm.product()">제작하기</button>
									</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="scene">
								<div class="scene-img">
									<img src="/assets/img/p2.jpg" alt="image1" />
								</div>
								<div class="scene-title">
									<h4>SCENE TITLE2(터치형)</h4><br/>
									<div class="tagList">
										<span>#쉬운</span><span>#영상</span><span>#이미지 슬라이드</span>
									</div>
									<p class="text-align-right">
										<button class="btn btn-info" ng-click="vm.product()">제작하기</button>
									</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="scene">
								<div class="scene-img">
									<img src="/assets/img/p3.jpg" alt="image1" />
								</div>
								<div class="scene-title">
									<h4>SCENE TITLE3(터치형)</h4><br/>
									<div class="tagList">
										<span>#쉬운</span><span>#영상</span><span>#이미지 슬라이드</span>
									</div>
									<p class="text-align-right">
										<button class="btn btn-info" ng-click="vm.product()">제작하기</button>
									</p>
								</div>
							</div>
						</li>
						<li class="col-md-3">
							<div class="scene">
								<div class="scene-img">
									<img src="/assets/img/p4.jpg" alt="image1" />
								</div>
								<div class="scene-title">
									<h4>SCENE TITLE4(터치형)</h4><br/>
									<div class="tagList">
										<span>#쉬운</span><span>#영상</span><span>#이미지 슬라이드</span>
									</div>
									<p class="text-align-right">
										<button class="btn btn-info" ng-click="vm.product()">제작하기</button>
									</p>
								</div>
							</div>
						</li>
					</ul>
			</div>
		</uib-tab>
</uib-tabset>
