<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li ui-sref-active="active">
				<a ui-sref="home"><i class="fa fa-home"></i> <span class="nav-label">{{ '홈' | translate }}</span> </a>
			</li>
			<li ng-class="{active: $state.includes('scene')}" ng-show="vm.type === 'user'">
				<a href="index.html"><i class="fa fa-object-group"></i> <span class="nav-label">{{ 'SCENE' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('scene')}">
					<li ui-sref-active="active"><a ui-sref="scene.sceneList">{{ '설치된 SCENE' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="scene.add.templates">{{ 'SCENE 제작하기' | translate }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('nemoList')}" ng-show="vm.type === 'user'">
				<a href="index.html"><i class="fa fa-bars"></i> <span class="nav-label">{{ '리스트' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('nemoList')}">
					<li ui-sref-active="active"><a ui-sref="nemoList.lists">{{ '리스트 목록' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="nemoList.addList">{{ '리스트 추가하기' | translate }}</a></li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="componentStroage"><i class="fa fa-archive"></i> <span class="nav-label">{{ '컴퍼넌트 스토리지' | translate }}</span> </a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="userInfo"><i class="fa fa-user"></i> <span class="nav-label">{{ '계정' | translate }}</span> </a>
			</li>
			<li>
				<ul class="bottom-menu list-unstyled">
					<li ui-sref-active="active">
						<a ui-sref="nemoPolicy"><span>{{ '회사정책' | translate }}</span> </a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="nemoIntro"><span>회사소개</span> </a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
