<div class="inmodal">
  <div class="modal-header">
    <!-- <i class="fa fa-laptop modal-icon"></i> -->
    <h4 class="modal-title">Edit Customer</h4>
    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
  </div>
  <form role="submit" ng-submit="vm.update()">
    <div class="modal-body">
      <div class="form-group">
        <label>Name</label>
        <input placeholder="Name" class="form-control" ng-model="vm.customer.name" ng-disabled="true">
        <label>Nickname</label>
        <input placeholder="Nickname" class="form-control" ng-model="vm.customer.nickname">
        <label>Description</label>
        <input placeholder="Description" class="form-control" ng-model="vm.customer.description">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
</div>
