<div class="row wrapper page-heading">
		<h2>
			세팅
		</h2>
		<ol class="breadcrumb">
			<li>세팅</li>
			<li class="active"><strong>{{vm.subtitle}}</strong></li>
		</ol>
</div>
<div class="wrapper wrapper-content animated fadeIn">
	<ui-view resolve="vm.resolve"></ui-view>
</div>
