<li class="ibox" ng-show="vm.ifce">
	<div class="ibox-title">
		<h3>{{vm.ifce.device}}</h3><hr>
		<h3>고급설정</h3>
		<p class="circleBtn text-center">
			<strong>비활성화</strong>
			<label for="detailCheck">
				<input type="checkbox" id="detailCheck" name="mute" ng-model="vm.detail">
				<span class="cir" ng-class="{left: !vm.detail, right: vm.detail}"></span>
			</label>
			<strong>활성화</strong>
		</p>
		<p>
			네트워크가 IP자동 설정 기능을 지원하면 IP설정이 자동으로 할당되도록 할 수 있습니다.<br/>
			지원하지 않으면, 네트워크 관리자에게 적절한 IP 설정값을 문의해야합니다.
		</p>
	</div>
	<div class="ibox-content network" ng-show="vm.detail">
		<div>
			<p>
				<input type="radio" id="autoIP" name="ip" ng-model="vm.view.dhcp" ng-value="true"/>
				<label for="autoIP">
					자동으로 IP주소 받기
				</label>
			</p>
			<p>
				<input type="radio" id="customIP" name="ip" ng-model="vm.view.dhcp" ng-value="false"/>
				<label for="customIP">
					다음 IP주소 사용
				</label>
			</p>
			<div class="m-l-md">
				<p><label for="ipAddress">IP주소</label> <input type="text" id="ipAddress" ng-disabled="vm.view.dhcp" ng-model="vm.view.ip"/></p>
				<!-- <p><label for="subnet">서브넷 마스크</label> <input type="text" id="subnet" ng-disabled="vm.view.dhcp"/></p> -->
				<p><label for="gateway">기본 게이트웨이</label> <input type="text" id="gateway" ng-disabled="vm.view.dhcp" ng-model="vm.view.gw"/></p>
			</div>
		</div>
		<div>
			<p>
				<input type="radio" id="autoDNS" name="dns" ng-model="vm.view.autoDNS" ng-value="true"/>
				<label for="autoDNS">
					자동으로 DNS주소 받기
				</label>
			</p>
			<p>
				<input type="radio" id="customDNS" name="dns" ng-model="vm.view.autoDNS" ng-value="false"/>
				<label for="customDNS">
					다음 DNS주소 사용
				</label>
			</p>
			<div class="m-l-md">
				<p><label for="defaultDns">기본설정 DNS 서버</label> <input type="text" id="defaultDns" ng-disabled="vm.view.autoDNS" ng-model="vm.view.dns[0]"/></p>
				<p><label for="subDns">보조 DNS  서버</label> <input type="text" id="subDns" ng-disabled="vm.view.autoDNS" ng-model="vm.view.dns[1]"/></p>
			</div>
		</div>
		<div class="clearfix">
			<button class="btn btn-primary pull-right m-t-sm m-b-sm" type="submit" ng-click="vm.confirm()">
				<strong>확 인</strong>
			</button>
		</div>
	</div>
</li>
