<div class="row wrapper page-heading">
		<h2>
			정보
		</h2>
		<ol class="breadcrumb">
			<li>정보</li>
		</ol>
</div>
<div class="wrapper wrapper-content animated fadeIn">
	<div class="row">
		<div class="col-lg-6">
			<div class="ibox">
				<div class="ibox-title">
					<h3>하드웨어 정보</h3>
				</div>
				<div class="ibox-content">
					<h2>CPU</h2>
					<p class="f-s-lg">{{vm.cpu}}</p>
					<h2 class="m-t-md">메모리</h2>
					<p class="f-s-lg">{{vm.memory | bytesFilter: 'GB': 2}}GB</p>
					<h2 class="m-t-md">모델명</h2>
					<p class="f-s-lg">{{vm.pc}}</p>
					<h2 class="m-t-md">IP 주소</h2>
					<p class="f-s-lg">{{vm.ip}}</p>
					<h2>로컬 용량</h2>
					<div>
					</div>
					<canvas id="pie" class="chart chart-pie" chart-data="vm.graph.data" chart-labels="vm.graph.labels" chart-options="vm.graph.options"></canvas>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox">
				<div class="ibox-title">
					<h3>소프트웨어 정보</h3>
				</div>
				<div class="ibox-content">
					<h2>버전</h2>
					<p class="f-s-lg">1.0</p>
					<h2>소프트웨어 키</h2>
					<p class="f-s-lg">{{vm.swKey}}</p>
					<p>2017.02 업데이트</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
