<div class="restoreMenu">
	<div class="row wrapper page-heading">
		<h2>
			복원
		</h2>
		<ol class="breadcrumb">
			<li ng-repeat="breadcrumb in vm.breadcrumbs.slice(0, vm.breadcrumb.length - 1)">
				{{breadcrumb}}
			</li>
			<li class="active">
				<strong>{{vm.breadcrumbs[vm.breadcrumbs.length - 1]}}</strong>
			</li>
		</ol>
	</div>
	<div>
		<div class="wrapper wrapper-content animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<ui-view resolve="vm.resolve"></ui-view>
				</div>
			</div>
		</div>
	</div>
</div>
