<div class="ibox clearfix restorebox">
    <div class="col-md-4">
        <div class="progressBox">
          <ul class="list-unstyled">
    				<li>
    					<span class="number">1</span>
    					<h4>데이터 선택</h4>
    					<p>백업하고자 하는 파일을 선택합니다.</p>
    				</li>
    				<li>
    					<span class="number">2</span>
    					<h4>데이터의 위치 선택</h4>
    					<p>자신이 백업하고자 하는 데이터의 위치를 선택합니다.</p>
    				</li>
    				<li>
    					<span class="number checked">3</span>
    					<h4>기기 선택</h4>
    					<p>클라우드 경우 클라우드 내부 기기를 선택합니다.</p>
    				</li>
    			</ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox-title">
            <i class="fa fa-chevron-left" style="font-size:24px" ng-click="vm.back()"></i>
            <h3 class="inlineBlock">기기 선택</h3>
        </div>
        <div class="ibox-content">
            <span class="text-warning align-center" ng-show="vm.backupList && vm.backupList.length === 0">복원할 장비가 없습니다.</span>
            <ul class="list-unstyled" ng-show="vm.backupList.length !== 0">
                <li ng-click="vm.select(backupIndex)" class="deviceList f-s-xl" ng-repeat="backupIndex in vm.backupList" ng-class-odd="'gray-bg'">
                    <i class="fa fa-television"></i>&nbsp&nbsp<b>{{backupIndex.name}}</b>
                </li>
            </ul>
        </div>
    </div>
</div>
