<div class="cloud">
	<div class="ibox-title">
		<h3>장비 전환 모드</h3>
		<h4 class="text-warning" ng-show="vm.localApis.mode === 'local' && vm.cloudAllowed === 0">이 장비는 클라우드 모드를 사용할 수 없습니다. 관리자에게 문의하세요.</h4>
		<h4 class="text-warning" ng-show="vm.localApis.mode === 'local' && vm.cloudAllowed === 1">로컬모드에서 클라우드모드로 전환합니다.</h4>
		<h4 class="text-warning" ng-show="vm.localApis.mode === 'cloud'">클라우드모드에서 로컬모드로 전환합니다.</h4>
	</div>
	<div class="ibox-content clearfix relPin">
		<div class="col-xs-6 setMode text-center" id="Local">
			<p title="local" class="p-h-lg" ng-disabled="vm.current === 'local'">
				<span class="f-s-xxl">
					<i class="fa fa-hdd-o f-s-xxl"></i>
				</span>
				<h3 class="p-h-lg">Local</h3>
			</p>
		</div>
		<div class="col-xs-6 setMode text-center" id="Cloud" ng-disabled="vm.current === 'cloud'">
			<p title="cloud" class="p-h-lg">
				<span class="f-s-xxl">
					<i class="fa fa-cloud f-s-xxl"></i>
				</span>
				<h3 class="p-h-lg">Cloud</h3>
			</p>
		</div>
		<div class="abs-center">
			<div class="animated slideInLeft text-success" ng-show="vm.current === 'local'"><span class="f-s-xxl"><i class="fa fa-arrow-right f-s-xxl"></i></span></div>
			<div class="animated slideInRight text-success" ng-show="vm.current === 'cloud'"><span class="f-s-xxl"><i class="fa fa-arrow-left f-s-xxl"></i></span></div>
		</div>
	</div>
	<div class="ibox-footer clearfix">
		<button class="btn btn-primary pull-right" ng-click="vm.toggleMode()" ng-disabled="vm.localApis.mode === 'local' && vm.cloudAllowed === 0">장비 모드 전환</button>
	</div>
</div>
