<table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="table table-striped table-bordered table-hover" show-filter="false">
  <thead>
    <tr>
      <th class="text-center">
        <!-- <input type="checkbox" ng-click="vm.applyCheckAll()" ng-model="vm.checkAll"> -->
      </th>
      <th>Name</th>
      <th>Nickname</th>
      <th>Bigdata</th>
      <th>Content Sync</th>
      <th>Package Index</th>
      <th>Mandatory Packages</th>
      <th>Prefix Metadata</th>
      <th>Power</th>
      <th>Theme</th>
      <th>Shell</th>
      <th>Description</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in vm.customerList">
      <td class="text-center">
        <input type="checkbox" ng-model="customer.check"></input>
      </td>
      <td>{{customer.name}}</td>
      <td>{{customer.nickname}}</td>
      <td>
        <li ng-repeat="bigdata in customer.bigdata">
          <a ng-click="vm.viewModal('Bigdata', customer, bigdata)">
            {{bigdata.prefix}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.openEditModal('Bigdata', customer, 'bigdata')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="content in customer.contentsync">
          <a ng-click="vm.viewModal('Content sync', customer, content)">
              {{content.name || 'NO_NAME'}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.openEditModal('Content Sync', customer, 'contentsync')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="pkg in customer.pkgindex">
          <a ng-click="vm.viewModal('Package Index', customer, pkg)">
            {{pkg.dir}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.openEditModal('Package Index', customer, 'pkgindex')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="mandatory in customer.mandatorypkgs">
          <a ng-click="vm.viewModal('Mandatory Packages', customer, mandatory)">
            {{mandatory.pkgname}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.openEditModal('Mandatory Packages', customer, 'mandatorypkgs')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="meta in customer.prefixmeta">
          <a ng-click="vm.viewModal('Prefix Metadata', customer, meta)">
            {{meta.name}}: {{meta.lastindex}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.openEditModal('Prefix Metadata', customer, 'prefixmeta')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="power in customer.power">
          <a ng-click="vm.viewModal('Power Timer', customer, power)">
            {{power.day}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.openEditModal('Power', customer, 'power')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="theme in customer.theme.themes">
          <a ng-click="vm.viewModal('Theme', customer, theme)">
            {{theme.id}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.openEditModal('Theme', customer, 'theme')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="(key, value) in customer.shell">
          <a ng-click="vm.viewModal('Shell', customer, value)">
            {{key}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.openEditModal('Shell', customer, 'shell')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        {{customer.description}}
      </td>
      <td>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.edit(customer)"><i class="fa fa-paste"></i> Edit</button>
      </td>
    </tr>
  </tbody>
</table>

