<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Device management</h5>
    <!-- <div ibox-tools></div> -->
  </div>
  <div class="ibox-content">
    <button type="button" class="btn btn-info" ng-click="vm.refresh()">Refresh</button>
    <device-list device-list="vm.deviceList" on-changed="vm.refreshDevices()"></device-list>
  </div>
</div>