<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5>Thing Management</h5>
		<!-- <div ibox-tools></div> -->
	</div>
	<div class="ibox-content">
		<button type="button" class="btn btn-primary" ng-click="vm.openModal('createThing')">Create</button>
		<button type="button" class="btn btn-danger" ng-click="vm.openDeleteModal()">Delete</button>
		<change-thing-status thing-list="vm.thingList" on-changed="vm.listThings()"></change-thing-status>
		<thing-list thing-list="vm.thingList" on-changed="vm.listThings()"></thing-list>
	</div>
</div>
