<li class="ibox" ng-show="vm.wifi">
	<div class="ibox-title">
		<h3>{{vm.wifi.name}}</h3>
	</div>
	<form role="submit" ng-submit="vm.connect(!vm.wifi.connected)">
		<div class="ibox-content">
			<div>
				<p>
					<span>신호 강도</span><br/>
					<strong>{{vm.wifi.rate}}</strong>
				</p>
				<p>
					<span>보안</span><br/>
					<strong ng-repeat="security in vm.wifi.security">{{security}} </strong>
					<strong ng-show="vm.wifi.security.length === 0">없음</strong>
				</p>
				<p ng-show="vm.wifi.security.length !== 0 && !vm.wifi.connected">
					<label for="wifiPw">비밀번호</label><br/>
					<input type="password" id="wifiPw" ng-model="vm.password"/>
				</p>
				<p ng-show="vm.wifi.connected">
					<label>연결됨</label><br/>
				</p>
			</div>
		</div>
		<div class="ibox-footer clearfix">
			<button class="btn btn-primary pull-right m-t-sm m-b-sm" type="submit">
				<strong ng-hide="vm.wifi.connected">확 인</strong>
				<strong ng-show="vm.wifi.connected">연결 종료</strong>
			</button>
		</div>
	</form>
</li>