<div class="ibox-content gray-bg m-t">
	<form ng-submit="vm.addBackgrounds(vm.service)">
		<div class="form-group">
			<h4 class="p-h-xs">서비스 앱 추가</h4>
			<div class="input-group">
				<span class="input-group-btn">
				<span class="btn btn-default">앱 추가</span>
				</span>
				<select type="text" class="form-control" ng-model="vm.service.pkgname">
					<option ng-repeat="pkg in vm.pkgs" ng-value="pkg.Package" ng-hide="pkg.view.installed === 'not installed'">{{pkg.Package}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
				<span class="btn btn-default">타입</span>
				</span>
				<select type="text" class="form-control" placeholder="레이어 지정" ng-model="vm.service.group">
					<option ng-value="'background'">background</option>
					<option ng-value="'splashscreen'">splashscreen</option>
					<option ng-value="'screensaver'">screensaver</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
				<span class="btn btn-default">레이어</span>
				</span>
				<select type="text" class="form-control" placeholder="레이어 지정" ng-model="vm.service.layerId">
					<option ng-repeat="layer in vm.layers" ng-value="layer.id">{{layer.id}}</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
				<span class="btn btn-default">너비</span>
				</span>
				<input type="text" class="form-control" placeholder="너비" ng-model="vm.service.width" />
				<span class="input-group-btn">
				<span class="btn btn-default">높이</span>
				</span>
				<input type="text" class="form-control" placeholder="높이" ng-model="vm.service.height" />
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-btn">
				<span class="btn btn-default">X좌표</span>
				</span>
				<input type="text" class="form-control" placeholder="X좌표" ng-model="vm.service.x" />
				<span class="input-group-btn">
				<span class="btn btn-default">Y좌표</span>
				</span>
				<input type="text" class="form-control" placeholder="Y좌표" ng-model="vm.service.y" />
			</div>
		</div>
		<div class="form-group">
			<div class="relPin p-h-xs">
				<h4>params 추가(옵셥)</h4>
				<button class="btn btn-sm btn-info addParams" type="button" ng-click="vm.addParams()"><b>+</b></button>
			</div>
			<ul class="list-unstyled" ng-model="vm.service.params">
				<li class="relPin" ng-repeat="param in vm.params">
					<div class="input-group">
						<span class="input-group-btn">
							<input class="btn btn-default cursorDefault" type="text" placeholder="key 값" ng-model="param.key"/>
						</span>
						<input type="text" class="form-control" placeholder="value 값" ng-model="param.value"/>
						<span class="input-group-btn">
							<button class="btn btn-danger" type="button" ng-click="vm.delParams($index)">X</button>
						</span>
					</div>
				</li>
		</div>

		<div class="ibox-content gray-bg">
			<button class="btn btn-block btn-info" type="submit">추가</button>
		</div>
	</form>
</div>
