<div class="ibox clearfix restorebox">
    <div class="col-md-4">
        <div class="progressBox">
          <ul class="list-unstyled">
    				<li>
    					<span class="number">1</span>
    					<h4>데이터의 위치 선택</h4>
    					<p>자신이 백업하고자 하는 데이터의 위치를 선택합니다.</p>
    				</li>
    				<li>
    					<span class="number">2</span>
    					<h4>기기 선택</h4>
    					<p>클라우드 경우 클라우드 내부 기기를 선택합니다.</p>
    				</li>
    				<li>
    					<span class="number checked">3</span>
    					<h4>데이터 선택</h4>
    					<p>백업하고자 하는 파일을 선택합니다.</p>
    				</li>
    			</ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="ibox-title relPin">
            <i class="fa fa-chevron-left" style="font-size:24px" ng-click="vm.back()"></i>
            <h3 class="inlineBlock">복원 파일 선택</h3>
            <label class="restoreBtn">
              <input type="file" class="ng-isolate-scope" fileread="vm.pickedFile" on-read="vm.onFileSelect">
              <b>파일선택</b>
            </label>
        </div>
        <div class="ibox-content">
            <h4>설정 목록</h4>
            <ul class="list-unstyled">
                <li class="f-s-xl" ng-repeat="item in vm.items" ng-class-odd="gray-bg">
                    <i class="fa fa-file-o"></i>&nbsp&nbsp<b>{{item.name}}</b>
                </li>
            </ul>
        </div>
        <div class="ibox-footer clearfix">
            <button class="btn btn-primary pull-right m-t-sm m-b-sm" type="submit" ng-click="vm.confirmRestore()" ng-disabled="vm.items.length === 0">
			<strong>복원</strong>
		</button>
        </div>
    </div>
</div>
