<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>정보 수정</h5>
  </div>
  <form role="form" ng-submit="vm.updateAttributes()">
    <div class="ibox-content">
      <!-- <p>Sign in today for more expirience.</p> -->
      <div class="form-group">
        <label>이름</label>
        <input placeholder="이름" class="form-control" ng-model="vm.attributes['name']">
      </div>
      <div class="form-group">
        <label>휴대전화</label>
        <input placeholder="휴대전화" class="form-control" ng-model="vm.attributes['phone_number']">
      </div>
      <div class="form-group">
        <label>E-mail</label>
        <input type="E-mail" placeholder="E-mail" class="form-control" ng-model="vm.attributes['email']">
      </div>
    </div>
    <div class="ibox-footer clearfix">
      <span class="pull-right">
        <button class="btn btn-default" type="button" ng-click="vm.resetAttributes()">
          <strong>초기화</strong>
        </button>
        &nbsp;
        <button class="btn btn-info" type="submit">
          <strong>변경</strong>
        </button>
      </span>
    </div>
  </form>
</div>
