<form class="form-inline" role="form" ng-submit="vm.add()">
    <div class="modal-header">
      <h3>동기화 폴더 추가</h3>
    </div>
      <div class="modal-body">
        <div class="form-group">
    			<div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-default" style="width:105px"><b>컨텐츠 별칭</b></span>
            </span>
            <input type="text" name="content" placeholder="컨텐츠 이름" id="content" title="content" required="" class="form-control" ng-model="vm.content.name"/>
    			</div>
        </div>

        <div class="form-group">
    			<div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-info" style="width:105px"><b>동기화폴더</b></span>
            </span>
            <input type="text" name="content" placeholder="가져올 위치" id="usb" title="content" required="" class="form-control" ng-change="vm.checkSlash(vm.content)" ng-model="vm.content.src"/>
    			</div>
        </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-warning" ng-click="vm.cancel()"><b class="p-w-sm">취  소</b></a>
      <button type="submit" class="btn btn-primary"><b class="p-w-sm">추  가</b></button>
    </div>
  </form>
