<div>
	<div class="row wrapper page-heading">
		<div class="col-lg-10">
			<h2>
				RPC TEST
			</h2>
			<ol class="breadcrumb">
					<li class="active">
							<a href="index.html"><strong>RPC TEST</strong></a>
					</li>

			</ol>
		</div>
	</div>
	<div class="wrapper wrapper-content">
		<div>
			<div class="row">
				<div class="col-md-4" ng-show="$root.SNOW_MODE === 'local'">
					<request-confirm></request-confirm>
				</div>
			</div>
		</div>
		<div>
			<h1>
        This is {{ vm.name }} for testing RPC with real device using aws iot<br>
        device connection status: {{ vm.status }}
			</h1>
      <br><br>
      <button class="btn btn-default" ng-click="vm.getDevInfo('listTouches')">Touch Info</button>
      <button class="btn btn-default" ng-click="vm.getDevInfo('listSounds')">Sound Info</button>
      <button class="btn btn-default" ng-click="vm.getDevInfo('listDisplayResolutions')">Resolution Info</button>
      <button class="btn btn-default" ng-click="vm.getDevInfo('listScreenshots')">Screenshot Info</button>
      <button class="btn btn-default" ng-click="vm.getDevInfo('listIpaddrs')">IP Address Info</button>
      <br>
      <input type="text" ng-model="vm.customCommand" placeholder="type unix command"> <button class="btn btn-default" ng-click="vm.runCommand()">Run</button>
      <div>
        <pre>
        {{ vm.customCommandResult }}
        </pre>
      </div>
      <br><br>
      <button class="btn btn-default" ng-click="vm.controlPower('powerOn')">Power On</button>
      <button class="btn btn-default" ng-click="vm.controlPower('powerOff')">Power Off</button>
      <button class="btn btn-default" ng-click="vm.controlPower('reboot')">Reboot</button>
      <button class="btn btn-default" ng-click="vm.controlPower('powerCancel')">Power Cancel</button>
      <br><br>
      <button class="btn btn-default" ng-click="vm.echo('Test string')">echo</button>
      <br><br>

    </div>
	</div>
</div>
