<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Update attributes</h5>
  </div>
  <div class="ibox-content">
    <!-- <p>Sign in today for more expirience.</p> -->
    <form role="form">
      <div class="form-group">
        <label>Name</label>
        <input placeholder="Name" class="form-control" ng-model="vm.attributes['name']">
      </div>
      <div class="form-group">
        <label>E-mail</label>
        <input type="email" placeholder="E-mail" class="form-control" ng-model="vm.attributes['email']">
      </div>
      <div class="form-group">
        <label>Phone number</label>
        <input placeholder="Phone number" class="form-control" ng-model="vm.attributes['phone_number']">
      </div>
      <div>
        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit" ng-click="vm.updateAttributes()">
          <strong>Submit</strong>
        </button>
        <button class="btn btn-sm btn-default pull-right m-t-n-xs" type="submit" ng-click="vm.resetAttributes()">
          <strong>Reset</strong>
        </button>
      </div>
      <br/>
    </form>
  </div>
</div>