<div class="userinfoMenu">
	<div class="row wrapper page-heading">
		<h2>
			계정
		</h2>
		<ol class="breadcrumb">
			<li>계정</li>
		</ol>
	</div>
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="clearfix">
			<div class="col-md-6 userInfo">
				<update-attributes></update-attributes>
				<verify-email></verify-email>
			</div>
			<div class="col-md-6">
				<div class="ibox userInfo">
					<change-password></change-password>
					<drop-out></drop-out>
				</div>
			</div>
		</div>
	</div>
</div>
