<div class="row">
  <div class="col-md-12">
    <div class="ibox addList">
      <div class="ibox-title relPin">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="리스트 이름">
        </div>
        <button class="btn btn-lg btn-info addList-apply"><i class="fa fa-download"></i></button>
      </div>
      <div class="ibox-content">
        <div class="addList-radio">
          <label ng-repeat="list in vm.lists" ng-class="{'active':list.radio}">
            <span class="rec" ng-click="vm.radioClass($index)"></span>
            <span class="cirbtn" ng-click="vm.radioClass($index)"></span>
            <input type="radio" name="addList-radio"/>
          </label>
        </div>
        <div class="addListPreview">
            <h3 class="text-center p-h-md">{{vm.screen.name}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix p-h-lg">
  <div class="col-md-6">
    <div class="ibox addList">
      <div class="ibox-title relPin">
        <div class="input-group">
          <select class="form-control">
            <option>이름</option>
            <option>크기</option>
            <option>포맷</option>
            <option>최근수정날짜</option>
          </select>
        </div>
        <button class="btn btn-info abs-right-top" ng-click="vm.addSceneList()">리스트에 추가</button>
      </div>
        <div class="ibox-content">
          <ul class="list-unstyled addList-add clearfix">
            <li class="relPin" ng-repeat="scene in vm.scenes">
              <label class="scene">
                  <div class="scene-img">
                    <img src="/assets/img/{{scene.scene.src}}" alt="image1">
                  </div>
                  <div class="scene-title">
                    <h4>{{scene.scene.name}}</h4><br>
                  </div>
                  <input type="checkbox" class="cardmenu-checkbox" ng-model="scene.check">
                </label>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="ibox">
      <div class="ibox-title">
        <div class="input-group">
          <h4>리스트 구조</h4>
        </div>
      </div>
      <div class="ibox-content">
        <ul class="list-unstyled addList-archi" ui-sortable ng-model="vm.values">
          <li ng-repeat="item in vm.values" ng-class-even="'gray-bg'">
            <p>
              <img src="/assets/img/{{item.src}}" alt="image1">
            </p>
            <p>
              <b>{{item.name}}</b>
            </p>
            <a class="abs-right-bottom" ng-click="vm.removeList(index)">
              <i class="fa fa-trash"></i>
            </a>
          </li>
        </ul>
        <div class="clearfix m-b-sm">
          <div class="col-xs-6">00:30:00</div>
          <div class="col-xs-6 text-align-right">1GB</div>
        </div>
      </div>
    </div>
  </div>
</div>
