<div class="modal-header">
	<h3>기존 설정 유지 여부</h3>
	<span class="text-warning">기존 설정 유지 혹은 설정 초기화 중 하나를 선택해주세요</span>
</div>
<div class="modal-body clearfix">
	<div class="col-sm-6 b-r setMode text-center" id="sync">
		<a title="Ethernet" class="p-h-lg" ng-click="vm.change(true)">
			<h3 class="p-h-lg">기존 설정 유지</h3>
		</a>
	</div>
	<div class="col-sm-6 setMode text-center" id="init">
		<a title="wifi" class="p-h-lg text-danger" ng-click="vm.confirmChange(false)">
			<h3 class="p-h-lg">설정 초기화</h3>
		</a>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" ng-click="vm.close()">취소</button>
</div>
