<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<!-- cloud version -->
		<ul side-navigation class="nav metismenu" id="side-menu" ng-if="$root.SNOW_MODE === 'cloud'">
			<li ui-sref-active="active">
				<a ui-sref="home"><i class="fa fa-home"></i> <span class="nav-label">{{ '홈' | translate }}</span> </a>
			</li>
			<li ui-sref-active="active" ng-show="vm.type === 'installer'">
				<a ui-sref="install"><i class="fa fa-tv"></i> <span class="nav-label">{{ '설치관리' | translate }}</span> </a>
			</li>
			<li ng-class="{active: $state.includes('pkg')}">
				<a href="index.html"><i class="fa fa-cubes"></i> <span class="nav-label">{{ '패키지' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('pkg')}">
					<li ui-sref-active="active"><a ui-sref="pkg.management">{{ '설치된 패키지' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="pkg.store">{{ '패키지 설치하기' | translate }}</a></li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="content"><i class="fa fa-file-image-o"></i> <span class="nav-label">{{ '컨텐츠' | translate }}</span> </a>
			</li>
			<li ng-class="{active: $state.includes('power')}">
				<a href="index.html"><i class="fa fa-power-off"></i> <span class="nav-label">{{ '원격관리' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('power')}">
					<li ui-sref-active="active"><a ui-sref="power.control">{{ '전원관리' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="power.timer">{{ '타이머 설정' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="power.ip">{{ 'IP' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="power.terminal">{{ '개발자모드' | translate }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('backup') || $state.includes('restore') }">
				<a href="index.html"><i class="fa fa-hdd-o"></i> <span class="nav-label">{{ '백업 및 복원' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('backup') || $state.includes('restore') }">
					<li ui-sref-active="active"><a ui-sref="backup.1">{{ '백업' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="restore.source">{{ '복원' | translate }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('theme') || $state.includes('shell') }">
				<a href="index.html"><i class="fa fa-cog"></i> <span class="nav-label">{{ '화면 및 테마' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('theme') || $state.includes('shell') }">
					<li ui-sref-active="active"><a ui-sref="theme.themeList">{{ '테마' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="shell.shellList">{{ '화면설정' | translate }}</a></li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="monitoring.selectDevice"><i class="fa fa-bar-chart"></i> <span class="nav-label">{{ '모니터링' | translate }}</span> </a>
			</li>
			<li ng-class="{active: $state.includes('auxDevice') }">
				<a href="index.html"><i class="fa fa-television"></i> <span class="nav-label">{{ '장치' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('auxDevice') }">
					<li ui-sref-active="active"><a ui-sref="auxDevice.auxAudio">{{ '소리' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="auxDevice.auxNetwork"> {{ '네트워크' | translate }}</a></li>
				</ul>
			</li>
			<!-- <li ng-class="{active: $state.includes('bigdata')}" ng-show="vm.type === 'user'">
				<a href="index.html"><i class="fa fa-database"></i> <span class="nav-label">{{ '빅데이터' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('bigdata')}">
					<li ui-sref-active="active"><a ui-sref="bigdata.visitor">{{ 'VISITOR' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="bigdata.sensor">{{ 'SENSOR' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="bigdata.pattern">{{ 'PATTERN' | translate }}</a></li>
				</ul>
			</li> -->
			<li ng-class="{active: $state.includes('userInfo')  }" ng-show="vm.type === 'user'">
				<a href="index.html"><i class="fa fa-info-circle"></i> <span class="nav-label">{{ '정보' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('theme') || $state.includes('shell') }">
					<li ui-sref-active="active" ng-show="vm.type === 'user'">
						<a href="index.html"><span class="nav-label">{{ 'PC스펙' | translate }}</span> </a>
					</li>
					<li ui-sref-active="active" ng-show="vm.type === 'user'">
						<a href="index.html"><span class="nav-label">{{ 'SW스펙' | translate }}</span> </a>
					</li>
					<li ui-sref-active="active" ng-show="vm.type === 'user'">
						<a ui-sref="userInfo"><span class="nav-label">{{ '계정' | translate }}</span> </a>
					</li>
				</ul>
			</li>
      <!--
			<li ui-sref-active="active">
				<a ui-sref="rpctest"><i class="fa fa-user"></i> <span class="nav-label">{{ 'DEVICE_RPC' | translate }}</span> </a>
			</li>
      -->
			<li>
				<ul class="bottom-menu list-unstyled">
					<li ui-sref-active="active">
						<a ui-sref="nemoPolicy"><span>{{ '회사정책' | translate }}</span> </a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref="nemoIntro"><span>회사소개</span> </a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- local version-->
		<ul side-navigation class="nav metismenu" id="side-menu" ng-if="$root.SNOW_MODE === 'local'">
			<li ui-sref-active="active">
				<a ui-sref="home"><i class="fa fa-home"></i> <span class="nav-label">{{ '홈' | translate }}</span> </a>
			</li>
			<li ng-class="{active: $state.includes('pkg')}">
				<a href="index.html"><i class="fa fa-cubes"></i> <span class="nav-label">{{ '패키지' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('pkg')}">
					<li ui-sref-active="active"><a ui-sref="pkg.management">{{ '설치된 패키지' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="pkg.store">{{ '패키지 설치하기' | translate }}</a></li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="content"><i class="fa fa-file-image-o"></i> <span class="nav-label">{{ '컨텐츠' | translate }}</span> </a>
			</li>
			<li ng-class="{active: $state.includes('backup') || $state.includes('update')}">
				<a href="index.html"><i class="fa fa-cubes"></i> <span class="nav-label">{{ '벡업 및 복원' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('backup') || $state.includes('update')}">
					<li ui-sref-active="active"><a ui-sref="backup.1">{{ '백업' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="update">{{ '복원' | translate }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('theme') || $state.includes('shell') }">
				<a href="index.html"><i class="fa fa-power-off"></i> <span class="nav-label">{{ '화면 및 테마' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('theme') || $state.includes('shell') }">
					<li ui-sref-active="active"><a ui-sref="theme.themeList">{{ '테마' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="shell.shellList">{{ '화면설정' | translate }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('power')}">
				<a href="index.html"><i class="fa fa-power-off"></i> <span class="nav-label">{{ '원격관리' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('power')}">
					<li ui-sref-active="active"><a ui-sref="power.timer">{{ '타이머 설정' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="power.terminal">{{ '개발자모드' | translate }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('setting')}">
				<a href="index.html"><i class="fa fa-user"></i> <span class="nav-label">{{ '장치' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('setting')}">
					<li ui-sref-active="active"><a ui-sref="setting.audioControl">{{ '오디오' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="setting.network">{{ '네트워크' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="mode.select">{{ '모드' | translate }}</a></li>
				</ul>
			</li>
			<li ng-class="{active: $state.includes('localInfo')  }">
				<a href="index.html"><i class="fa fa-info-circle"></i> <span class="nav-label">{{ '정보' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('localInfo') }">
					<li ui-sref-active="active"><a ui-sref="info">{{ 'PC 스펙' | translate }}</a></li>
					<li ui-sref-active="active"><a href="index.html">{{ 'SW스펙' | translate }} </a></li>
					<li ui-sref-active="active"><a ui-sref="localInfo.accountModify">{{ '계정' | translate }}</a></li>
				</ul>
			</li>
		</ul>
		<!--usb mode -->
		<ul side-navigation class="nav metismenu" id="side-menu" ng-if="$root.SNOW_MODE === 'usb'">
			<li ui-sref-active="active">
				<a ui-sref="home"><i class="fa fa-home"></i> <span class="nav-label">{{ '홈' | translate }}</span> </a>
			</li>
			<li ng-class="{active: $state.includes('pkg')}">
				<a href="index.html"><i class="fa fa-cubes"></i> <span class="nav-label">{{ '패키지' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('pkg')}">
					<li ui-sref-active="active"><a ui-sref="pkg.management">{{ '설치된 패키지' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="pkg.store">{{ '패키지 설치하기' | translate }}</a></li>
				</ul>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="content"><i class="fa fa-file-image-o"></i> <span class="nav-label">{{ '컨텐츠' | translate }}</span> </a>
			</li>
			<li ng-class="{active: $state.includes('power')}">
				<a ui-sref="power.timer"><i class="fa fa-clock-o"></i> <span class="nav-label">{{ '타이머 설정' | translate }}</span></a>
			</li>
			<li ng-class="{active: $state.includes('theme') || $state.includes('shell') }">
				<a href="index.html"><i class="fa fa-cog"></i> <span class="nav-label">{{ '화면 및 테마' | translate }}</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('theme') || $state.includes('shell') }">
					<li ui-sref-active="active"><a ui-sref="theme.themeList">{{ '테마' | translate }}</a></li>
					<li ui-sref-active="active"><a ui-sref="shell.shellList">{{ '화면설정' | translate }}</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
