<div class="pkgMenu">
	<div class="row wrapper page-heading">
		<h2>패키지</h2>
		<ol class="breadcrumb">
			<li ng-repeat="breadcrumb in vm.breadcrumbs.slice(0, vm.breadcrumb.length - 1)">
				{{breadcrumb}}
			</li>
			<li class="active">
				<strong>{{vm.breadcrumbs[vm.breadcrumbs.length - 1]}}</strong>
			</li>
		</ol>
	</div>
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="ibox" ng-show="vm.resolve.message">
				<div class="ibox-title">
					 <h4>USB를 먼저 선택해주세요</h4>
				</div>
				<div class="ibox-content">
					{{vm.resolve.message}}
				</div>
			</div>
			<div class="col-lg-12" ng-hide="vm.resolve.message">
				<pkg-upload resolve="vm.resolve" ng-if="$root.SNOW_MODE === 'usb' && vm.resolve.mode === 'store'"></pkg-upload>
				<ui-view resolve="vm.resolve"></ui-view>
			</div>
		</div>
	</div>
</div>
