<div class="inmodal">
  <div class="modal-header">
    <!-- <i class="fa fa-laptop modal-icon"></i> -->
    <h4 class="modal-title">Create Device</h4>
    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
  </div>
  <form role="submit" ng-submit="vm.create()">
    <div class="modal-body">
      <div class="form-group">
        <label>Customer</label>
        <select class="form-control m-b" name="Customer" ng-model="vm.customer">
            <option ng-repeat="customer in vm.customerList">{{customer.name}}</option>
        </select>
        <label>Prefix</label>
        <input placeholder="Prefix" class="form-control" ng-model="vm.prefix">
        <label>Mode</label>
        <select class="form-control m-b" name="Mode" ng-model="vm.mode">
            <option ng-repeat="mode in vm.modes">{{mode}}</option>
        </select>
        <label>Number</label>
        <input type="number" placeholder="Number" class="form-control" ng-model="vm.number">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>