<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">상세 정보</h4>
	</div>
		<div class="modal-body">
			<h4>{{vm.file.Key}}</h4>
			<p>사이즈 : {{vm.file.Size}}</p>
			<p>마지막 수정 날짜 : {{vm.file.LastModified}}</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-warning" ng-click="vm.close()">확인</button>
		</div>
</div>
