body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.container-edge {
	position: relative;
	width: 99%; /* not 100%, for border width */
	height: 99%; /* not 100%, for border width */
	background-color: #FFFFFF;
	border-radius: 15px;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #EEEEEE;
}

.item-edge {
	width: 100%;
	height: 100%;
	margin: 10px;
}

.container-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.item-content-header {
	width: 100%;
	flex: 0 0 10px;
}

.item-content-footer {
	width: 100%;
	flex: 0 0 60px;
}

.item-content-webview {
	width: 100%;
	height: 90%;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 5px 3px #CCCCCC;
	flex: 1 0 0;
	position: relative;
}

.container-control-button {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.item-control-button {
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
	/* border: 1px solid #CCCCCC; */

	display: flex;
	align-items: center;
	text-align: center;
	color: #EEEEEE;
	font-size: 30px;
}


.item-control-button:active {
	color: #3e8e41;
	transition: color .1s ease-in-out;
}
/*
.item-control-button:active {
	background-color: #3e8e41;
	font-size: 30px;
	transition: background-color .1s ease-in-out;
	transition: font-size .1s ease-in-out;
	border-radius: 25px;
}
*/

.web-marker {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: none;
	border: 1px solid #000000;
}
