<div class="modal-header">
	<strong class="f-s-lg">{{vm.title || '오류!'}}</strong>
</div>
<div class="modal-body p-h-sm">	
	<pre>{{vm.content}}</pre>
	<pre ng-show="vm.error">Error: {{vm.error}}</pre>
</div>
<div class="modal-footer">
	<div class="input-group-btn">
		<button class="btn btn-warning" ng-click="vm.close()">
			<strong>확인</strong>
		</button>
	<div>
</div>
