<div class="row">
	<div class="col-md-7">
		<update-attributes></update-attributes>
	</div>
  <div class="col-md-5">
		<change-password></change-password>
	</div>
  <div class="col-md-4">
		<verify-email></verify-email>
	</div>
  <div class="col-md-4">
		<drop-out></drop-out>
	</div>
</div>
