<div class="ibox">
	<ul class="list-unstyled">
		<uib-tabset active="vm.tab" >
			<uib-tab ng-repeat="ifce in vm.ifces" index="ifce.device" ng-click="vm.tabSelected(ifce)">
				<uib-tab-heading>
					{{ifce.device}}  <i class="fa fa-circle" style="color:green" ng-show="ifce.state === 'connected'"></i>
					<i class="fa fa-circle" style="color:red" ng-hide="ifce.state === 'connected'"></i>
				</uib-tab-heading>
				<ul class="list-unstyled ibox-content">
					<li class="row m-b-md wifi relPin" ng-repeat="wifi in ifce.accesspoints">
						<a title="#" ng-click="vm.selectWifi(ifce, wifi)" class="clearfix">
							<div class="col-md-1">
								<div class="wifi-symbol">
									<div class="wifi-circle first"></div>
									<div class="wifi-circle second" ng-show="wifi.signal > 25"></div>
									<div class="wifi-circle third" ng-show="wifi.signal > 50"></div>
									<div class="wifi-circle fourth" ng-show="wifi.signal > 75"></div>
								</div>
							</div>
							<div class="col-md-11 p-h-sm">
								<strong>{{wifi.name}}</strong>
							</div>
							<div class="abs-left-top" ng-show="wifi.connected"> 연결됨 </div>
						</a>
					</li>
				</ul>
			</uib-tab>
		</uib-tabset>
	</ul>
</div>
