<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>
			Customer
		</h2>
		<ol class="breadcrumb">
			<li>Customer</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-12">
			<customer-management></customer-management>
		</div>
	</div>
</div>