<div class="inmodal">
  <div class="modal-header">
    <h4 class="modal-title">{{vm.title}}</h4>
    <small class="font-bold">{{vm.subTitle}}</small>
  </div>
  <div class="modal-body">
    <div>
      <label>Installed Device</label>
      <li ng-repeat="device in vm.installedDevices">{{device.name}}</li>
      <br>
    </div>
    <div>
      <angular-jsoneditor ng-model="vm.data" options="vm.options"></angular-jsoneditor>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="vm.close()">Cancel</button>
  </div>
</div>