<div class="terminal">
	<div class="row wrapper page-heading">
		<h2>터미널</h2>
	</div>
	<div class="wrapper-content">
		<div class="row">
			<div class="col-md-12">
				<select class="input-group selectTerminal" ng-model="vm.device" ng-change="vm.selectDevice()">
					<option ng-repeat="device in vm.deviceList" ng-value="device">{{device.name}}</option>
				</select>
				<div class="terminal-box">
					<ul class="list-unstyled">
						<li ng-repeat="cmd in vm.commands">
							<pre class="cli resMsg">#{{cmd.resMsg}}</pre>
							<pre class="cli reqMsg">{{cmd.cmdResult}}</pre>
						</li>
					</ul>
				</div>
				<div class="input-group">
					<input type="text" ng-model="vm.resMsg" class="form-control" placeholder="type unix command"/>
					<div class="input-group-btn">
						<button class="btn btn-gray" type="button" ng-click="vm.runCommand()">enter</button>
						<button class="btn btn-warning" type="button" ng-click="vm.clear()">clear</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
