<div uib-dropdown class="m-hide m-t-xs">
	<a class="count-info" href uib-dropdown-toggle ng-click="vm.getUsbInfo()">
		<i class="fa fa-list"></i>&nbsp; USB 목록
	</a>
	<ul uib-dropdown-menu class="animated fadeIn m-t-xs usbList">
		<li ng-show="vm.usbs.length === 0">
			<a ui-sref="inbox">
				<span class="text-danger" ng-show="vm.error">USB 목록을 가져올 수 없습니다.</span>
				<span ng-hide="vm.error">USB가 없습니다</span>
			</a>
		</li>
		<li ng-repeat="usb in vm.usbs">
			<a ui-sref="inbox">
				<i class="fa fa-usb fa-fw"></i>{{usb.model}}
				<button class="btn btn-danger btn-xs pull-right" ng-click="vm.confirmEject(usb)">삭제</button>
				<button class="btn btn-success btn-xs pull-right">선택</button>
			</a>
		</li>
	</ul>
</div>
