<div class="ibox-content gray-bg m-t">
	<h4>레이어 추가</h4>
	<form ng-submit="vm.addLayer(vm.layer)">
		<div class="input-group">
			<span class="input-group-btn">
				<span class="btn btn-default">레이어 이름</span>
			</span>
			<input type="text" class="form-control" placeholder="레이어 이름" ng-model="vm.layer.id" />
		</div>
		<div class="ibox-content gray-bg">
			<button class="btn btn-block btn-info" type="submit">설정</button>
		</div>
	</form>
</div>
