<div class="modal in" style="display: block">
	<div class="modal in" style="display: block">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<strong class="f-s-lg">{{vm.title}}</strong>
				</div>
				<div class="modal-body p-h-sm">
					<pre>{{vm.content}}</pre>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning m-t-sm m-b-sm" ng-click="vm.close()">
								<strong>확인</strong>
							</button>
					<button class="btn btn-warning m-t-sm m-b-sm">
								<strong>취소</strong>
							</button>
				</div>
			</div>
		</div>
	</div>
</div>
