<div class="ctrlMenu">
	<div class="row wrapper page-heading">
		<h2>
			원격 관리
		</h2>
		<ol class="breadcrumb">
			<li class="active"><strong>{{vm.subtitle}}</strong></li>
		</ol>
	</div>
	<div class="wrapper wrapper-content animated fadeIn">
		<deny-cloud-mode target="'원격관리'" ng-show="$root.SNOW_MODE === 'local' && vm.localApis.mode === 'cloud'"></deny-cloud-mode>
		<ui-view resolve="vm.resolve" ng-if="$root.SNOW_MODE === 'cloud' || vm.localApis.mode === 'local'"></ui-view>
	</div>
</div>
