<div class="col-md-6">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h4>{{vm.options.title}}</h4>
      <p class="text-info">{{vm.options.content}} <a href="#" uib-tooltip="{{vm.options.tooltip}}"><i class="fa fa-info-circle" style="color:black"></i></a></p>
    </div>
    <div class="ibox-content">
      <div class="row">
        <iframe ng-src="{{vm.trust(vm.url)}}" height="400" frameborder="0" class="col-xs-12"></iframe>
      </div>
    </div>
  </div>
</div>
