<table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="table table-striped table-bordered table-hover" show-filter="false">
  <thead>
    <tr>
      <th class="text-center">
        <!-- <input type="checkbox" ng-click="vm.applyCheckAll()" ng-model="vm.checkAll"> -->
      </th>
      <th>ID</th>
      <th>Package Index</th>
      <th>Package Config</th>
      <th>Package List</th>
      <th>Content Sync</th>
      <th>Bigdata</th>
      <th>Mandatory Packages</th>
      <th>Power Timer</th>
      <th>Theme</th>
      <th>Shell</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="device in vm.deviceList">
      <td class="text-center">
        <input type="checkbox" ng-model="device.check"></input>
      </td>
      <td>{{device.name}}</td>
      <td>
        <li ng-repeat="index in device.pkgindex">
          <a ng-click="vm.viewModal('Package Index', device, index)">
            {{index.dir}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.editItem(device, 'pkgindex')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="pkgConfig in device.pkgConfig">
          <a ng-click="vm.editPkgConfig(device, pkgConfig)">{{pkgConfig.name}}</a>
        </li>
      </td>
      <td>
        <li ng-repeat="pkg in device.pkglist">
          <a ng-click="vm.viewModal('Package', device, pkg)">{{pkg.pkgname}}</a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.editItem(device, 'pkglist')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="contents in device.contentsync">
          <a ng-click="vm.viewModal('Content sync', device, contents)">
              {{contents.name || 'NO_NAME'}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.editItem(device, 'contentsync')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="bigdata in device.bigdata">
          <a ng-click="vm.viewModal('Bigdata', device, bigdata)">
            {{bigdata.prefix}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.editItem(device, 'bigdata')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="mandatory in device.mandatorypkgs">
          <a ng-click="vm.viewModal('Mandatory Packages', device, mandatory)">
            {{mandatory.pkgname}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.editItem(device, 'mandatorypkgs')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="timer in device.power">
          <a ng-click="vm.viewModal('Power Timer', device, timer)">
            {{timer.day}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.editItem(device, 'power')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="theme in device.theme.themes">
          <a ng-click="vm.viewModal('Theme', device, theme)">
            {{theme.id}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.editItem(device, 'theme')"><i class="fa fa-paste"></i> Edit</button>
      </td>
      <td>
        <li ng-repeat="(key, value) in device.shell">
          <a ng-click="vm.viewModal('Shell', device, value)">
            {{key}}
          </a>
        </li>
        <button class="btn btn-info btn-xs" type="button" ng-click="vm.editItem(device, 'shell')"><i class="fa fa-paste"></i> Edit</button>
      </td>
    </tr>
</table>

