<div ng-show="$root.SNOW_MODE === 'local'">
  <div class="col-md-6 col-lg-4">
      <div class="ibox">
          <div class="ibox-content">
              <div class="clearfix homeThumbnails">
                  <span><i class="fa fa-file-image-o"></i></span>
                  <h4>컨텐츠</h4>
                  <p>
                      컨텐츠는 기기에서 볼 수 있는 영상이나 사진을 의미합니다.</br>
                      사용자는 이 메뉴를 통해 클라우드와 클라우드에 연결된 모든 기기의 컨텐츠를 동기화 할 수 있습니다.
                  </p>
              </div>
          </div>
          <div class="ibox-footer text-center">
              <button class="btn-home m-b-md" ui-sref="content">컨텐츠 메뉴로</button>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="ibox">
          <div class="ibox-content">
              <div class="clearfix homeThumbnails">
                  <span><i class="fa fa-cubes"></i></span>
                  <h4>패키지</h4>
                  <p>
                      패키지는 기기를 구동하기 위해 필요한 프로그램을 의미합니다. </br>
                      사용자는 이 메뉴를 통해 패키지를 설치, 삭제, 설정할 수 있습니다.
                  </p>
              </div>
          </div>
          <div class="ibox-footer text-center">
              <button class="btn-home m-b-md" ui-sref="pkg.mode">패키지 메뉴로</button>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="ibox">
          <div class="ibox-content">
              <div class="clearfix homeThumbnails">
                  <span><i class="fa fa-repeat"></i></span>
                  <h4>업데이트</h4>
                  <p>
                      USB 메모리장치를 통해 패키지와 설정, 컨텐츠를 업데이트 할 수 있는 메뉴입니다.</br>
                      먼저 USB를 꽂고 업데이트하세요.
                  </p>
              </div>
          </div>
          <div class="ibox-footer text-center">
              <button class="btn-home m-b-md" ui-sref="update">업데이트 메뉴로</button>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="ibox">
          <div class="ibox-content">
              <div class="clearfix homeThumbnails">
                  <span><i class="fa fa-hdd-o"></i></span>
                  <h4>백업</h4>
                  <p>
                      앱 설정이나 빅데이터를 위한 로그데이터를 usb나 클라우드로 백업하는 메뉴입니다.<br/> 백업시 기존의 로그데이터는 삭제됩니다.
                  </p>
              </div>
          </div>
          <div class="ibox-footer text-center">
              <button class="btn-home m-b-md" ui-sref="backup.1">백업 메뉴로</button>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="ibox">
          <div class="ibox-content">
              <div class="clearfix homeThumbnails">
                  <span><i class="fa fa-cloud"></i></span>
                  <h4>모드</h4>
                  <p>
                      클라우드 모드에서 로컬모드로, 로컬모드에서 클라우드 모드로 전환하는 메뉴입니다.</br>
                      모드 전환시 재부팅이 이루어지니 다른 작업들을 중지해주세요.
                  </p>
              </div>
          </div>
          <div class="ibox-footer text-center">
              <button class="btn-home m-b-md" ui-sref="mode.select">모드 메뉴로</button>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="ibox">
          <div class="ibox-content">
              <div class="clearfix homeThumbnails">
                  <span><i class="fa fa-desktop"></i></span>
                  <h4>정보</h4>
                  <p>
                      기기에 관련된 정보들을 제공합니다.</br>
                  </p>
              </div>
          </div>
          <div class="ibox-footer text-center">
              <button class="btn-home m-b-md" ui-sref="info">정보 메뉴로</button>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="ibox">
          <div class="ibox-content">
              <div class="clearfix homeThumbnails">
                  <span><i class="fa fa-sign-language"></i></span>
                  <h4>테마</h4>
                  <p>
                      NEMOUX에서 제공하는 테마를 관리하는 메뉴입니다. </br>
                  </p>
              </div>
          </div>
          <div class="ibox-footer text-center">
              <button class="btn-home m-b-md" ui-sref="theme.themeList">테마 메뉴로</button>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="ibox">
          <div class="ibox-content">
              <div class="clearfix homeThumbnails">
                  <span><i class="fa fa-volume-up"></i></span>
                  <h4>오디오</h4>
                  <p>
                      기기의 오디오 볼륨을 조절하는 메뉴입니다.</br>
                  </p>
              </div>
          </div>
          <div class="ibox-footer text-center">
              <button class="btn-home m-b-md" ui-sref="setting.audioControl">오디오 메뉴로</button>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="ibox">
          <div class="ibox-content">
              <div class="clearfix homeThumbnails">
                  <span><i class="fa fa-wifi"></i></span>
                  <h4>네트워크</h4>
                  <p>
                      네트워크 설정을 하는 메뉴입니다.</br>
                      유선무선 연결 및 설정을 할 수 있습니다.
                  </p>
              </div>
          </div>
          <div class="ibox-footer text-center">
              <button class="btn-home m-b-md" ui-sref="setting.network">네트워크 메뉴로</button>
          </div>
      </div>
  </div>
  <div class="col-md-6 col-lg-4">
      <div class="ibox">
          <div class="ibox-content">
              <div class="clearfix homeThumbnails">
                  <span><i class="fa fa-user"></i></span>
                  <h4>계정</h4>
                  <p>
                      비밀번호 변경을 할 수 있습니다.</br>
                      발급받으신 비밀번호는 해킹의 위험이 있사오니 변경하여 주세요.
                  </p>
              </div>
          </div>
          <div class="ibox-footer text-center">
              <button class="btn-home m-b-md" ui-sref="setting.accountModify">계정 메뉴로</button>
          </div>
      </div>
  </div>
</div>
