<div class="inmodal">
  <div class="modal-header">
    <!-- <i class="fa fa-laptop modal-icon"></i> -->
    <h4 class="modal-title">Edit Thing</h4>
    <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
  </div>
  <form role="submit" ng-submit="vm.update()">
    <div class="modal-body">
      <div class="form-group">
        <label>Name</label>
        <input placeholder="Name" class="form-control" ng-model="vm.thing.thingName" ng-disabled="true">
        <label>Status</label>
        <select class="form-control m-b" name="status" ng-model="vm.thing.attributes.status">
            <option ng-repeat="status in vm.statusList">{{status}}</option>
        </select>
        <label>Mode</label>
        <select class="form-control m-b" name="mode" ng-model="vm.thing.attributes.mode">
            <option ng-repeat="mode in ['local', 'cloud']">{{mode}}</option>
        </select>
        <label>HW Key</label>
        <input placeholder="HWKey" class="form-control" ng-model="vm.thing.attributes.hwKey">
        <label>Cloud Allowed</label>
        <select class="form-control m-b" name="Cloud Allowed" ng-model="vm.thing.attributes.cloudAllowed">
            <option ng-repeat="allow in ['0', '1']">{{allow}}</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancel</button>
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
</div>