<div class="row wrapper page-heading">
		<h2>
			업데이트
		</h2>
		<ol class="breadcrumb">
			<li class="active"><strong>Update</strong></li>
		</ol>
</div>
<div>
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="row">
			<div class="col-md-12">
				<!--<update-denied ng-if="$root.SNOW_MODE === 'local' && vm.localApis.mode === 'cloud'"></update-denied>-->
				<deny-cloud-mode target="'업데이트'" ng-show="$root.SNOW_MODE === 'local' && vm.localApis.mode === 'cloud'"></deny-cloud-mode>
				<update-usb ng-if="$root.SNOW_MODE === 'local' && vm.localApis.mode === 'local'"></update-usb>
			</div>
		</div>
	</div>
</div>
