<div class="col-md-6 col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="clearfix homeThumbnails">
                <span><i class="fa fa-archive" aria-hidden="true"></i></span>
                <h4 class="text-center">패키지</h4>
                <p>
                    패키지는 기기를 구동하기 위해 필요한 프로그램을 의미합니다. </br>
                    사용자는 이 메뉴를 통해 패키지를 설치, 삭제, 설정할 수 있습니다.
                </p>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button class="btn-home m-b-md" ui-sref="pkg.mode">패키지 메뉴로</button>
        </div>
    </div>
</div>
<div class="col-md-6 col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="clearfix homeThumbnails">
                <span><i class="fa fa-file-image-o" aria-hidden="true"></i></span>
                <h4 class="text-center">컨텐츠</h4>
                <p>
                  컨텐츠는 기기에서 볼 수 있는 영상이나 사진을 의미합니다.</br>
                  사용자는 이 메뉴를 통해 클라우드와 클라우드에 연결된 모든 기기의 컨텐츠를 동기화 할 수 있습니다.
                </p>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button class="btn-home m-b-md" ui-sref="content">컨텐츠 메뉴로</button>
        </div>
    </div>
</div>
<div class="col-md-6 col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="clearfix homeThumbnails">
                <span><i class="fa fa-power-off"></i></span>
                <h4 class="text-center">전원관리</h4>
                <p>
                    클라우드와 연동되어있는 기기의 전원를 관리하는 메뉴입니다.</br>

                </p>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button class="btn-home m-b-md" ui-sref="power.control">전원관리 메뉴로</button>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="clearfix homeThumbnails">
              <span><i class="fa fa-hdd-o"></i></span>
                <h4>백업</h4>
              <p >
                  관리앱에서 백업한 파일들을 관리하는 메뉴입니다.</br>
                  클라우드에 연결된 기기들로부터 백업 받은 데이터들을 관리 할 수 있습니다.
              </p>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button class="btn-home m-b-md"  ui-sref="backup.1">백업 메뉴로</button>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="clearfix homeThumbnails">
              <span><i class="fa fa-bar-chart"></i></span>
              <h4>모니터링</h4>
              <p>
                  클라우드에 연결되어있는 기기들의 상태를 점검하는 메뉴입니다.</br>
                  현재 CPU, 네트워크, 메모리 사용량, 기기 발열상태, 디스크 사용량을 표현해주고 있습니다.
              </p>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button class="btn-home m-b-md" ui-sref="monitoring.selectDevice">모니터링 메뉴로</button>
        </div>
    </div>
</div>


<div class="col-md-6 col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="clearfix homeThumbnails">
              <span><i class="fa fa-hand-pointer-o" aria-hidden="true"></i></span>
                <h4>테마</h4>
              <p>
                NEMOUX에서 제공하는 테마를 관리하는 메뉴입니다.  </br>
              </p>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button class="btn-home m-b-md"  ui-sref="theme.themeList">테마 메뉴로</button>
        </div>
    </div>
</div>


<div class="col-md-6 col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="clearfix homeThumbnails">
              <span><i class="fa fa-database"></i></span>
              <h4>빅데이터</h4>
              <p>
                  기기들을 통하여 수집한 사용자 행동 데이터들을 이용하여 </br>
                  관리에 필요한 정보를 보여주는 메뉴입니다.
              </p>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button class="btn-home m-b-md" ui-sref="bigdata">빅데이터 메뉴로</button>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="clearfix homeThumbnails">
              <span><i class="fa fa-repeat"></i></span>
                <h4>복원</h4>
              <p>
                  로컬이나 클라우드를 이용하여 복원합니다.</br>
              </p>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button class="btn-home m-b-md" ui-sref="restore.source">복원 메뉴로</button>
        </div>
    </div>
</div>

<div class="col-md-6 col-lg-4">
    <div class="ibox">
        <div class="ibox-content">
            <div class="clearfix homeThumbnails">
              <span><i class="fa fa-user"></i></span>
                <h4>계정</h4>
              <p>
                  클라우드앱 계정에 대한 정보들을 확인, 수정, 삭제하는 메뉴입니다.</br>
                  계정정보 수정과 비밀번호 수정, 이메일 인증, 계정 삭제를 할 수 있습니다.
              </p>
            </div>
        </div>
        <div class="ibox-footer text-center">
            <button class="btn-home m-b-md" ui-sref="userInfo">계정 메뉴로</button>
        </div>
    </div>
</div>
