<div class="modal-header">
	<strong class="f-s-lg">{{vm.title}}</strong>
</div>
<div class="modal-body p-h-sm">
	<pre>{{vm.content}}</pre>
	<pre class="text-danger">{{vm.warning}}</pre>
</div>
<div class="modal-footer">
	<div class="input-group-btn">
		<button class="btn btn-primary" ng-click="vm.onConfirm()">
			<strong>{{vm.confirmButton || '확인'}}</strong>
		</button>
		<button class="btn btn-warning" ng-click="vm.close()">
			<strong>{{vm.cancelButton || '취소'}}</strong>
		</button>
	</div>
</div>
